<div class="site-body ">
    <app-navbar-index></app-navbar-index>

    <main class="site-content siimple-content siimple-content--extra-large content-body with-inter-font ">
        <div class="siimple-content siimple-content--large siimple--pb-0">
            <h1 class="feature-h1 ">
                Planning
            </h1>
            <div class="siimple-h1 feature-description">
                Set the groundwork for success.
            </div>
        </div>

        <div class="siimple-rule"></div>

        <div class="siimple-content siimple-content--large siimple--bg-light">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-description-container">
                        <h2 class="siimple-h2 hero-header  siimple--mt-0">
                            Choose
                        </h2>
                        <p class="siimple-p hero-subtitle ">
                            In Sukuwatto you're not limited to one routine, or one type of activity. 
                            Select the ideal plan for you from our list, created by us and our users. 
                        </p>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-image-container ">
                        <picture>
                            <source type="image/webp" class=" limit-to-max with-box-shadow" srcset="../../assets/images/plan-workout-list.webp" >
                            <img class=" limit-to-max with-box-shadow" src="../../assets/images/plan-workout-list.png" alt="Example workout routine" >
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <div class="siimple-content siimple-content--large ">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-image-container siimple--display-sm-none">
                        <picture>
                            <source type="image/webp" class=" limit-to-max " srcset="../../assets/images/plan-workout-creation.webp" >
                            <img class=" limit-to-max " src="../../assets/images/plan-workout-creation.png" alt="Screenshot of the workout creator">
                        </picture>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-description-container">
                        <h2 class="siimple-h2 hero-header  siimple--mt-0">
                            Create
                        </h2>
                        <p class="siimple-p hero-subtitle ">
                            Didn't find what you were looking for? Create your own plan or customize an existing one to your needs using our plan editor.
                        </p>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-image-container phones-only">
                        <picture>
                            <source type="image/webp" class=" limit-to-max " srcset="../../assets/images/plan-workout-creation.webp" >
                            <img class=" limit-to-max " src="../../assets/images/plan-workout-creation.png" alt="Screenshot of the workout creator">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <div class=" siimple-content siimple-content--large  siimple--bg-light">
            <div class="siimple--text-center">
                <h2 class="siimple-h2 hero-header">
                    Progress
                </h2>
                <p class="siimple-p hero-subtitle siimple--mb-0">
                    Manipulate parameters like weight, distance, time and more with plan progressions.
                </p>
                <p class="siimple-p hero-subtitle ">
                    Don't worry about the math: they'll be
                    automatically applied from workout to workout.
                </p>

                <picture>
                    <source type="image/webp" class="with-box-shadow limit-to-max" srcset="assets/images/plan-workout-progression.webp" >
                    <img class="with-box-shadow limit-to-max" src="assets/images/plan-workout-progression.png" alt="Workout progression dialog">
                </picture>
            </div>
        </div>

        <app-demo-navigation previousUrl="/" previousFragment="features" nextUrl="/track" previousText="Home" nextText="Track"></app-demo-navigation>
    </main>

    <app-footer></app-footer>
</div>

<app-alert></app-alert>
