<div class="site-body">
    <app-jumbotron></app-jumbotron>

    <main class="site-content siimple-content siimple-content--large content-body">
        <div class="demo-title-container" align="">
            <span class="demo-title">Plan</span>
        </div>

        <div class="demo-card">
            <div class="demo-card-body">
                <div class=" demo-card-container">
                    <div class="demo-text">
                        <div class="demo-text-header">Choose</div>
                        <div class="demo-p">
                            From cardio to strength-training, aesthetics or purely functional. Choose from one of our dozens of plans, created by us and our users.
                        </div>
                    </div>
                    <img class="demo-image demo-image-right " src="assets/images/plan-workout-list.png" />
                </div>
            </div>
        </div>

        <div class="demo-card demo-card-stripped">
            <div class="demo-card-body">
                <div class="demo-card-container">
                    <img class="demo-image demo-image-left  siimple--display-sm-none " src="assets/images/plan-workout-creation.png" />
                    <div class="demo-text">
                        <div class="demo-text-header">Create</div>
                        <div class="demo-p">
                            Didn't find what you were looking for? Create your own plan or customize an existing one to
                            your needs using our plan editor.
                        </div>
                    </div>
                    <img class="demo-image demo-image-left phones-only " src="assets/images/plan-workout-creation.png" />
                </div>
            </div>
        </div>

        <div class="demo-card">
            <div class="demo-card-body">
                <div class=" demo-card-container">
                    <div class="demo-text">
                        <div class="demo-text-header">Progress</div>
                        <div class="demo-p">
                            Manipulate parameters like weight, distance, time and more with plan progressions. Don't worry about the math: they'll be
                            automatically applied from workout to workout.
                        </div>
                    </div>
                    <img class="demo-image demo-image-right " src="assets/images/plan-workout-progression.png" />
                </div>
            </div>
        </div>
    </main>

    <app-footer></app-footer>
</div>

<app-alert></app-alert>