<div *ngIf="planSessionGroup">
    <div class="siimple-card-body siimple--mb-2">
        <div class="siimple-grid">
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col-sm--5 siimple--py-0">
                    <div class="siimple-form-field siimple--mb-0">
                        <div class="siimple-form-field-label">Order</div>
                        <input type="number" class="siimple-input siimple-input--fluid"  required name="order"
                            id="order" [(ngModel)]="planSessionGroup.order" #order="ngModel">

                        <div *ngIf="order.invalid && (order.dirty || triedToSave)">
                            <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--9 siimple-grid-col-sm--7 siimple--py-0">
                    <div class="siimple-form-field siimple--mb-0">
                        <div class="siimple-form-field-label">Group Name</div>
                        <input type="text" class="siimple-input siimple-input--fluid" required name="name" id="name"
                            [(ngModel)]="planSessionGroup.name" #name="ngModel">

                        <div *ngIf="name.invalid && (name.dirty || triedToSave)">
                            <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="activity-groups siimple--mt-2 siimple--mb-2">
            <div class="siimple-tabs">
                <div class="siimple-tabs-item"
                    [class.siimple-tabs-item--selected]="selectedActivityType==activityType.Exercise"
                    (click)="selectActivityType(activityType.Exercise)">
                    Sets
                </div>
                <div class="siimple-tabs-item"
                    [class.siimple-tabs-item--selected]="selectedActivityType==activityType.WarmUp"
                    (click)="selectActivityType(activityType.WarmUp)">
                    Warmups
                </div>
                <div class="siimple-tabs-item"
                    [class.siimple-tabs-item--selected]="selectedActivityType==activityType.Progressions"
                    (click)="selectActivityType(activityType.Progressions)">
                    Progressions
                </div>
            </div>

            <div>
                <div class="tab-content" [class.tab-content-selected]="selectedActivityType==activityType.Exercise">
                    <div class="siimple-card siimple--mb-0" *ngFor="let exercise of planSessionGroup.exercises">
                        <div class="close-top-right" (click)="removeExercise(exercise)">
                            <fa-icon [icon]="faTimesCircle" class="siimple--mr-1"></fa-icon>
                        </div>

                        <app-plan-session-group-activity [planSessionGroupExercise]=exercise
                            [triedToSave]=triedToSave>
                        </app-plan-session-group-activity>
                    </div>
                    <button class="siimple-btn siimple-btn--primary siimple--mt-2 " type="button"
                        (click)="newExercise()">
                        <fa-icon [icon]="faDumbbell" class="siimple--mr-1"></fa-icon>
                        New Exercise
                    </button>
                </div>

                <div class="tab-content" [class.tab-content-selected]="selectedActivityType==activityType.WarmUp">
                    <div class="siimple-card siimple--mb-0" *ngFor="let warmup of planSessionGroup.warmups">
                        <div class="close-top-right" (click)="removeWarmUp(warmup)">
                            <fa-icon [icon]="faTimesCircle" class="siimple--mr-1"></fa-icon>
                        </div>

                        <app-plan-session-group-activity [planSessionGroupExercise]=warmup
                            [triedToSave]=triedToSave>
                        </app-plan-session-group-activity>
                    </div>
                    <button class="siimple-btn siimple-btn--primary siimple--mt-2 " type="button"
                        (click)="newWarmUp()">
                        <fa-icon [icon]="faDumbbell" class="siimple--mr-1"></fa-icon>
                        New warmup
                    </button>
                </div>

                <div class="tab-content" [class.tab-content-selected]="selectedActivityType==activityType.Progressions">
                    <app-plan-progression-strategies type_label="Group" [progressions]=planSessionGroup.progressions [triedToSave]=triedToSave>
                    </app-plan-progression-strategies> 
                </div>
            </div>
        </div>
    </div>
</div>