.activity-groups {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 2px solid #eef2f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}