<div *ngIf="forbidden">
    <app-forbidden>
    </app-forbidden>
</div>

<app-user-bio-data-detail [username]=username [start]=bioDataDate [visible]=userBioDataVisible
    (closed)="onUserBioDataClosed()" (okayed)="onUserBioDataOkayed($event)" *ngIf="allowed">
</app-user-bio-data-detail>

<div class="siimple-modal modal-window siimple-modal--medium" id="modal" *ngIf="deleteModalVisible">
    <div class="siimple-modal-content">
        <div class="siimple-modal-header">
            <div class="siimple-modal-header-title">Delete Account?</div>
            <div class="siimple-modal-header-close" id="modal-close" (click)="hideDeleteModal()"></div>
        </div>
        <div class="siimple-modal-body modal-window-body">
            <p class="siimple-p">
                This will delete your account and associated data! Are you sure you want to proceed?
            </p>
        </div>
        <div class="siimple-modal-footer">
            <button class="siimple-btn siimple-btn--success" type="button" (click)="delete()">
                <fa-icon [icon]="faCheck" class="siimple--mr-1"></fa-icon>
                Yes
            </button>
            <button class="siimple-btn siimple-btn--error siimple--ml-2" type="button" (click)="hideDeleteModal()">
                <fa-icon [icon]="faTimes" class="siimple--mr-1"></fa-icon>
                Cancel
            </button>
        </div>
    </div>
</div>

<app-user-change-password-modal [visible]=passwordModalVisible (closed)="hidePasswordModal()">
</app-user-change-password-modal>

<div *ngIf="allowed && user && !loading">
    <div class="toolbar">
        <div class="toolbar-title">Account settings</div>
    </div>

    <div class="siimple-tabs siimple--mt-2 siimple--mb-2">
        <div class="siimple-tabs-item" [class.siimple-tabs-item--selected]="selectedTabType==tabType.General"
            (click)="selectTabType(tabType.General)">
            General
        </div>
        <div class="siimple-tabs-item" [class.siimple-tabs-item--selected]="selectedTabType==tabType.Privacy"
            (click)="selectTabType(tabType.Privacy)">
            Privacy
        </div>
    </div>

    <div>
        <div class="tab-content" [class.tab-content-selected]="selectedTabType==tabType.General">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--md-12 siimple-grid-col--sm-12">
                        <div class="profile-picture-uploader">
                            <div class="siimple-form-field">
                                <div class="siimple-form-field-label">Profile Picture</div>
                                <app-image-upload [imageURL]=user.profile_filename
                                    (uploaded)="setProfilePicture($event)">
                                </app-image-upload>
                            </div>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--8 siimple-grid-col--md-12 siimple-grid-col--sm-12">
                        <div class="siimple-grid">
                            <div class="siimple-grid-row">
                                <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-6 siimple--py-0">
                                    <div class="siimple-form-field">
                                        <div class="siimple-form-field-label">First name</div>
                                        <input type="text" class="siimple-input siimple-input--fluid" name="first_name"
                                            id="first_name" [(ngModel)]="user.first_name" #first_name="ngModel"
                                            maxlength="30" placeholder="First name">
                                    </div>
                                </div>
                                <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-6 siimple--py-0">
                                    <div class="siimple-form-field">
                                        <div class="siimple-form-field-label">Last name</div>
                                        <input type="text" class="siimple-input siimple-input--fluid" name="last_name"
                                            id="last_name" [(ngModel)]="user.last_name" type="last_name"
                                            #last_name="ngModel" maxlength="150" placeholder="Last name">
                                    </div>
                                </div>
                                <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-12 siimple--py-0">
                                    <div class="siimple-form-field">
                                        <div class="siimple-form-field-label">&nbsp;</div>
                                        <button class="siimple-btn siimple-btn--primary siimple-btn--fluid"
                                            type="button" (click)="showUserBioData()">
                                            <fa-icon [icon]="faWeight" class="siimple--mr-1"></fa-icon>
                                            Measurements
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="siimple-grid-row">
                                <div class="siimple-grid-col siimple-grid-col--12 siimple--py-0">
                                    <div class="siimple-form-field">
                                        <div class="siimple-form-field-label">Location</div>
                                        <input type="text" class="siimple-input siimple-input--fluid" name="location"
                                            id="location" [(ngModel)]="user.location" #location="ngModel" maxlength="30"
                                            placeholder="Location">
                                    </div>
                                    <div class="siimple-form-field">
                                        <div class="siimple-form-field-label">Bio</div>
                                        <textarea type="text" class="siimple-textarea siimple-textarea--fluid" rows="4"
                                            name="biography" id="biography" [(ngModel)]="user.biography"
                                            #biography="ngModel" placeholder="Bio">
                                </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--12 siimple--py-0">
                        <div class="siimple-form-field">
                            <div class="siimple-form-field-label">Email address</div>
                            <input type="email" class="siimple-input siimple-input--fluid" required name="email"
                                id="email" [(ngModel)]="user.email" #email="ngModel"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngModelOptions]="{updateOn: 'blur'}"
                                placeholder="Your email address">

                            <div *ngIf="email.invalid && (email.dirty || triedToSave)">
                                <div *ngIf="email.errors?.required" class="siimple-field-helper siimple--color-error">
                                    This field can't be empty
                                </div>
                                <div *ngIf="email.errors?.pattern" class="siimple-field-helper siimple--color-error">
                                    Please insert a valid email
                                </div>
                            </div>
                        </div>
                        <div class="siimple-form-field">
                            <div class="siimple-form-field-label">Gender</div>
                            <div class="siimple-radio">
                                <input type="radio" name="gender" value="m" id="male" [checked]="user.gender === 'm'"
                                    [(ngModel)]="user.gender">
                                <label for="male"></label>
                            </div>
                            <label class="siimple-label clickable" for="male">Male</label>
                            <div class="siimple-radio">
                                <input type="radio" name="gender" value="f" id="female" [checked]="user.gender === 'f'"
                                    [(ngModel)]="user.gender">
                                <label for="female"></label>
                            </div>
                            <label class="siimple-label clickable" for="female">Female</label>
                            <div class="siimple-radio">
                                <input type="radio" name="gender" value="n" id="nonbinary"
                                    [checked]="user.gender === 'n'" [(ngModel)]="user.gender">
                                <label for="nonbinary"></label>
                            </div>
                            <label class="siimple-label clickable" for="nonbinary">Non-binary</label>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--6">
                        <div class="siimple-form-field-label">Month of birth</div>
                        <select class="siimple-select siimple-select--fluid" [(ngModel)]="user.month_birth"
                            name="month_birth">
                            <option value="" selected></option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6">
                        <div class="siimple-form-field-label">Year of birth</div>
                        <input type="number" class="siimple-input siimple-input--fluid" [(ngModel)]="user.year_birth"
                            name="year_birth">
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--12">
                        <div class="siimple-form-field siimple--my-0">
                            <div class="siimple-form-field-label">Measurement units</div>
                            <div class="siimple-radio">
                                <input type="radio" name="system" value="m" id="metric" [checked]="user.system === 'm'"
                                    [(ngModel)]="user.system">
                                <label for="metric"></label>
                            </div>
                            <label class="siimple-label clickable" for="metric">Metric</label>
                            <div class="siimple-radio">
                                <input type="radio" name="system" value="i" id="imperial"
                                    [checked]="user.system === 'i'" [(ngModel)]="user.system">
                                <label for="imperial"></label>
                            </div>
                            <label class="siimple-label clickable" for="imperial">Imperial</label>

                            <div *ngIf="!user.system && triedToSave">
                                <div class="siimple-field-helper siimple--color-error siimple--mb-0">This field can't be
                                    empty</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content" [class.tab-content-selected]="selectedTabType==tabType.Privacy">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--12">
                        <div class="siimple-form-field siimple--my-0">
                            <div class="siimple-form-field-label">Default workout visibility</div>
                            <select class="siimple-select siimple-select--fluid" name="defaultWorkoutVisibility"
                                id="defaultWorkoutVisibility" [(ngModel)]="user.default_visibility_workouts"
                                #defaultWorkoutVisibility="ngModel">
                                <option *ngFor="let defaultWorkoutVisibilityModel of visibilityLabel | keyvalue"
                                    value={{defaultWorkoutVisibilityModel.key}}>
                                    {{defaultWorkoutVisibilityModel.value}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="detail-operations-separator"></div>

    <div class="siimple--mt-2">
        <button class="siimple-btn siimple-btn--success" (click)="save()" [class.siimple-btn--disabled]="saving"
            [disabled]="saving">
            <fa-icon [icon]="faSave" class="  siimple--mr-1" *ngIf="!saving"></fa-icon>
            <fa-icon [icon]="faCircleNotch" [spin]=true class="  siimple--mr-1" *ngIf="saving"></fa-icon>
            Save
        </button>
        <button class="siimple-btn siimple-btn--warning siimple--ml-2" (click)="showPasswordModal()">
            <fa-icon [icon]="faKey" class="  siimple--mr-1"></fa-icon>
            Change
        </button>
        <button class="siimple-btn siimple-btn--error siimple--ml-2" (click)="showDeleteModal()"
            [class.siimple-btn--disabled]="deleting" [disabled]="deleting">
            <fa-icon [icon]="faDoorClosed" class="  siimple--mr-1" *ngIf="!deleting"></fa-icon>
            <fa-icon [icon]="faCircleNotch" [spin]=true class="  siimple--mr-1" *ngIf="deleting"></fa-icon>
            Leave
        </button>
    </div>
</div>