<div class="siimple-card" *ngIf="post">
    <div class="siimple-card-header post-header" *ngIf="showHeader">
        <span class="user-profile">
            <app-user-tag [username]="post.user.username" [profile_filename]="post.user.profile_filename"
                class="user-profile">
            </app-user-tag>
            <span *ngIf="post.title">
                <a class="siimple-link" [routerLink]=routerLink>
                    {{post.title}}
                </a>
            </span>
        </span>
    
        <small class="siimple-small time">{{getTime(post.date)}}</small>
    
        <small class="siimple-small edited-time" *ngIf="post.edited_date">
            (edited: {{getTime(post.edited_date)}})
        </small>
    
        <app-edit-delete-dropdown class="self-centered" (edited)="toggleEditing()" (deleted)="showDeleteModal()"
            *ngIf="authenticatedUserIsOwner">
        </app-edit-delete-dropdown>
    </div>
    <div class="siimple-card-body">
        <div *ngIf="editing" class="siimple-form post-form">
            <div class="siimple-form-field">
                <textarea type="text" class="siimple-textarea siimple-textarea--fluid" rows="3" name="newPost"
                    id="newPost" required [(ngModel)]="post.text" #newPost="ngModel" placeholder="What's on your mind?">
                </textarea>
                <div *ngIf="newPost.invalid && (newPost.dirty || triedToSave)">
                    <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                </div>
            </div>

            <div class="siimple--clearfix">
                <button class="siimple-btn siimple-btn--primary siimple--float-right" (click)="update()">
                    <fa-icon [icon]="faCircleNotch" [spin]=true  class="siimple--mr-1" [spin]=true *ngIf="updating"></fa-icon>
                    <fa-icon [icon]="faStickyNote" class="siimple--mr-1" *ngIf="!updating"></fa-icon>
                    Update
                </button>
            </div>
        </div>
        <div *ngIf="!editing" class="keep-original-formatting">
            {{post.text}}
        </div>
    </div>
    <div class="siimple-card-footer post-footer">
        <app-card-social-interaction 
            [shareTitle]="shareTitle"
            [shareLink]="shareLink"
        content_type_model='post' [id]=id [commentsSectionOpen]=commentsSectionOpen>
        </app-card-social-interaction>
    </div>
</div>

<div class="siimple-modal siimple-modal--medium" id="modal" *ngIf="deleteModalVisible">
    <div class="siimple-modal-content">
        <div class="siimple-modal-header">
            <div class="siimple-modal-header-title">Delete Post?</div>
            <div class="siimple-modal-header-close" id="modal-close" (click)="hideDeleteModal()"></div>
        </div>
        <div class="siimple-modal-body">
            <p class="siimple-p">
                This will delete your post and associated data! Are you sure you want to proceed?
            </p>
        </div>
        <div class="siimple-modal-footer">
            <button class="siimple-btn siimple-btn--success" type="button" (click)="delete()">
                <fa-icon [icon]="faCheck" class="siimple--mr-1"></fa-icon>
                Yes
            </button>
            <button class="siimple-btn siimple-btn--error siimple--ml-2" type="button" (click)="hideDeleteModal()">
                <fa-icon [icon]="faTimes" class="siimple--mr-1"></fa-icon>
                Cancel
            </button>
        </div>
    </div>
</div>
