.post-header {
  display: flex;
  flex-grow: 1;
  align-self: center;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.user-profile {
  flex-grow: 1;
  align-self: center;
}

.time {
  margin: 10px;
}

.edited-time {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.post-form {
    margin-bottom: 10px !important;
}