.post-header {
  display: flex;
  flex-grow: 1;
  align-self: center;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.user-profile {
  flex-grow: 1;
  align-self: center;
}

.time {
  margin: 10px;
}

.edited-time {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.post-form {
    margin-bottom: 10px !important;
}

.post-images-container {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  position:relative;
}

.post-image-container {
  text-align: center;
}

/* 
@media only screen and (min-width: 801px) {
.post-image-cursors {
  display: none;
}
} */

.post-image {
  max-width: 100%;
  height: auto;
}

.post-image-cursor-overlay:hover {
  opacity: 0.4;
}

.post-image-cursor-overlay {
  background-color: darkgray;
  opacity: 0;
  transition: 0.6s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 30px;
}

.post-image-cursor-overlay-next {
  right: 0;
}

.post-image-previous, .post-image-next {
  position: absolute;
  top: 0;
  bottom: 0;
  color: white;
  transition: 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: none;
}

.post-image-previous {
  padding-left: 10px;
}

.post-image-next {
  padding-right: 10px;
  right: 0;
}

.post-buttons-container {
    display: flex;
}

.post-button {
    margin-left: auto;
}