<div class="siimple-modal modal-window siimple-modal--medium" id="modal" *ngIf="visible">
    <div class="siimple-modal-content">
        <div class="siimple-modal-header">
            <div class="siimple-modal-header-title">
                Select an exercise
            </div>
            <div class="siimple-modal-header-close" id="modal-close" (click)="close()"></div>
        </div>
        <div class="siimple-modal-body modal-window-body">
            <app-exercises-list (selected)="select($event)" [page]=page [exerciseType]="exerciseType">
            </app-exercises-list>
        </div>
        <div class="siimple-modal-footer">
            <button class="siimple-btn siimple-btn--primary" type="button" (click)="newExercise()">
                <fa-icon [icon]="faDumbbell" class="siimple--mr-1"></fa-icon>
                New Exercise
            </button>
            <button class="siimple-btn siimple-btn--error siimple--ml-2" type="button" (click)="close()">
                <fa-icon [icon]="faTimes" class="siimple--mr-1"></fa-icon>
                Cancel
            </button>
        </div>
    </div>
</div>

<app-exercise-detail-modal
    [(visible)]=newExerciseModalVisible
    (saved)="select($event)"
    (closed)="hideNewExerciseModal()">
</app-exercise-detail-modal>
