<div class="siimple--float-right">
    <div *ngIf="authService.isLoggedIn(); else notLoggedBlock" class="siimple-btn-group">
        <button class="siimple-btn with-separator" [routerLink]="['/users', authService.getUsername(), 'account']">
            <fa-icon [icon]="faUserCircle" class=""></fa-icon>
            <span class="siimple--ml-1 siimple--display-sm-none ">{{authService.getUsername()}}</span>
        </button>
        <button class="siimple-btn" (click)="logout()">
            <fa-icon [icon]="faSignOutAlt" class=""></fa-icon>
            <span class="siimple--ml-1 siimple--display-sm-none">Sign out</span>
        </button>
    </div>
    <ng-template #notLoggedBlock>
        <div class="siimple-btn-group" *ngIf="showAuthButtons">
            <button routerLink="/signup/" class="siimple-btn siimple-btn--success">
                <fa-icon [icon]="faUserPlus" class=""></fa-icon>
                <span class="siimple--ml-1 ">Sign up</span>
            </button>
            <button routerLink="/login/" class="siimple-btn">
                <fa-icon [icon]="faSignInAlt" class=""></fa-icon>
                <span class="siimple--ml-1 siimple--display-sm-none">Sign in</span>
            </button>
        </div>
    </ng-template>
</div>