@media only screen and (max-width: 768px) {
  .loading-spinner-md-and-lower-only {
    position: absolute;
    left: 19px;
    top: 23px;
    z-index: 501;
    color: white;
    background-color: #4e91e4;
    pointer-events: none;
    display: flex !important;
    visibility: hidden;
    /* we delay the spinner a bit to prevent unnecessary flickering when loading is quick */
    animation: 0s linear 0.2s forwards delayedShow; 
  }
}

.notch-loading-not-logged-in {
  align-items: center;
  justify-content: center;
  background-color: #4e91e4;
  top: 16px !important;
  left: 16px !important;
  width:40px !important;
  height: 32px !important;
}

.loading-spinner-md-only {
  position: absolute;
  left: calc(156px + 40px); 
  top: 28px;
  z-index: 501;
  color: white;
  background-color: #4e91e4;
  pointer-events: none;
  visibility: hidden;
  /* we delay the spinner a bit to prevent unnecessary flickering when loading is quick */
  animation: 0s linear 0.2s forwards delayedShow; 
}

.display-none {
    display: none;
}

@media only screen and (max-width: 960px) and (min-width: 769px) {
    .md-only {
        display: block !important;
    }
}

.loading-spinner-lg-and-higher {
  position: absolute;
  left: calc((100% - 960px)/2 + 140px + 40px); 
  top: 28px;
  z-index: 501;
  color: white;
  background-color: #4e91e4;
  pointer-events: none;
  visibility: hidden;
  /* we delay the spinner a bit to prevent unnecessary flickering when loading is quick */
  animation: 0s linear 0.2s forwards delayedShow; 
}

 @keyframes delayedShow {
   to { visibility: visible; }
 }