<div class="loading-spinner-container">
    <div class="loading-spinner-md-and-lower-only display-none" [class.notch-loading-not-logged-in]="!isLoggedIn()">
        <fa-icon [spin]=true [icon]="faCircleNotch"></fa-icon>
    </div>

    <div class="loading-spinner-md-only display-none md-only">
        <div class="siimple-spinner siimple-spinner--light"></div>
    </div>

    <div class="loading-spinner-lg-and-higher lg-and-higher-only">
        <div class="siimple-spinner siimple-spinner--light"></div>
    </div>
</div>