<div class="siimple-h1" translate>Support</div>

<div class="support-about">
    <p class="support-p" translate>
        Sukuwatto is a labour of love and we've decided early on we'd want all our users to be able to enjoy it without restrictions.
    </p>

    <p class="support-p" translate>
        However, development and hosting costs do take a toll and to keep the lights on user contributions are extremely important for us.
    </p>

    <p class="support-p" translate>
        If you can please consider contributing.
    </p>

    <p class="support-p" translate>
        Thank you,
    </p>

    <div class="siimple--text-bold" translate>Sukuwatto team</div>
</div>