<div class="siimple-h1">Support</div>

<div class="siimple-h2 select-tier-header">Select a membership level</div>

<div class="tier-list">
    <div class="siimple-card tier-card">
        <div class="siimple-card-header">
            <div class="siimple-h5 siimple--mb-0 tier-header">
                Novice
            </div>
        </div>
        <div class="siimple-card-body tier-body">
            <div class="siimple--mt-1 siimple--mb-2">

                <div class="tier-price-container-free">
                    <div class="tier-price" > 
                        FREE
                    </div>
                </div>

                <div class="siimple-rule"></div>

                <ul class="tier-ul">
                    <li class="tier-li">All features of sukuwatto are available for free, supported by ads</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="siimple-card tier-card">
        <div class="siimple-card-header">
            <div class="siimple-h5 siimple--mb-0 tier-header">
                Intermediate
            </div>
        </div>
        <div class="siimple-card-body tier-body">
            <div class="siimple--mt-1 siimple--mb-2">

                <div class="tier-price-container">
                    <div class="tier-price" > 
                        €1.99
                    </div>

                    <div class="tier-period">
                        PER MONTH                    
                    </div>

                    <div class="tier-period-taxes">
                        (+VAT)
                    </div>

                    <div>
                        <div *ngIf="currentTier == 'i'">
                            <button class="siimple-btn siimple-btn--error join-button" type="button"
                                (click)="cancelSubscription()">
                                Cancel subscription
                            </button>
                        </div>
                        <div *ngIf="currentTier != 'i'">
                            <button class="siimple-btn siimple-btn--success join-button  siimple-btn--disabled" type="button"
                                disabled
                                (click)="subscribe('i')">
                                Coming soon!
                            </button>
                        </div>
                    </div>
                </div>

                <div class="siimple-rule"></div>

                <ul class="tier-ul">
                    <li class="tier-li">Remove ad banners</li>
                    <li class="tier-li">Steer development by interacting with features you'd like to see done. Features with more likes will be implemented sooner!</li>
                    <li class="tier-li">Everything from the previous tier</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="siimple-card tier-card">
        <div class="siimple-card-header">
            <div class="siimple-h5 siimple--mb-0 tier-header">
                Advanced
            </div>
        </div>
        <div class="siimple-card-body tier-body">
            <div class="siimple--mt-1 siimple--mb-2">

                <div class="tier-price-container">
                    <div class="tier-price" > 
                        €3.99
                    </div>

                    <div class="tier-period">
                        PER MONTH                    
                    </div>

                    <div class="tier-period-taxes">
                        (+VAT)
                    </div>

                    <div>
                        <div *ngIf="currentTier == 'a'">
                            <button class="siimple-btn siimple-btn--error join-button" type="button"
                            (click)="cancelSubscription()">
                                Cancel subscription
                            </button>
                        </div>
                        <div *ngIf="currentTier != 'a'">
                            <button class="siimple-btn siimple-btn--success join-button  siimple-btn--disabled" type="button"
                            disabled
                            (click)="subscribe('a')">
                                Coming soon!
                            </button>
                        </div>
                    </div>
                </div>

                <div class="siimple-rule"></div>

                <ul class="tier-ul">
                    <li class="tier-li">Got an idea or a feature you'd like to see done? Users in this tier can request new features</li>
                    <li class="tier-li">Impress your followers with a custom class!</li>
                    <li class="tier-li">Your name on the credits</li>
                    <li class="tier-li">Everything from the previous tiers</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="siimple-rule"></div>

<div class="support-about">
    <p class="support-p">
        Sukuwatto is a labour of love and we've decided early on we'd want all our users to be able to enjoy it without restrictions.
    </p>

    <p class="support-p">
        However, development and hosting costs do take a toll and to keep the lights on user contributions are extremely important for us.
    </p>

    <p class="support-p">
        If you can please consider contributing to one of our tiers. We'll remove ad banners and allow you to influence future development by requesting new features or voting for features other users have requested.
    </p>

    <p class="support-p">
        Thank you,
    </p>

    <div class="siimple--text-bold">Sukuwatto team</div>
</div>