<div class="siimple-content siimple-content--extra-large">
    <div class="siimple-h2 siimple--text-bold siimple--mb-1" align="center">
        <app-main-logo></app-main-logo>
    </div>
    <div class="siimple-grid">
        <div class="siimple-grid-row">
            <div class="siimple-grid-col siimple-grid-col siimple-grid-col--3 siimple-grid-col-sm--12">
                <app-menu-legal></app-menu-legal>
            </div>
            <div class="siimple-grid-col siimple-grid-col--9 siimple-grid-col-sm--12 sd-column">
                <div class="siimple-card">
                    <h2 class="siimple-h2"translate>Contact us</h2>

                    <p class="siimple-p">
                        <span translate>
                            If you have any questions regarding our site/application or any of our policies, please
                        </span>
                        <a class="siimple-link" href="mailto:mail@sukuwatto.com" translate>
                            contact us
                        </a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>