<div class="siimple-content siimple-content--extra-small page-not-found-content">
    <div class="siimple-box siimple-box--primary" align="center">
        <div class="siimple-box-title">404</div>
        <div class="siimple-box-subtitle" translate>Page not found</div>
        <div class="siimple-box-detail" translate>We are sorry, but it appears you have entered a URL that does not exist on our site.</div>
        <button class="siimple-btn siimple--mt-4" routerLink='/' translate>Back to homepage</button>
    </div>
</div>