<div class="siimple-card siimple-form">
    <div class="siimple-form-field">
        <textarea type="text" class="siimple-textarea siimple-textarea--fluid" rows="3"
            name="newPost" id="newPost" [(ngModel)]="newPostText" #newPost="ngModel"
            placeholder="What's on your mind?">
        </textarea>
    </div>
    <div class="siimple--clearfix">
        <button class="siimple-btn siimple-btn--primary siimple--float-right" (click)="post()">
            Post
        </button>
    </div>
</div>

<div *ngIf="actions">
    <div *ngFor="let action of actions" class="siimple-p">
        <app-user-tag [username]=action.actor.display_name [fetchProfileFilename]=true>
        </app-user-tag>
        <span class="action-info">
            {{action.verb}}
            <span *ngIf="action.action_object">{{action.action_object.display_name}}</span>
            <span *ngIf="action.target">{{action.target.display_name}}</span>
            <small class="siimple-small siimple--ml-2">{{action.timestamp | timeAgo}}</small>
        </span>
    </div>
    <div class="older-actions-retriever-container" *ngIf="loadingOlderActions">
      <small class="siimple-small">Loading...</small>
    </div>
</div>