.older-actions-retriever-container {
  clear: both;
  padding: 8px;
  position: relative;
  z-index: -1;
  align-items: center;
  text-align: center;
}

.post-detail-card-container {
  padding-top: 10px;
  padding-left: 40px;
}