<div *ngIf="username && authService.isCurrentUserLoggedIn(username)">
    <div class="siimple-card siimple-form">
        <div class="siimple-form-field">
            <textarea type="text" class="siimple-textarea siimple-textarea--fluid" rows="3" name="newPost" id="newPost"
                required
                applyFocus
                [(ngModel)]="newPostText" #newPost="ngModel" placeholder="What's on your mind?">
            </textarea>
            <div *ngIf="newPost.invalid && triedToPost">
                <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
            </div>
        </div>
        <div class="siimple--clearfix">
            <button class="siimple-btn siimple-btn--primary siimple--float-right" 
            [disabled]="posting" [class.siimple-btn--disabled]="posting"
            (click)="post()">
                <fa-icon [icon]="faCircleNotch" [spin]=true  class="siimple--mr-1" [spin]=true *ngIf="posting"></fa-icon>
                <fa-icon [icon]="faStickyNote" class="siimple--mr-1" *ngIf="!posting"></fa-icon>
                Post
            </button>
        </div>
    </div>

    <div class="loading-spinner-container" *ngIf="loading">
        <app-loading-spinner></app-loading-spinner>
    </div>

    <div *ngIf="!loading">
        <app-feed [actions]=actions [paginated]=paginated
            [loadingNewActions]=loadingNewActions
            [loadingOlderActions]=loadingOlderActions>
        </app-feed>
    </div>
</div>