<div class="site-body ">
    <app-navbar-index></app-navbar-index>

    <main class="site-content siimple-content siimple-content--extra-large content-body with-inter-font ">
        <div class="siimple-content siimple-content--large siimple--pb-0">
            <h1 class="feature-h1 " translate>
                Sharing
            </h1>
            <div class="siimple-h1 feature-description" translate>
                Connect with other athletes.
            </div>
        </div>

        <div class="siimple-rule"></div>

        <div class="siimple-content siimple-content--large siimple--bg-light">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div
                        class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-description-container">
                        <h2 class="siimple-h2 hero-header  siimple--mt-0" translate>
                            Discover
                        </h2>
                        <p class="siimple-p hero-subtitle " translate>
                            Keep up with your friends activities on your home feed or on their user profile page.
                        </p>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-image-container ">
                        <picture>
                            <source type="image/webp" class=" limit-to-max with-box-shadow" srcset="../../assets/images/share-feed.webp">
                            <img width="400" height="524" class=" limit-to-max with-box-shadow" src="../../assets/images/share-feed.png" alt="News feed">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <div class="siimple-content siimple-content--large ">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div
                        class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-image-container siimple--display-sm-none">
                        <picture>
                            <source type="image/webp" class=" limit-to-max chat-box-shadow" srcset="../../assets/images/share-chat.webp">
                            <img width="400" height="520" class=" limit-to-max chat-box-shadow" src="../../assets/images/share-chat.png" alt="Chat image">
                        </picture>
                    </div>
                    <div
                        class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-description-container">
                        <h2 class="siimple-h2 hero-header  siimple--mt-0" translate>
                            Chat
                        </h2>
                        <p class="siimple-p hero-subtitle " translate>
                            Chat with your buddies and make new ones using our instant messenger.
                        </p>
                    </div>
                    <div
                        class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-image-container phones-only">
                        <picture>
                            <source type="image/webp" class=" limit-to-max chat-box-shadow" srcset="../../assets/images/share-chat.webp">
                            <img width="400" height="520" class=" limit-to-max chat-box-shadow" src="../../assets/images/share-chat.png" alt="Chat image">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <div class="siimple-content siimple-content--large siimple--bg-light">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div
                        class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-description-container">
                        <h2 class="siimple-h2 hero-header  siimple--mt-0" translate>
                            Share it
                        </h2>
                        <p class="siimple-p hero-subtitle " translate>
                            Share workouts, plans and exercises with the rest of the community. Feeling shy? No problem, you can limit the visibility of your activities.
                        </p>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-image-container ">
                        <picture>
                            <source type="image/webp" class="with-box-shadow limit-to-max" srcset="../../assets/images/share-activities.webp">
                            <img width="400" height="570" class="with-box-shadow limit-to-max" src="../../assets/images/share-activities.png" alt="Workout finish dialog">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <app-demo-navigation nextUrl="/" nextFragment="features" previousUrl="/track" 
            [previousText]="'Track it' | translate"
            [nextText]="'Home' | translate"></app-demo-navigation>
    </main>

    <app-footer></app-footer>
</div>

<app-alert></app-alert>