<div class="site-body">
    <app-jumbotron></app-jumbotron>

    <main class="site-content siimple-content siimple-content--large content-body">
        <div class="demo-title-container" align="">
            <span class="demo-title">Share</span>
        </div>

        <div class="demo-card">
            <div class="demo-card-body">
                <div class=" demo-card-container">
                    <div class="demo-text">
                        <div class="demo-text-header">News feed</div>
                        <div class="demo-p">
                            Keep up with your friends activities on your home feed or on their user profile page.
                        </div>
                    </div>
                    <img class="demo-image demo-image-right " src="assets/images/share-feed.png" width="400" height="587" />
                </div>
            </div>
        </div>

        <div class="demo-card demo-card-stripped">
            <div class="demo-card-body">
                <div class="demo-card-container">
                    <img class="demo-image demo-image-left  demo-only-large-screens " src="assets/images/share-chat.png" width="400" height="520" />
                    <div class="demo-text">
                        <div class="demo-text-header">Chat</div>
                        <div class="demo-p">
                            Chat with your buddies and make new ones using our instant messenger.
                        </div>
                    </div>
                    <img class="demo-image demo-image-left demo-only-small-screens " src="assets/images/share-chat.png" width="400" height="520"  />
                </div>
            </div>
        </div>

        <div class="demo-card">
            <div class="demo-card-body">
                <div class=" demo-card-container">
                    <div class="demo-text">
                        <div class="demo-text-header">Share activities</div>
                        <div class="demo-p">
                            Share workouts, plans and exercises with the rest of the community. Feeling shy? No problem, you can limit the visibility of your activities.
                        </div>
                    </div>
                    <img class="demo-image demo-image-right " src="assets/images/share-activities.png" width="400" height="570" />
                </div>
            </div>
        </div>

        <app-demo-navigation previousUrl="/track" [nextUrl]="nextUrl" previousText="Track" nextText="Sign up"></app-demo-navigation>
    </main>

    <app-footer></app-footer>
</div>

<app-alert></app-alert>
