.submit-box {
    display: flex;
    background-color: #eef2f7;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
}

.submit-box-input {
    background-color: #ffffff !important;
    margin-right: 5px;
    width: 100%;
    overflow: hidden;
}

.submit-buttons {
    margin-left: auto;
}

.submit-button {
  white-space: nowrap;
}

.feature-card:hover .siimple-card-body {
  background-color:  #f6f8fb;
  cursor: pointer;
}

.siimple-card-body {
  transition: all .3s ease;
}

@media only screen and (max-width:480px) {
.under-development-text {
  font-size: 13px;
  color: #879aab;
}
}

@media only screen and (min-width:650px) {
.feature-card {
    max-width: 306px;
}
}

.feature-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media only screen and (min-width:959px) {
  .feature-card:not(:first-child):not(:last-child) {
    margin-left: 20px;
    margin-right: 20px;
  }

  .express-interest-card {
    width: 939px;
    margin-left: 11px;
  }
}

.thank-you {
  padding: 10px;
}

.thank-you-phones {
  padding-bottom: 10px;
  margin-top: 20px;
}