<div class="site-body ">
    <app-navbar-index></app-navbar-index>

    <main class="site-content siimple-content siimple-content--extra-large content-body with-inter-font">
        <div class="hero-container siimple-content siimple-content--large">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--8 siimple-grid-col--md-12 hero-description-container">
                        <h1 class="siimple-h1 hero-header ">
                            <span translate>Social fitness platform</span> 
                            <span class="small-screens-hide" translate> for athletes and enthusiasts.</span>
                        </h1>
                        <p class="siimple-p hero-subtitle " translate>
                            Workout, share and play - all in the same app.
                        </p>
                        <button type="button" class="siimple-btn hero-button siimple-btn--primary with-inter-font"  routerLink="/signup/"  aria-label="Sign up">
                            <span translate>Sign up</span> 
                            <span class="for-free-span"> 
                                <span>&nbsp;</span>
                                <span translate>for free</span>
                            </span>
                        </button>
                        <button type="button" class="siimple-btn hero-button siimple--ml-2 with-inter-font"
                            routerLink="/download/" aria-label="Get the android app">
                            <fa-icon [icon]="appDownloadIcon" class="siimple--mr-1" aria-hidden="true"></fa-icon>
                            <span translate>Get the app</span> 
                        </button>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--md-12 hero-image-container">
                        <img width="720" height="1440" class="image-phone-border hero-image" 
                            src="../../assets/images/sukuwatto-mobile-screenshot.jpg" alt="Sukuwatto android app">
                    </div>
                </div>
            </div>
        </div>

        <div class="siimple-rule"></div>

        <div class="hero-container siimple-content siimple-content--extra-large">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--md-12 hero-image-container">
                        <picture>
                            <source type="image/webp" class=" all-devices-image" srcset="../../assets/images/sukuwatto-all-devices.webp" >
                            <img width="1642" height="1048" class=" all-devices-image" 
                                src="../../assets/images/sukuwatto-all-devices.png" alt="Sukuwatto running on a computer, tablet and phone" >
                        </picture>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--md-12 hero-description-container">
                        <h1 class="siimple-h1 hero-header  siimple--mt-0" translate>
                            All plans, all activities, all devices: One app.
                        </h1>
                        <p class="siimple-p hero-subtitle ">
                            <span translate>Train once, access everywhere: Sukuwatto has a cloud-first approach and looks great on your</span>
                            <span>&nbsp;</span>
                            <span class="device-type-emphasis" translate>computer</span>, 
                            <span class="device-type-emphasis" translate>tablet</span> 
                            <span>&nbsp;</span>
                            <span translate>or</span>
                            <span>&nbsp;</span>
                            <span class="device-type-emphasis" translate>phone</span>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="siimple-rule"></div>

        <div class=" siimple-content siimple-content--extra-large " id="features">
            <div class="features-introduction">
                <h1 class="siimple-h1 hero-header  siimple--mt-0" translate>
                    A complete fitness solution.
                </h1>
                <p class="siimple-p hero-subtitle " translate>
                    From strength to cardio, aesthetic to functional - Sukuwatto covers all the bases.
                </p>
            </div>
        
            <div class="features-container ">
                <div class="feature-card clickable" routerLink="/plan">
                    <div class="feature-card-icon-container">
                        <fa-icon [icon]="planIcon" size="6x"></fa-icon>
                    </div>
                    <div class="feature-card-title siimple-h3" translate>
                        Plan it
                    </div>
                    <div class="feature-card-description">
                        <ul>
                            <li translate>
                                Choose a routine
                            </li>
                            <li translate>
                                Set progressions for key parameters
                            </li>
                            <li translate>
                                Create your own plan
                            </li>
                        </ul>
                    </div>
                </div>
        
                <div class="feature-card clickable" routerLink="/track">
                    <div class="feature-card-icon-container">
                        <fa-icon [icon]="trackIcon" size="6x"></fa-icon>
                    </div>
                    <div class="feature-card-title siimple-h3" translate>
                        Track it
                    </div>
                    <div class="feature-card-description">
                        <ul>
                            <li translate>
                                Log your gym sessions
                            </li>
                            <li translate>
                                Map out your outdoor workouts
                            </li>
                            <li translate>
                                Keep tabs on your progress
                            </li>
                        </ul>
                    </div>
                </div>
        
                <div class="feature-card clickable " routerLink="/share">
                    <div class="feature-card-icon-container">
                        <fa-icon [icon]="shareIcon" size="6x"></fa-icon>
                    </div>
                    <div class="feature-card-title siimple-h3" translate>
                        Share it
                    </div>
                    <div class="feature-card-description">
                        <ul>
                            <li translate>
                                Meet other athletes
                            </li>
                            <li translate>
                                Like, comment, and share activities
                            </li>
                            <li translate>
                                Chat with your friends
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="siimple-rule"></div>

        <div class="community-support-container siimple-content siimple-content--large">
            <div class="">
                <h1 class="siimple-h1 hero-header  siimple--mt-0" translate>
                    It's time to level up.
                </h1>
                <p class="siimple-p hero-subtitle " translate>
                    Fitness doesn't have to be boring: Exercise to rise in the ranks and find out your class.
                </p>
            </div>
            <div class="community-support-image-container siimple--mt-4">
                <picture>
                    <source type="image/webp" srcset="../../assets/images/level-up-smaller.webp" class="hero-image phones-only">
                    <img width="350" height="678" src="../../assets/images/level-up-smaller.png" class="hero-image phones-only" alt="User skills example">
                </picture>
                <picture>
                    <source type="image/webp" srcset="../../assets/images/level-up.webp" class="hero-image md-and-higher-only">
                    <img width="756" height="424" src="../../assets/images/level-up.png" class="hero-image md-and-higher-only" alt="User skills example">
                </picture>
            </div>
        </div>

        <div class="siimple-rule"></div>

        <div class="community-support-container siimple-content siimple-content--large">
            <div class="">
                <h1 class="siimple-h1 hero-header  siimple--mt-0" translate>
                    Free for all, supported by the community.
                </h1>
                <p class="siimple-p hero-subtitle " translate>
                    Use for free, contribute to steer development and keep us running.
                </p>
            </div>
            <div class="community-support-image-container">
                <picture>
                    <source type="image/webp" srcset="../../assets/images/features-list-smaller.webp" class="community-support-image phones-only">
                    <img width="360" height="834" src="../../assets/images/features-list-smaller.png" class="community-support-image phones-only" alt="Feature requests list">
                </picture>
                <picture>
                    <source type="image/webp" srcset="../../assets/images/features-list.webp" class="community-support-image md-and-higher-only ">
                    <img width="768" height="776" src="../../assets/images/features-list.png" class="community-support-image md-and-higher-only " alt="Feature requests list">
                </picture>
            </div>
        </div>

        <div class="siimple-rule"></div>

        <div class="hero-container siimple-content siimple-content--large">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--lg-7 siimple-grid-col--md-12 hero-description-container">
                        <div class="hero-description-container">
                            <h1 class="siimple-h1 hero-header " translate>
                                Ready to go?
                            </h1>
                            <p class="siimple-p hero-subtitle " translate>
                                Try Sukuwatto today.
                            </p>
                            <button type="button" class="siimple-btn hero-button siimple-btn--primary with-inter-font"  routerLink="/signup/"  aria-label="Sign up">
                                <span translate>Sign up</span> 
                                <span class="for-free-span"> 
                                    <span>&nbsp;</span>
                                    <span translate>for free</span>
                                </span>
                            </button>
                            <button type="button" class="siimple-btn hero-button siimple--ml-2 with-inter-font"
                                routerLink="/download/" aria-label="Get the android app">
                                <fa-icon [icon]="appDownloadIcon" class="siimple--mr-1" aria-hidden="true"></fa-icon>
                                <span translate>Get the app</span> 
                            </button>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--lg-5 siimple-grid-col--md-12 hero-image-container ">
                        <picture>
                            <!-- <source type="image/webp" class=" ready-to-go-image " srcset="../../assets/images/ready-to-go.webp" > -->
                            <img width="640" height=427 class=" ready-to-go-image " src="../../assets/images/ready-to-go.jpg" alt="Squat rack on an empty gym">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <app-footer></app-footer>
</div>

<app-alert></app-alert>