
.hero-container {
  display: flex;
}

.hero-image {
  height: auto;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 15px 50px 20px rgba(51,51,79,.12);
}

.all-devices-image {
  max-width: 100%;
  height: auto;
}

.ready-to-go-image {
  max-width: 100%;
  height: auto;
  box-shadow: 0 15px 50px 20px rgba(51,51,79,.12);
}

.device-type-emphasis {
  font-weight: 600;
}

.hero-button {
}

@media only screen and (min-width: 800px) {
  .hero-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-description-container {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 359px) {
  .small-screens-hide {
    display: none;
  }
}

@media only screen and (max-width: 384px) {
  .for-free-span {
    display: none;
  }
}

@media only screen and (max-width: 324px) {
  .the-app-span {
    display: none;
  }
}

.community-support-image {
  max-width: 100%;
  height: auto;
}

.community-support-container {
  text-align: center;
}

.features-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-card {
  /* background-color: #eef2f7; */
  padding: 10px;
  border: 2px solid #eef2f7;
  flex: 1 1 300px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}

@media only screen and (max-width: 1111px) {
  .feature-card:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .feature-card {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.feature-card-title {
  text-align: center;
  font-weight: 700;
}

.feature-card-icon-container {
  text-align: center;
  padding-top: 10px;
}

.feature-card-description {
  text-align: center;
  line-height: 25.5px;
}

.features-introduction {
  text-align: center;
}