<div class="actions-retriever-container" *ngIf="loadingNewActions">
    <div class="siimple-spinner siimple-spinner--primary"></div>
</div>

<div *ngIf="actions">
    <div *ngFor="let action of actions; let i = index;" class="siimple-p">
        <div *ngIf="i > 0" class="siimple-rule"></div>
        <app-user-tag [username]=action.user.username [profile_filename]=action.user.profile_filename>
        </app-user-tag>

        <ng-container [ngSwitch]=action.verb>
            <ng-template [ngSwitchCase]="'joined'">
                <span translate *ngIf="environment.application">joined the app</span>
                <span translate *ngIf="!environment.application">joined the website</span>
            </ng-template>

            <ng-template [ngSwitchCase]="'started following'">
                <span translate>started following</span>
                <span *ngIf="action.target_user.username == username; else elseBlock" translate>
                    you
                </span>
                <ng-template #elseBlock>
                    <app-home-object-construct object_type='user' [object_id]=action.target_user.id [display_name]=action.target_user.username></app-home-object-construct>
                </ng-template>
            </ng-template>

            <ng-template [ngSwitchCase]="'measured'">
                <span class="action-info">
                    <span translate>recorded a new</span>
                    <span>
                        <app-home-object-construct object_type='userbiodata' [username]='action.user.username'
                            [object_id]=action.action_object_user_bio_data.id>
                        </app-home-object-construct>
                    </span>
                </span>
            </ng-template>

            <ng-template [ngSwitchCase]="'posted'">
                <span class="action-info">
                    <span translate>
                        made a new
                    </span>
                    <span>
                        <app-home-object-construct object_type='post' [username]='action.user.username'
                            [object_id]=action.action_object_post.id>
                        </app-home-object-construct>
                    </span>
                </span>
            </ng-template>

            <ng-template [ngSwitchCase]="'requested'">
                <span class="action-info">
                    <span translate>
                        requested a new
                    </span>
                    <span>
                        <app-home-object-construct object_type='feature' [username]='action.user.username'
                            [object_id]=action.action_object_feature.id>
                        </app-home-object-construct>
                    </span>
                </span>
            </ng-template>

            <ng-template [ngSwitchCase]="'trained'">
                <span class="action-info">
                    <span translate>
                        finished a
                    </span>
                    <span>
                        <app-home-object-construct object_type='workout' [username]='action.user.username'
                            [object_id]=action.action_object_workout.id>
                        </app-home-object-construct>
                    </span>
                </span>
            </ng-template>

            <ng-template [ngSwitchCase]="'adopted'">
                <span class="action-info">
                    <span translate>
                        adopted a
                    </span>
                    <span>
                        <app-home-object-construct object_type='plan' [username]=action.user.username
                            [object_id]=action.action_object_plan.id>
                        </app-home-object-construct>
                    </span>
                </span>
            </ng-template>

            <ng-template [ngSwitchCase]="'created'">
                <span class="action-info">
                    <span *ngIf="action.action_object_exercise">
                        <span translate>
                            created an
                        </span>
                        <span>
                            <app-home-object-construct object_type='exercise' [username]=action.user.username
                                [object_id]=action.action_object_exercise.id>
                            </app-home-object-construct>
                        </span>
                    </span>
                    <span *ngIf="action.action_object_plan">
                        <span translate>
                            created a
                        </span>
                        <span>
                            <app-home-object-construct object_type='plan' [username]=action.user.username
                                [object_id]=action.action_object_plan.id>
                            </app-home-object-construct>
                        </span>
                    </span>
                    <span *ngIf="action.action_object_release">
                        <span translate>
                            created a
                        </span>
                        <span>
                            <app-home-object-construct object_type='release' [username]=action.user.username
                                [object_id]=action.action_object_release.id>
                            </app-home-object-construct>
                        </span>
                    </span>
                </span>
            </ng-template>

            <ng-template [ngSwitchCase]="'liked'">
                <span class="action-info">
                    <span *ngIf="action.target_exercise">
                        <span translate>
                            liked an
                        </span>
                        <span>
                            <app-home-object-construct object_type='exercise' [username]=action.user.username
                                [object_id]=action.target_exercise.id>
                            </app-home-object-construct>
                        </span>
                    </span>

                    <span *ngIf="action.target_plan">
                        <span translate>
                            liked a
                        </span>
                        <span>
                            <app-home-object-construct object_type='plan' [username]=action.target_plan.user.username
                                [object_id]=action.target_plan.id>
                            </app-home-object-construct>
                        </span>
                    </span>

                    <span *ngIf="action.target_workout">
                        <span translate>
                            liked a
                        </span>
                        <span>
                            <app-home-object-construct object_type='workout' [username]=action.target_workout.user.username
                                [object_id]=action.target_workout.id>
                            </app-home-object-construct>
                        </span>
                    </span>

                    <span *ngIf="action.target_post">
                        <span translate>
                            liked a
                        </span>
                        <span>
                            <app-home-object-construct object_type='post' [username]=action.target_post.user.username
                                [object_id]=action.target_post.id>
                            </app-home-object-construct>
                        </span>
                    </span>

                    <span *ngIf="action.target_user_bio_data">
                        <span translate>
                            liked a
                        </span>
                        <span>
                            <app-home-object-construct object_type='userbiodata' [username]=action.target_user_bio_data.user.username
                                [object_id]=action.target_user_bio_data.id>
                            </app-home-object-construct>
                        </span>
                    </span>

                    <span *ngIf="action.target_feature">
                        <span translate>
                            liked a
                        </span>
                        <span>
                            <app-home-object-construct object_type='feature' [username]=action.target_feature.user.username
                                [object_id]=action.target_feature.id>
                            </app-home-object-construct>
                        </span>
                    </span>

                    <span *ngIf="action.target_release">
                        <span translate>
                            liked a
                        </span>
                        <span>
                            <app-home-object-construct object_type='release' [username]=action.target_release.user.username
                                [object_id]=action.target_release.id>
                            </app-home-object-construct>
                        </span>
                    </span>
                </span>
            </ng-template>

            <ng-template [ngSwitchCase]="'commented'">
                <span class="action-info">
                    <span *ngIf="action.target_exercise">
                        <span translate>
                            commented an
                        </span>
                        <span>
                            <app-home-object-construct object_type='exercise' [username]=action.target_exercise.user.username
                                [object_id]=action.target_exercise.id>
                            </app-home-object-construct>
                        </span>
                    </span>

                    <span *ngIf="action.target_plan">
                        <span translate>
                            commented a
                        </span>
                        <span>
                            <app-home-object-construct object_type='plan' [username]=action.target_plan.user.username
                                [object_id]=action.target_plan.id>
                            </app-home-object-construct>
                        </span>
                    </span>

                    <span *ngIf="action.target_workout">
                        <span translate>
                            commented a
                        </span>
                        <span>
                            <app-home-object-construct object_type='workout' [username]=action.target_workout.user.username
                                [object_id]=action.target_workout.id>
                            </app-home-object-construct>
                        </span>
                    </span>

                    <span *ngIf="action.target_post">
                        <span translate>
                            commented a
                        </span>
                        <span>
                            <app-home-object-construct object_type='post' [username]=action.target_post.user.username
                                [object_id]=action.target_post.id>
                            </app-home-object-construct>
                        </span>
                    </span>

                    <span *ngIf="action.target_user_bio_data">
                        <span translate>
                            commented a
                        </span>
                        <span>
                            <app-home-object-construct object_type='userbiodata' [username]=action.target_user_bio_data.user.username
                                [object_id]=action.target_user_bio_data.id>
                            </app-home-object-construct>
                        </span>
                    </span>

                    <span *ngIf="action.target_feature">
                        <span translate>
                            commented a
                        </span>
                        <span>
                            <app-home-object-construct object_type='feature' [username]=action.target_feature.user.username
                                [object_id]=action.target_feature.id>
                            </app-home-object-construct>
                        </span>
                    </span>

                    <span *ngIf="action.target_release">
                        <span translate>
                            commented a
                        </span>
                        <span>
                            <app-home-object-construct object_type='release' [username]=action.target_release.user.username
                                [object_id]=action.target_release.id>
                            </app-home-object-construct>
                        </span>
                    </span>
                </span>
            </ng-template>

            <small class="siimple-small siimple--ml-2">{{action.timestamp | timeAgo}}</small>

            <ng-template [ngSwitchCase]="'posted'">
                <div class="card-container">
                    <app-post-detail-card [post]=action.action_object_post [showHeader]=false>
                    </app-post-detail-card>
                </div>
            </ng-template>

            <ng-template [ngSwitchCase]="'requested'">
                <div class="card-container">
                    <app-feature-detail-card [feature]=action.action_object_feature [detailView]=false>
                    </app-feature-detail-card>
                </div>
            </ng-template>

            <ng-template [ngSwitchCase]="'trained'">
                <div class="card-container">
                    <app-workout-overview-card [workout]=action.action_object_workout [detailView]=false></app-workout-overview-card>
                </div>
            </ng-template>

            <ng-template [ngSwitchCase]="'measured'">
                <div class="card-container">
                    <app-measurement-card [userBioData]=action.action_object_user_bio_data [detailView]=false></app-measurement-card>
                </div>
            </ng-template>

            <ng-template [ngSwitchCase]="'adopted'">
                <div class="card-container">
                    <app-plan-card [plan]=action.action_object_plan></app-plan-card>
                </div>
            </ng-template>

            <ng-template [ngSwitchCase]="'created'">
                <span *ngIf="action.action_object_exercise">
                    <div class="card-container">
                        <app-exercise-card [exercise]=action.action_object_exercise [detailView]=false></app-exercise-card>
                    </div>
                </span>
                <span *ngIf="action.action_object_plan">
                    <div class="card-container">
                        <app-plan-card [plan]=action.action_object_plan></app-plan-card>
                    </div>
                </span>
                <span *ngIf="action.action_object_release">
                    <div class="card-container">
                        <app-release-card [release]=action.action_object_release></app-release-card>
                    </div>
                </span>
            </ng-template>

            <ng-template [ngSwitchCase]="'commented'">
                <div class="card-container">
                    <div class="siimple-card">
                        <div class="siimple-card-body">
                            {{action.action_object_comment.text}}
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </div>

    <div class="actions-retriever-container" *ngIf="loadingOlderActions">
        <div class="siimple-spinner siimple-spinner--primary"></div>
    </div>
</div>