<div class="actions-retriever-container" *ngIf="loadingNewActions">
    <div class="siimple-spinner siimple-spinner--primary"></div>
</div>

<div *ngIf="actions">
    <div *ngFor="let action of actions; let i = index;" class="siimple-p">
        <div *ngIf="i > 0" class="siimple-rule"></div>
        <app-user-tag *ngIf="action.actor.object_type == 'user'" [username]=action.actor.display_name
            [fetchProfileFilename]=true>
        </app-user-tag>
        <span *ngIf="action.actor.object_type != 'user'">
            <app-home-object-construct [object]=action.actor [object_id]=action.actor_object_id>
            </app-home-object-construct>
        </span>

        <ng-container [ngSwitch]=action.verb>
            <ng-template [ngSwitchCase]="'started following'">
                {{action.verb}}
                <span *ngIf="action.target.display_name == username; else elseBlock">
                    you
                </span>
                <ng-template #elseBlock>
                    <app-home-object-construct [object]=action.target></app-home-object-construct>
                </ng-template>
            </ng-template>

            <ng-template [ngSwitchCase]="'posted'">
                <span class="action-info">
                    made a new
                    <span>
                        <app-home-object-construct [object]=action.action_object [username]=action.actor.display_name
                            [object_id]=action.action_object_object_id>
                        </app-home-object-construct>
                    </span>
                </span>
            </ng-template>

            <ng-template [ngSwitchCase]="'trained'">
                <span class="action-info">
                    finished a
                    <span>
                        <app-home-object-construct [object]=action.action_object [username]=action.actor.display_name
                            [object_id]=action.action_object_object_id>
                        </app-home-object-construct>
                    </span>
                </span>
            </ng-template>

            <ng-template [ngSwitchCase]="'liked'">
                <span class="action-info">
                    liked a
                    <span>
                        <app-home-object-construct *ngIf="action.action_object" [object]=action.action_object
                            [username]=action.actor.display_name [object_id]=action.action_object_object_id>
                        </app-home-object-construct>

                        <app-home-object-construct *ngIf="action.target" [object]=action.target
                            [username]=action.actor.display_name [object_id]=action.target_object_id>
                        </app-home-object-construct>
                    </span>
                </span>
            </ng-template>

            <ng-template [ngSwitchCase]="'commented'">
                <span class="action-info">
                    commented a
                    <span>
                        <app-home-object-construct [object]=action.target [username]=action.actor.display_name
                            [object_id]=action.target_object_id>
                        </app-home-object-construct>
                    </span>
                </span>
            </ng-template>

            <ng-template ngSwitchDefault>
                <span class="action-info">
                    {{action.verb}}
                    <app-home-object-construct *ngIf="action.action_object" [object]=action.action_object
                        [username]=action.actor.display_name [object_id]=action.action_object_object_id>
                    </app-home-object-construct>
                    <app-home-object-construct *ngIf="action.target" [object]=action.target
                        [username]=action.actor.display_name [object_id]=action.target_object_id>
                    </app-home-object-construct>
                </span>
            </ng-template>

            <small class="siimple-small siimple--ml-2">{{action.timestamp | timeAgo}}</small>

            <ng-template [ngSwitchCase]="'posted'">
                <div class="card-container">
                    <app-post-detail-card [id]=action.action_object_object_id [showHeader]=false>
                    </app-post-detail-card>
                </div>
            </ng-template>

            <ng-template [ngSwitchCase]="'trained'">
                <div class="card-container">
                    <app-workout-overview-card [id]=action.action_object_object_id></app-workout-overview-card>
                </div>
            </ng-template>

            <ng-template [ngSwitchCase]="'commented'">
                <div class="card-container">
                    <div class="siimple-card">
                        <div class="siimple-card-body">
                            {{action.action_object.display_name}}
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </div>

    <div class="actions-retriever-container" *ngIf="loadingOlderActions">
        <div class="siimple-spinner siimple-spinner--primary"></div>
    </div>
</div>