<div class="siimple-content siimple-content--extra-small">
    <div class="siimple--px-5 siimple--py-5">
        <div class="siimple-h2 siimple--text-bold siimple--mb-1" align="center">
            <app-main-logo></app-main-logo>
        </div>
        <div class="siimple-paragraph siimple-paragraph--lead" align="center" translate>
            Reset password
        </div>
        <div>
            <app-alert></app-alert>
        </div>
        <form class="siimple-card" #loginForm="ngForm" (submit)="reset()">
            <div class="siimple-card-body">
                <div class="siimple-field">
                    <label class="siimple-field-label" for="email" translate>Your e-mail</label>
                    <input name="email" id="email" [(ngModel)]="resetEmail" #email="ngModel" type="email"
                        applyFocus
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                        required class="siimple-input siimple-input--fluid" >

                    <div *ngIf="email.invalid && triedToReset">
                        <div *ngIf="email.errors?.required" class="siimple-field-helper siimple--color-error" translate>
                            This field can't be empty
                        </div>
                        <div *ngIf="email.errors?.pattern" class="siimple-field-helper siimple--color-error" translate>
                            Enter a valid email address.
                        </div>
                    </div>
                </div>

                <button name="reset" type="submit" [disabled]="resetting || resetEmail.length == 0" 
                    [class.siimple-btn--disabled]="resetting || resetEmail.length == 0"
                    class="siimple-btn siimple-btn--success siimple-btn--fluid siimple--text-bold">
                    <fa-icon [icon]="faEnvelope" class="  siimple--mr-1" *ngIf="!resetting"></fa-icon>
                    <fa-icon [icon]="faCircleNotch" [spin]=true class="  siimple--mr-1" *ngIf="resetting"></fa-icon>
                    <span translate>Send instructions</span>
                </button>
            </div>
        </form>
    </div>
</div>