<div class="siimple-content siimple-content--extra-small">
    <div class="siimple--px-5 siimple--py-5">
        <div class="siimple-h2 siimple--text-bold siimple--mb-1" align="center">
            sukuwatto<br>
            スクワット 
        </div>
        <div class="siimple-paragraph siimple-paragraph--lead" align="center">
            Reset password
        </div>
        <div>
            <app-alert></app-alert>
        </div>
        <form class="siimple-card" #loginForm="ngForm" (submit)="reset()">
            <div class="siimple-card-body">
                <div class="siimple-field">
                    <label class="siimple-field-label" for="email">Your e-mail</label>
                    <input name="email" id="email" [(ngModel)]="resetEmail" #email="ngModel" type="email"
                        required class="siimple-input siimple-input--fluid" autofocus>

                    <div *ngIf="email.invalid && (email.dirty || triedToReset)">
                        <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                    </div>
                </div>

                <button name="reset" type="submit" [disabled]="resetting" [class.siimple-btn--disabled]="resetting"
                    class="siimple-btn siimple-btn--success siimple-btn--fluid siimple--text-bold">
                    {{ resetText }}
                </button>
            </div>
        </form>
    </div>
</div>