<div class="siimple-grid-col siimple-grid-col--5">
    <select class="siimple-select siimple-select--fluid" name="muscle_control" id="muscle_control" required
        [(ngModel)]="muscle_id" #muscle_control="ngModel"
        (change)="muscleChanged($event.target.value)">
        <option [ngValue]="null">Muscle...</option>
        <option *ngFor="let muscleModel of muscles" value={{muscleModel.id}}>
            {{muscleModel.name}}
        </option>
    </select>
    <div *ngIf="muscle_control.invalid && (muscle_control.dirty || triedToSave)">
        <div class="siimple-field-helper siimple--color-error">This field can't be empty
        </div>
    </div>
</div>
<div class="siimple-grid-col siimple-grid-col--5">
    <select class="siimple-select siimple-select--fluid" name="role_type" id="role_type" required
        [(ngModel)]="muscle.role" #role_type="ngModel">
        <option [ngValue]="null">Role...</option>
        <option *ngFor="let role_typeModel of roleTypeLabel | keyvalue" value={{role_typeModel.key}}>
            {{role_typeModel.value}}
        </option>
    </select>
    <div *ngIf="role_type.invalid && (role_type.dirty || triedToSave)">
        <div class="siimple-field-helper siimple--color-error">This field can't be empty
        </div>
    </div>
</div>