<div *ngIf="planSessionExercise">
    <div class="siimple-grid-col siimple-grid-col--2 siimple-grid-col--sm-3 siimple--py-0">
        <div class="siimple-form-field">
            <div class="siimple-form-field-label">#</div>
            <input type="number" class="siimple-input siimple-input--fluid" required name="order" id="order"
                [(ngModel)]="planSessionExercise.order" #order="ngModel" placeholder="Order">

            <div *ngIf="order.invalid && (order.dirty || triedToSave)">
                <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
            </div>
        </div>
    </div>
    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-9 siimple--py-0">
        <div class="siimple-form-field">
            <div class="siimple-form-field-label">Exercise</div>
            <select type="number" class="siimple-select siimple-select--fluid" required name="exercise" id="exercise"
                [(ngModel)]="planSessionExercise.exercise" #exercise="ngModel">
                <option *ngFor="let exerciseModel of exercises" value={{exerciseModel.id}}>{{exerciseModel.name}}
                </option>
            </select>
            <div *ngIf="exercise.invalid && (exercise.dirty || triedToSave)">
                <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
            </div>
        </div>
    </div>
    <div class="siimple-grid-col siimple-grid-col--2 siimple-grid-col--sm-3 siimple--py-0">
        <div class="siimple-form-field">
            <div class="siimple-form-field-label">Sets</div>
            <input type="number" class="siimple-input siimple-input--fluid" required name="number_of_sets"
                id="number_of_sets" [(ngModel)]="planSessionExercise.number_of_sets" #number_of_sets="ngModel"
                placeholder="Sets">

            <div *ngIf="number_of_sets.invalid && (number_of_sets.dirty || triedToSave)">
                <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
            </div>
        </div>
    </div>
    <div class="siimple-grid-col siimple-grid-col--2 siimple-grid-col--sm-3 siimple--py-0">
        <div class="siimple-form-field">
            <div class="siimple-form-field-label">Reps</div>
            <input type="number" class="siimple-input siimple-input--fluid" required name="number_of_repetitions"
                id="number_of_repetitions" [(ngModel)]="planSessionExercise.number_of_repetitions"
                #number_of_repetitions="ngModel" placeholder="Reps">

            <div *ngIf="number_of_repetitions.invalid && (number_of_repetitions.dirty || triedToSave)">
                <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
            </div>
        </div>
    </div>
    <div class="siimple-grid-col siimple-grid-col--2 siimple-grid-col--sm-3 siimple--py-0">
        <div class="siimple-form-field">
            <div class="siimple-form-field-label">Up to</div>
            <input type="number" class="siimple-input siimple-input--fluid" name="number_of_repetitions_up_to"
                id="number_of_repetitions_up_to" [(ngModel)]="planSessionExercise.number_of_repetitions_up_to"
                #number_of_repetitions_up_to="ngModel" placeholder="Up to">
        </div>
    </div>
</div>