<div class="siimple-grid-col siimple-grid-col--5 siimple-grid-col-sm--12">
    <exercises-input
        [(ngModel)]="workingParameter.exercise" 
        #exercise="ngModel"
        name="exercise"
        id="exercise"
        required
    >
    </exercises-input>
    <div *ngIf="exercise.invalid && (exercise.dirty || triedToHide)">
        <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
    </div>
</div>
<div class="siimple-grid-col siimple-grid-col--2 siimple-grid-col-sm--6">
    <input type="number" class="siimple-input siimple-input--fluid" name="parameter_value" id="parameter_value"
        [(ngModel)]="workingParameter.parameter_value" #parameter_value="ngModel" placeholder="Weight" (change)="onWeightChange($event)">

    <div *ngIf="parameter_value.invalid && (parameter_value.dirty || triedToHide)">
        <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
    </div>
</div>
<div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col-sm--6">
    <select class="siimple-select siimple-select--fluid" name="unit" id="unit" [(ngModel)]="workingParameter.unit"
        #unit="ngModel">
        <option *ngFor="let unitModel of units" value={{unitModel.id}}>
            {{unitModel.name}}
        </option>
    </select>

    <div *ngIf="unit.invalid && (unit.dirty || triedToHide)">
        <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
    </div>
</div>