<div class="siimple-content siimple-content--large">
    <div class="siimple-h2 siimple--text-bold siimple--mb-1" align="center">
        <app-main-logo></app-main-logo>
    </div>
    <div>
        <app-alert></app-alert>
    </div>
    <div class="siimple-grid">
        <div class="siimple-grid-row">
            <div class="siimple-grid-col siimple-grid-col siimple-grid-col--3 siimple-grid-col-sm--12">
                <app-menu-legal></app-menu-legal>
            </div>
            <div class="siimple-grid-col siimple-grid-col--9 siimple-grid-col-sm--12 sd-column">
                <div class="siimple-card">
                    <h2 class="siimple-h2">Cookies usage</h2>

                    <h3 class="siimple-h3">
                        What are cookies?
                    </h3>

                    <p class="siimple-p">
                        A cookie is a small piece of text that our website stores on your computer or mobile device,
                        which your browser sends to us when you return to our site.
                        Cookies can be used by websites to make a user's experience more efficient.
                    </p>

                    <h3 class="siimple-h3">
                        Types of cookies
                    </h3>

                    <p class="siimple-p">
                        We classify cookies into two categories: essential and non-essential cookies.
                        Essential cookies are strictly necessary for the functionality of the website.
                        Non-essential cookies are often used for analytical purposes.
                        We need your permission to use non-essential cookies.
                    </p>

                    <h3 class="siimple-h3">
                        Duration of cookies
                    </h3>

                    <p class="siimple-p">
                        There are cookies that only exist during your session (called session cookies) and will
                        disappear when you close your browser, and cookies that remain on your computer after you close
                        your browser (called persistent cookies).
                    </p>

                    <h3 class="siimple-h3">
                        Cookies that we use
                    </h3>

                    <p class="siimple-p">
                        Below is a detailed list of the cookies we use on our website:
                    </p>

                    <div class="siimple-table siimple-table--border siimple-table--striped">
                        <div class="siimple-table-header">
                            <div class="siimple-table-row">
                                <div class="siimple-table-cell">Name</div>
                                <div class="siimple-table-cell">Type</div>
                                <div class="siimple-table-cell">Purpose</div>
                            </div>
                        </div>
                        <div class="siimple-table-body">
                            <div class="siimple-table-row">
                                <div class="siimple-table-cell"><strong>csrftoken</strong></div>
                                <div class="siimple-table-cell">Essential</div>
                                <div class="siimple-table-cell">Used by us to store a token to prevent CSRF attacks
                                </div>
                            </div>
                            <div class="siimple-table-row">
                                <div class="siimple-table-cell"><strong>access</strong></div>
                                <div class="siimple-table-cell">Essential</div>
                                <div class="siimple-table-cell">Used by us to identify you after you log into the
                                    website.</div>
                            </div>
                            <div class="siimple-table-row">
                                <div class="siimple-table-cell"><strong>refresh</strong></div>
                                <div class="siimple-table-cell">Essential</div>
                                <div class="siimple-table-cell">Used by us to update your identification access token
                                    after it expires.</div>
                            </div>
                        </div>
                    </div>

                    <p class="siimple-p">
                        Certain pages on our site may set other third party cookies.
                        For example, we may embed content - such as videos - from another site that sets a cookie.
                        While we try to minimize these third party cookies, we can’t always control what cookies this
                        third party content sets.
                    </p>

                    <h3 class="siimple-h3">
                        Managing cookies
                    </h3>

                    <p class="siimple-p">
                        You can disable the acceptance of cookies at any time by changing the preferences in your
                        browser. Follow the links below to change your browser settings:
                    </p>

                    <ul class="terms-list">
                        <li><a href="https://support.google.com/chrome/answer/95647?hl=en" class="siimple-link"
                                target="_blank">Google Chrome</a></li>
                        <li><a href="https://support.microsoft.com/en-us/help/278835/how-to-delete-cookie-files-in-internet-explorer"
                                class="siimple-link" target="_blank">Internet Explorer</a></li>
                        <li><a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac"
                                class="siimple-link" target="_blank">Safari</a></li>
                        <li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences"
                                class="siimple-link" target="_blank">Mozilla Firefox</a></li>
                    </ul>

                    <div class="siimple-tip siimple-tip--warning siimple-tip--exclamation">
                        <strong>Warning</strong>: if you choose to disable cookies on your browser you may not be able
                        to use some of the services or features of our website.
                    </div>

                    <span class="siimple-small">Last updated: <strong>May 1, 2020</strong>.</span>
                </div>
            </div>
        </div>
    </div>
</div>