<div class="siimple-modal modal-window siimple-modal--medium" id="modal" *ngIf="visible" (click)="hide()">
    <div class="siimple-modal-content"
    (click)="$event.preventDefault();$event.stopPropagation();"
    >
        <div class="siimple-modal-header">
            <div class="siimple-modal-header-title" translate>Parameters</div>
            <div class="siimple-modal-header-close" id="modal-close" (click)="hide()"></div>
        </div>
        <div class="siimple-modal-body modal-window-body">
            <div class="siimple-grid siimple-card">
                <div class="siimple-grid-row siimple-card-body parameter-record" *ngFor="let workingParameter of workingParameters">
                    <app-working-parameter [workingParameter]=workingParameter [triedToSave]=triedToSave [triedToHide]=triedToHide>
                    </app-working-parameter>
                    <div class="siimple-grid-col siimple-grid-col--2 siimple-grid-col-sm--12">
                        <button class="siimple-btn siimple-btn--error siimple-btn--fluid" type="button" (click)="remove(workingParameter)">
                            <fa-icon class="siimple--mr-1" [icon]="faTrash"></fa-icon> 
                            <span translate>
                                Remove
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="siimple-modal-footer">
            <button class="siimple-btn siimple-btn--success" type="button" (click)="hide()">
                <fa-icon [icon]="faCheck" class="siimple--mr-1"></fa-icon>
                <span translate>
                    OK
                </span>
            </button>

            <button class="siimple-btn siimple-btn--primary siimple--float-right" type="button" (click)="newItem()">
                <fa-icon [icon]="faWeightHanging" class="siimple--mr-1"></fa-icon>
                <span translate>
                    New parameter
                </span>
            </button>
        </div>
    </div>
</div>