.sessions {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #eef2f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
}

.plans-detail-operations-container {
    margin-top: 10px;
}

.plans-operation-button:not(:last-child) {
    margin-right: 10px !important;
}

.plans-detail-operations-container {
    display: flex;
}

.plans-operation-label-delete{
    margin-left: 5px;
}

@media only screen and (max-width: 600px) {
    .plans-operation-button {
        width: 100%;
    }

    .plans-operation-button-delete {
        width: unset !important;
    }

    .plans-operation-label-delete {
        display: none;
        margin-left: 0px !important;
    }
}

