<div class="siimple-navbar siimple-navbar--light siimple-navbar--large">
    <a class="siimple-navbar-title" routerLink="/user/home">sukuwatto</a>
    <div class="siimple--float-right">
        <a class="siimple-navbar-item siimple--display-sm-none" routerLink="/user/home" routerLinkActive="siimple--text-bold">Home</a>
        <a class="siimple-navbar-item" routerLink="/user/workout" routerLinkActive="siimple--text-bold">Workout</a>
        <a class="siimple-navbar-item" routerLink="/user/profile" routerLinkActive="siimple--text-bold">Profile</a>
        <button class="siimple-btn siimple-btn--dark" (click)="signOut()">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>Sign out
        </button>
    </div>
</div>
<div class="siimple-content siimple-content--large">
    <router-outlet></router-outlet>
</div>
