<article class="comment-card siimple--rounded" *ngIf="comment">
    <div *ngIf="editing" class="siimple-form">
        <div class="siimple-form-field">
            <textarea type="text" class="siimple-textarea siimple-textarea--fluid" rows="3" name="newComment"
                id="newComment" required [(ngModel)]="comment.action_object_comment.text" #newComment="ngModel" [placeholder]="'Write your comment here' | translate">
          </textarea>

          <div *ngIf="newComment.invalid && (newComment.dirty || triedToSave)">
              <div class="siimple-field-helper siimple--color-error" translate>This field can't be empty</div>
          </div>
        </div>


        <div class="siimple--clearfix">
            <button class="siimple-btn siimple-btn--primary siimple--float-right" (click)="update()">
                <fa-icon [icon]="faCircleNotch" [spin]=true  class="siimple--mr-1" [spin]=true *ngIf="updating"></fa-icon>
                <fa-icon [icon]="faComment" class="siimple--mr-1" *ngIf="!updating"></fa-icon>
                <span translate>Update</span>
            </button>
        </div>
    </div>
    <div *ngIf="!editing" class="keep-original-formatting">
        {{comment.action_object_comment.text}}
    </div>

    <div class="siimple-rule"></div>

    <div class="comment-info">
        <app-user-tag [username]=comment.user.username [profile_filename]=comment.user.profile_filename>
        </app-user-tag>

        <div class="comment-date">
            <small class="siimple-small siimple--text-bold tooltip siimple--mr-1" *ngIf="comment.action_object_comment && comment.action_object_comment.edited_date" translate>
                edited
            </small>

            <small class="siimple-small">{{comment.timestamp.toString() | timeAgo}}</small>
        </div>

        <app-edit-delete-dropdown class="self-centered siimple--ml-2" 
            (edited)="toggleEditing()" 
            (deleted)="showDeleteModal()"
            *ngIf="authenticatedUserIsOwner">
        </app-edit-delete-dropdown>

        <span role="button" class="report-button button-link no-select" (click)="toggleReportModal()" 
            [title]="'Report' | translate" *ngIf="comment && comment.action_object_comment.id">
            <fa-icon [icon]="faFlag" class="" aria-hidden="true"></fa-icon>
        </span>
    </div>
</article>

<div class="siimple-modal modal-window siimple-modal--medium" id="modal" *ngIf="deleteModalVisible"
(click)="hideDeleteModal()">
    <div class="siimple-modal-content"
    (click)="$event.preventDefault();$event.stopPropagation();"
    >
        <header class="siimple-modal-header">
            <div class="siimple-modal-header-title" translate>Delete comment?</div>
            <div class="siimple-modal-header-close" id="modal-close" (click)="hideDeleteModal()"></div>
        </header>
        <div class="siimple-modal-body modal-window-body">
            <p class="siimple-p" translate>
                This will delete your comment and associated data. Are you sure you want to proceed?
            </p>
        </div>
        <footer class="siimple-modal-footer">
            <button class="siimple-btn siimple-btn--success" type="button" (click)="delete()">
                <fa-icon [icon]="faCheck" class="siimple--mr-1"></fa-icon>
                <span translate>Yes</span>
            </button>
            <button class="siimple-btn siimple-btn--error siimple--ml-2" type="button" (click)="hideDeleteModal()">
                <fa-icon [icon]="faTimes" class="siimple--mr-1"></fa-icon>
                <span translate>Cancel</span>
            </button>
        </footer>
    </div>
</div>

<app-report-modal [visible]="reportModalVisible" (closed)="reportModalVisible = false;"
    [target_plan]=      "comment.target_plan ? comment.target_plan.id : null "
    [target_post]=      "comment.target_post ? comment.target_post.id : null"
    [target_exercise]=  "comment.target_exercise ? comment.target_exercise.id : null"
    [target_workout]=   "comment.target_workout ? comment.target_workout.id : null"

    [target_comment]="comment.action_object_comment.id" *ngIf="comment && comment.action_object_comment.id"
></app-report-modal>