<div class="demo-navigation-container">
    <a class="demo-navigation-item demo-navigation-item-back siimple-link" [routerLink]="previousUrl">
        <fa-icon size="2x" [icon]="arrowLeft" class="siimple--mr-2"></fa-icon>
        <span class="demo-navigation-item-text">
            {{previousText}}
        </span>
    </a>

    <a class="demo-navigation-item demo-navigation-item-next siimple-link" [routerLink]="nextUrl" *ngIf="nextUrl">
        <span class="demo-navigation-item-text">
            {{nextText}}
        </span>
        <fa-icon size="2x" [icon]="arrowRight" class="siimple--ml-2"></fa-icon>
    </a>
</div>