<h1 class="siimple-h1">Plans</h1>

<div *ngIf="adoptedPlans && adoptedPlans.length > 0">
  <h2 class="siimple-h2">Adopted plans</h2>
  <ul class="">
    <li class="siimple-card" *ngFor="let plan of adoptedPlans">
      <div class="siimple-card-header">
        {{plan.name}}
      </div>
      <div class="siimple-card-body">
        {{plan.description}}
      </div>
      <div class="siimple-card-footer ">
        <div class="">
          <button class="siimple-btn siimple-btn--primary siimple--mr-2" routerLink="../plan/{{plan.id}}">Edit</button>
          <button class="siimple-btn siimple-btn--error" (click)="deletePlan(plan)">Remove</button>
        </div>
      </div>
    </li>
  </ul>
</div>

<div *ngIf="plans && plans.length > 0">
  <h2 class="siimple-h2">Public plans</h2>
  <ul class="">
    <li class="siimple-card" *ngFor="let plan of plans">
      <div class="siimple-card-header">
        {{plan.name}}
      </div>
      <div class="siimple-card-body">
        {{plan.description}}
      </div>
      <div class="siimple-card-footer ">
        <div class="">
          <button class="siimple-btn siimple-btn--primary siimple--mr-2" (click)="adoptPlan(plan)">Adopt</button>
          <button class="siimple-btn siimple-btn--primary siimple--mr-2" routerLink="../plan/{{plan.id}}">View</button>
          <button class="siimple-btn siimple-btn--error" (click)="deletePlan(plan)">Remove</button>
        </div>
      </div>
    </li>
  </ul>
</div>

<button class="siimple-btn siimple-btn--primary" routerLink="../plan/">New plan</button>