<div class="toolbar">
  <div class="toolbar-title">Plans</div>

  <div class="toolbar-buttons" *ngIf="isLoggedIn()">
    <button class="siimple-btn siimple-btn--primary toolbar-button" [routerLink]="['/users', username, 'plan']">
      <fa-icon [icon]="faCalendarAlt" class="siimple--mr-1"></fa-icon>
      New
    </button>
  </div>
</div>

<div class="siimple-tabs siimple--mt-2 siimple--mb-2" *ngIf="hasAdoptedPlans || hasOwnedPlans">
  <a class="siimple-tabs-item" [class.siimple-tabs-item--selected]="isPublic"
    [routerLink]="['/users', username, 'plans']" >
    Public
  </a>
  <a class="siimple-tabs-item" [class.siimple-tabs-item--selected]="isAdopted"
    [routerLink]="['/users', username, 'adopted-plans']" *ngIf="hasAdoptedPlans">
    Adopted
  </a>
  <a class="siimple-tabs-item" [class.siimple-tabs-item--selected]="isOwned"
    [routerLink]="['/users', username, 'owned-plans']" *ngIf="hasOwnedPlans">
    Owned
  </a>
</div>

<div *ngIf="plans && plans.length > 0">
  <ul>
    <li class="siimple-card" *ngFor="let plan of plans">
      <app-plan-card [plan]=plan [showSaveDeleteButtons]="showDeleteButton(plan)" (deleted)="deletePlan(plan)"
        (adopted)="planAdopted()" (left)="planLeft()" [detailView]=true>
      </app-plan-card>
    </li>
  </ul>

  <app-pagination [paginatedRecords]="paginatedPlans" [currentPage]="currentPage" [link]="link">
  </app-pagination>
</div>