ul {
    padding: 0;
    list-style-type: none;
}

.search-box {
    display: flex;
    background-color: #eef2f7;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
}

.search-box-input {
    background-color: #ffffff !important;
    margin-right: 15px;
    width: 100%;
}

.search-buttons {
    margin-left: auto;
}