<div class="siimple-content siimple-content--large">
    <div class="siimple-h2 siimple--text-bold siimple--mb-1" align="center">
        sukuwatto<br>
        スクワット
    </div>
    <div>
        <app-alert></app-alert>
    </div>
    <div class="siimple-grid">
        <div class="siimple-grid-row">
            <div class="siimple-grid-col siimple-grid-col siimple-grid-col--3 siimple-grid-col-sm--12">
                <app-menu-legal></app-menu-legal>
            </div>
            <div class="siimple-grid-col siimple-grid-col--9 siimple-grid-col-sm--12 sd-column">
                <div class="siimple-card">
                    <h2 class="siimple-h2">Privacy Policy</h2>

                    <h3 class="siimple-h3">
                        1. Introduction
                    </h3>

                    <p class="siimple-p">
                    </p>

                    <span class="siimple-small">Last updated: <strong>May 1, 2020</strong>.</span>
                </div>
            </div>
        </div>
    </div>
</div>