<div class="siimple-content siimple-content--extra-large">
    <div class="siimple-h2 siimple--text-bold siimple--mb-1" align="center">
        <app-main-logo></app-main-logo>
    </div>
    <div>
        <app-alert></app-alert>
    </div>
    <div class="siimple-grid">
        <div class="siimple-grid-row">
            <div class="siimple-grid-col siimple-grid-col siimple-grid-col--3 siimple-grid-col-sm--12">
                <app-menu-legal></app-menu-legal>
            </div>
            <div class="siimple-grid-col siimple-grid-col--9 siimple-grid-col-sm--12 sd-column">
                <div class="siimple-card">
                    <h2 class="siimple-h2">Privacy Policy</h2>

                    <h3 class="siimple-h3">
                        1. Introduction
                    </h3>

                    <p class="siimple-p">
                        Thank you for using Sukuwatto.
                    </p>

                    <p class="siimple-p">
                        We want to provide you with the best service for your fitness experience. 
                        To deliver it, we need to collect some personal information regarding your activities, body composition among others. 
                        Your privacy and the security of your personal data is extremely important to us. 
                        In this document we'll explain what data we collect and how and why we'll collect, store, share and use your personal data.
                        We will also explain what options and controls you have to choose when and how to share your data.
                    </p>

                    <p class="siimple-p">
                        We'll use this Privacy Policy to explain what we mean in more detail below.
                    </p>

                    <h3 class="siimple-h3">
                        2. About this policy
                    </h3>

                    <p class="siimple-p">
                        This policy applies to all services of the sukuwatto website and application. The terms of usage are defined <a class="siimple-link" href="/terms-and-conditions">here</a>.
                    </p>

                    <p class="siimple-p">
                        New or additional services may be created in the future. 
                        If the introduction of this new or additional services implies a change in the way your data is stored or processed we'll provide more information to you about new terms or policies.
                        If we don't, these new or additional services will be subject to this policy.
                    </p>

                    <p class="siimple-p">
                        Our objectives with this document are:
                    </p>

                    <ul class="terms-list">
                        <li>Explain in what why data is stored and the reasons we store and share it;</li>
                        <li>Explain the way personal data shared with us leads to a better experience when using our service;</li>
                        <li>Explain rights and choices regarding how personal data is stored and processed and how we protect user privacy;</li>
                    </ul>

                    <p class="siimple-p">
                        For more information about this policy or other matters please contact us using this <a class="siimple-link" href="/contact-us">link</a>.
                    </p>

                    <h3 class="siimple-h3">
                        3. Rights, choices and preferences
                    </h3>

                    <p class="siimple-p">
                        The General Data Protection Regulation (GDPR) is a regulation in EU law on data protection and privacy. 
                        This law gives users the following rights:
                    </p>
                    
                    <ul class="terms-list">
                        <li><strong class="siimple--text-bold">Right to be informed</strong>: the right to be informed about collection and usage of your personal data;</li>
                        <li><strong class="siimple--text-bold">Right of access</strong>: the right to request access to personal data processed about you;</li>
                        <li><strong class="siimple--text-bold">Right to rectification</strong>: the right to request that we update or amend your personal data when it is found to be incomplete or inacurate;</li>
                        <li><strong class="siimple--text-bold">Right to erasures</strong>: the right to request that your personal data is deleted;</li>
                        <li><strong class="siimple--text-bold">Right to restrict processing</strong>: the right to restrict processing of personal data in certain circumstances;</li>
                        <li><strong class="siimple--text-bold">Right to data portability</strong>: the right to request a copy of your personal data in a common electronic format and to transmit that data for use in another party's service;</li>
                        <li><strong class="siimple--text-bold">Right to object</strong>: the right to object to processing of your personal data for marketing, sales or non-service related purposes;</li>
                        <li><strong class="siimple--text-bold">Rights in relation to automated decision making and profiling</strong>: the right not to be subjected to a decision based solely on automated decision making, including profiling.</li>
                    </ul>

                    <p class="siimple-p">
                        To exercise these rights easily we provide the following functionalities and information regarding your preferences in how our service uses your personal data:
                    </p>

                    <ul class="terms-list">
                        <li><strong class="siimple--text-bold">Privacy settings</strong>: The privacy settings on the user account settings allows you to define the default visibility of newly created activities and limit access to your user profile and other personal data.</li>
                        <li><strong class="siimple--text-bold">Data portability</strong>: We offer the option to request a copy of all of your data collected by us, in your account settings;</li>
                        <li><strong class="siimple--text-bold">Activity visibility</strong>: The visibility setting on an activity (such as a workout, or body measurement) allows you to define who gets to see your activities;</li>
                        <li><strong class="siimple--text-bold">Account deletion</strong>: An option to delete the account is present on the user account settings;</li>
                        <li><strong class="siimple--text-bold">Cookies policy</strong>: Provides more information about how we use cookies and how you can manage cookie preferences on your browser.</li>
                    </ul>

                    <p class="siimple-p">
                        For any questions regarding your rights and how they can be exercised or your privacy please <a class="siimple-link" href='/contact-us'>contact us</a>.
                    </p>

                    <p class="siimple-p">
                        We hope you can address any questions you might have regarding privacy and your personal data with us. Nevertheless, you can also contact and/or lodge a complaint with the Portuguese Data Protection Authority or your local Data Protection Authority.
                    </p>

                    <h3 class="siimple-h3">
                        4. Personal data collected
                    </h3>

                    <ul class="terms-list">
                        <li>
                            <strong class="siimple--text-bold">User data</strong>:  
                            We collect information about you upon creating a new account or when you change your account information. 
                            This information includes: e-mail address, name, location, birthday and gender. 
                            Most of this information is not needed for signing up or continuous usage of the website/application.
                        </li>
                        <li>
                            <strong class="siimple--text-bold">Activity data</strong>: 
                            We collect information every time a new activity is created on our platform. 
                            Activities include workouts, body composition measurements, plans and exercises. 
                            Most activities allow limiting visibility to other users. 
                            Workout data collected might include geolocation information, when you allow an exercise to be tracked in such a manner. 
                            We use this location information to be able to plot your activity on a map and calculate distance, speed and other relevant information regarding your activity. 
                            Body composition measurements help us to improve our service by allowing a more accurate estimation of caloric expenditure on activities. 
                            All activities owned by a user can be changed and deleted, with the exception of exercises when they're used in another user's activities. 
                            Public plans created by a user might be adopted by another user, effectively creating a copy of the plan.
                        </li>
                        <li>
                            <strong class="siimple--text-bold">Interaction data</strong>: 
                            We collect information every time an interaction is created on our platform. Interactions include messages, posts, comments.
                            Personal messages are encrypted and limited in their access to the sender and receiver.
                            Post and comments are limited in their access by the activities visibility, and can be deleted or updated by their owner at any time.
                        </li>
                    </ul>

                    <p class="siimple-p">
                        We use this personal data to provide and personalize the service; to understand, diagnose and troubleshoot issues with the service; to evaluate new features and improvements to the service; for marketing, promotion and advertising purposes and to comply with legal obligations and law enforcement requests. 
                        We collect this personal data on the legal basis of performance of a contract, legitimate interest and user consent.
                    </p>

                    <h3 class="siimple-h3">
                        5. Transfer to other countries
                    </h3>

                    <p class="siimple-p">
                        Due to the nature of internet services there might be a need to transfer personal data to a country outside the jurisdiction of the EU.
                        If and when that need arises we will do so in accordance to the privacy laws of those countries and the present privacy policy.
                    </p>

                    <h3 class="siimple-h3">
                        6. Links
                    </h3>

                    <p class="siimple-p">
                        Occasionally our services may contain links to other websites, mobile application and other online services operated by other parties.
                        We do not support, endorse, represent or affiliated with other third parties.
                        We do not control those third party websites, services or content and we are not responsible for their actions or their privacy policies. 
                        Please refer to their policies for more info on their services and applications.
                    </p>

                    <h3 class="siimple-h3">
                        7. Children
                    </h3>

                    <p class="siimple-p">
                        Our services are not intended for children under 13 years of age.
                        We do not knowingly collect information from such children nor do we target our services to those children.
                    </p>

                    <h3 class="siimple-h3">
                        8. Policy changes
                    </h3>

                    <p class="siimple-p">
                        Occasionally there might be a need to make changes to the present policy.
                        We will notify you of those changes either by a notification inside our services or an e-mail to the account registered in our system.
                    </p>

                    <span class="siimple-small">Last updated: <strong>Oct 1, 2020</strong>.</span>
                </div>
            </div>
        </div>
    </div>
</div>