<div class="siimple-card siimple--mb-4" *ngIf="availableCharts && availableCharts.length > 0">
  <div class="siimple-card-body">
    <div class="navigation-box" align="center">

      <button class="siimple-btn siimple-btn--small siimple-btn--primary navigation-previous" (click)="previous()" *ngIf="availableCharts.length > 1">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
      </button>

      <span class="current-series siimple--text-bold siimple--bg-light siimple--rounded" align="center">
        <span *ngIf="currentChart" >{{currentChart.name}}</span>
      </span>

      <button class="siimple-btn siimple-btn--small siimple-btn--primary navigation-next" (click)="next()" *ngIf="availableCharts.length > 1">
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </button>
    </div>

    <div *ngIf="currentProgressData">
      <div *ngIf="currentProgressData.type == UserProgressChartType.Line ||
                  currentProgressData.type == UserProgressChartType.Area">
        <app-user-progress-chart [width]="chartWidth" [progressData]=currentProgressData>
        </app-user-progress-chart>
      </div>
      <div *ngIf="currentProgressData.type == UserProgressChartType.Pie">
        <app-pie-chart [width]="chartWidth" [progressData]=currentProgressData>
        </app-pie-chart>
      </div>
    </div>

    <div *ngIf="!currentProgressData" class="loading-container">
      <div class="siimple-spinner siimple-spinner--light"></div>
    </div>
  </div>
</div>
