:host { display: block; }

.navigation-previous {
    float: left;
    text-align: left;
}

.navigation-next {
    float: right;
    text-align: right;
}

.current-series {
    padding: 5px;
    display: inline-block;
    flex-grow: 1;
}

.navigation-box {
    display: flex;
    vertical-align: top;
    width: calc(100% - 20px);
    background-color: #dde5ee;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 34px;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 244px;
}
