<app-delete-modal [(visible)]="deleteModalVisible" title='Delete release?'
    body='This will delete your release and associated data. Are you sure you want to proceed?' (deleted)="delete()"
    (canceled)="hideDeleteModal()">
</app-delete-modal>

<div *ngIf="forbidden">
    <app-forbidden>
    </app-forbidden>
</div>

<div *ngIf="!loading && !forbidden">
    <div *ngIf="!userIsStaff">
        <div *ngIf="notFound">
            <app-page-not-found>
            </app-page-not-found>
        </div>
        <div *ngIf="release">
            <app-release-card [release]="release" [commentsSectionOpen]=true [detailView]=true></app-release-card>
        </div>
    </div>

    <div *ngIf="userIsStaff">
        <form class="siimple-card siimple-form siimple--mb-0" #exerciseForm="ngForm">
            <div class="siimple-form-title form-title">Release detail</div>

            <div class="siimple-form-field">
                <div class="siimple-form-field-label">Version</div>
                <input type="text" class="siimple-input siimple-input--fluid" required name="version" id="version"
                    applyFocus [(ngModel)]="release.version" #version="ngModel">

                <div *ngIf="version.invalid && (version.dirty || triedToSave)">
                    <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                </div>
            </div>

            <div class="siimple-form-field">
                <div class="siimple-form-field-label">Description</div>
                <textarea required type="text" class="siimple-textarea siimple-textarea--fluid" rows="3"
                    name="description" id="description" [(ngModel)]="release.description"
                    #description="ngModel">
                </textarea>

                <div *ngIf="description.invalid && (description.dirty || triedToSave)">
                    <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                </div>
            </div>

            <div class="siimple-form-field">
                <div class="siimple-form-field-label">Deploy date</div>
                <input type="date" class="siimple-input-date siimple-input--fluid"  name="deploy_date" id="deploy_date"
                    [ngModel]="release.deploy_date | date:'yyyy-MM-dd'" 
                    (ngModelChange)="setReleaseDeployDate($event)"
                    #deploy_date="ngModel">

                <div *ngIf="(deploy_date.invalid || (release.state=='d' && !release.deploy_date)) && (deploy_date.dirty || triedToSave)">
                    <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                </div>
            </div>

            <div class="siimple-form-field">
                <div class="siimple-form-field-label">State</div>
                <select required class="siimple-select siimple-select--fluid" name="state" id="state"
                    [(ngModel)]="release.state" #state="ngModel">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let stateModel of stateLabel | keyvalue"
                        value={{stateModel.key}}>
                        {{stateModel.value}}
                    </option>
                </select>

                <div *ngIf="state.invalid && (state.dirty || triedToSave)">
                    <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                </div>
            </div>

            <div class="siimple-card">
                <div class="siimple-card-header">
                    Features
                </div>
                <div class="siimple-card-body">
                    <div *ngFor="let feature of release.features" class="siimple--mb-2">
                        <app-feature-detail-card [feature]=feature [detailView]=true [showCancelButton]=true
                            (cancelled)="removeFeature(feature)">
                        </app-feature-detail-card>
                    </div>

                    <button class="siimple-btn siimple-btn--primary siimple--mt-2" (click)="showFeatureSelection()" type="button">
                        <fa-icon [icon]="faCode" class="  siimple--mr-1" ></fa-icon>
                        Add feature
                    </button>
                </div>
            </div>

            <div class="detail-operations-separator"></div>

            <button *ngIf="showSaveButton()" class="siimple-btn siimple-btn--success siimple--mt-2" (click)="save()"
                type="button"
                [class.siimple-btn--disabled]="saving" [disabled]="saving">
                <fa-icon [icon]="faSave" class="  siimple--mr-1" *ngIf="!saving"></fa-icon>
                <fa-icon [icon]="faCircleNotch" [spin]=true class="  siimple--mr-1" *ngIf="saving"></fa-icon>
                Save
            </button>
            <button *ngIf="showDeleteButton()" class="siimple-btn siimple-btn--error siimple--mt-2 siimple--ml-2"
                type="button"
                [class.siimple-btn--disabled]="deleting" [disabled]="deleting" (click)="showDeleteModal()">
                <fa-icon [icon]="faTrash" class="  siimple--mr-1" *ngIf="!deleting"></fa-icon>
                <fa-icon [icon]="faCircleNotch" [spin]=true class="  siimple--mr-1" *ngIf="deleting"></fa-icon>
                Delete
            </button>
        </form>
    </div>
</div>

<app-features-modal
    [visible]=featureSelectionVisible
    (selected)="addFeature($event)"
    (closed)="modalClosed()"
></app-features-modal>