<div *ngIf="exercise">
    <form class="siimple-card siimple-form siimple--mb-0" #exerciseForm="ngForm">
        <div class="siimple-form-title form-title" *ngIf="showTitle">Exercise detail</div>
        <div class="siimple-grid">
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--8 siimple-grid-col--sm-12 siimple--py-0">
                    <div class="siimple-form-field">
                        <div class="siimple-form-field-label">Name</div>
                        <input type="text" class="siimple-input siimple-input--fluid" required name="name" id="name"
                            applyFocus
                            [(ngModel)]="exercise.name" #name="ngModel">

                        <div *ngIf="name.invalid && (name.dirty || triedToSave)">
                            <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-12 siimple--py-0">
                    <div class="siimple-form-field">
                        <div class="siimple-form-field-label">Short name</div>
                        <input type="text" class="siimple-input siimple-input--fluid" required name="short_name" id="short_name"
                            [(ngModel)]="exercise.short_name" #short_name="ngModel">

                        <div *ngIf="short_name.invalid && (short_name.dirty || triedToSave)">
                            <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--12 siimple--py-0">
                    <div class="siimple-form-field">
                        <div class="siimple-form-field-label">Description</div>
                        <textarea type="text" class="siimple-textarea siimple-textarea--fluid" rows="3" 
                            name="description" id="description" [(ngModel)]="exercise.description"
                            #description="ngModel">
                        </textarea>

                        <div *ngIf="description.invalid && (description.dirty || triedToSave)">
                            <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--12 siimple--py-0">
                    <div class="siimple-form-field">
                        <div class="siimple-form-field-label">Muscle</div>
                        <input type="text" class="siimple-input siimple-input--fluid" name="muscle" id="muscle"
                            [(ngModel)]="exercise.muscle" #muscle="ngModel">

                        <div *ngIf="muscle.invalid && (muscle.dirty || triedToSave)">
                            <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--12 siimple--py-0">
                    <div class="siimple-form-field siimple-card-body">
                        <div class="siimple-form-field-label">Type</div>

                        <div class="siimple--display-block">
                            <div class="siimple-radio">
                                <input type="radio" id="cardio" name="cardio" value="c"
                                    [(ngModel)]="exercise.exercise_type" #cardio="ngModel">
                                <label for="cardio"></label>
                            </div>
                            <label class="siimple-label clickable" for="cardio">Cardio</label>
                        </div>

                        <div class="siimple--display-block">
                            <div class="siimple-radio">
                                <input type="radio" id="strength" name="strength" value="s"
                                    [(ngModel)]="exercise.exercise_type" #strength="ngModel">
                                <label for="strength"></label>
                            </div>
                            <label class="siimple-label clickable" for="strength">Strength</label>
                        </div>

                        <div *ngIf="triedToSave && !exercise.exercise_type">
                            <div class="siimple-field-helper siimple--color-error siimple--mb-0">This field is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--12 siimple--py-0">
                    <div class="siimple-form-field siimple-card-body"
                        [class.siimple--mb-0]="exercise.exercise_type != 's'"
                    >
                        <div class="siimple-form-field-label">Level</div>

                        <div class="siimple--display-block">
                            <div class="siimple-radio">
                                <input type="radio" id="beginner" name="beginner" value="b" [(ngModel)]="exercise.level"
                                    #beginner="ngModel">
                                <label for="beginner"></label>
                            </div>
                            <label class="siimple-label clickable" for="beginner">Beginner</label>
                        </div>

                        <div class="siimple--display-block">
                            <div class="siimple-radio">
                                <input type="radio" id="intermediate" name="intermediate" value="i" [(ngModel)]="exercise.level"
                                    #intermediate="ngModel">
                                <label for="intermediate"></label>
                            </div>
                            <label class="siimple-label clickable" for="intermediate">Intermediate</label>
                        </div>

                        <div class="siimple--display-block">
                            <div class="siimple-radio">
                                <input type="radio" id="advanced" name="advanced" value="a" [(ngModel)]="exercise.level"
                                    #advanced="ngModel">
                                <label for="advanced"></label>
                            </div>
                            <label class="siimple-label clickable" for="advanced">Advanced</label>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="exercise.exercise_type == 's'">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--12 siimple--py-0">
                        <div class="siimple-form-field siimple-card-body">
                            <div class="siimple-form-field-label">Mechanics</div>
            
                            <div class="siimple--display-block">
                                <div class="siimple-radio">
                                    <input type="radio" id="compound" name="compound" value="c" [(ngModel)]="exercise.mechanics"
                                        #compound="ngModel">
                                    <label for="compound"></label>
                                </div>
                                <label class="siimple-label clickable" for="compound">Compound</label>
                            </div>
            
                            <div class="siimple--display-block">
                                <div class="siimple-radio">
                                    <input type="radio" id="isolated" name="isolated" value="i" [(ngModel)]="exercise.mechanics"
                                        #isolated="ngModel">
                                    <label for="isolated"></label>
                                </div>
                                <label class="siimple-label clickable" for="isolated">Isolated</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--12 siimple--py-0">
                        <div class="siimple-form-field siimple-card-body">
                            <div class="siimple-form-field-label">Force</div>
            
                            <div class="siimple--display-block">
                                <div class="siimple-radio">
                                    <input type="radio" id="pull" name="pull" value="p" [(ngModel)]="exercise.force"
                                        #pull="ngModel">
                                    <label for="pull"></label>
                                </div>
                                <label class="siimple-label clickable" for="pull">Pull</label>
                            </div>
            
                            <div class="siimple--display-block">
                                <div class="siimple-radio">
                                    <input type="radio" id="push" name="push" value="q" [(ngModel)]="exercise.force"
                                        #push="ngModel">
                                    <label for="push"></label>
                                </div>
                                <label class="siimple-label clickable" for="push">Push</label>
                            </div>
            
                            <div class="siimple--display-block">
                                <div class="siimple-radio">
                                    <input type="radio" id="static" name="static" value="s" [(ngModel)]="exercise.force"
                                        #static="ngModel">
                                    <label for="static"></label>
                                </div>
                                <label class="siimple-label clickable" for="static">Static</label>
                            </div>
            
                            <div class="siimple--display-block">
                                <div class="siimple-radio">
                                    <input type="radio" id="pullpush" name="pullpush" value="x" [(ngModel)]="exercise.force"
                                        #pullpush="ngModel">
                                    <label for="pullpush"></label>
                                </div>
                                <label class="siimple-label clickable" for="pullpush">Pull and push</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--12 siimple--py-0">
                        <div class="siimple-form-field siimple-card-body">
                            <div class="siimple-form-field-label">Modality</div>
            
                            <div class="siimple--display-block">
                                <div class="siimple-radio">
                                    <input type="radio" id="free_weights" name="free_weights" value="f"
                                        [(ngModel)]="exercise.modality" #free_weights="ngModel">
                                    <label for="free_weights"></label>
                                </div>
                                <label class="siimple-label clickable" for="free_weights">Free Weights</label>
                            </div>
            
                            <div class="siimple--display-block">
                                <div class="siimple-radio">
                                    <input type="radio" id="machine" name="machine" value="m" [(ngModel)]="exercise.modality"
                                        #machine="ngModel">
                                    <label for="machine"></label>
                                </div>
                                <label class="siimple-label clickable" for="machine">Machine</label>
                            </div>
            
                            <div class="siimple--display-block">
                                <div class="siimple-radio">
                                    <input type="radio" id="cable" name="cable" value="c" [(ngModel)]="exercise.modality"
                                        #cable="ngModel">
                                    <label for="cable"></label>
                                </div>
                                <label class="siimple-label clickable" for="cable">Cable</label>
                            </div>
            
                            <div class="siimple--display-block">
                                <div class="siimple-radio">
                                    <input type="radio" id="calisthenics" name="calisthenics" value="x" [(ngModel)]="exercise.modality"
                                        #calisthenics="ngModel">
                                    <label for="calisthenics"></label>
                                </div>
                                <label class="siimple-label clickable" for="calisthenics">Calisthenics</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--12 siimple--py-0">
                        <div class="siimple-form-field siimple-card-body siimple--mb-0">
                            <div class="siimple-form-field-label">Section</div>
            
                            <div class="siimple--display-block">
                                <div class="siimple-radio">
                                    <input type="radio" id="upper" name="upper" value="u" [(ngModel)]="exercise.section"
                                        #upper="ngModel">
                                    <label for="upper"></label>
                                </div>
                                <label class="siimple-label clickable" for="upper">Upper</label>
                            </div>
            
                            <div class="siimple--display-block">
                                <div class="siimple-radio">
                                    <input type="radio" id="lower" name="lower" value="l" [(ngModel)]="exercise.section"
                                        #lower="ngModel">
                                    <label for="lower"></label>
                                </div>
                                <label class="siimple-label clickable" for="lower">Lower</label>
                            </div>
            
                            <div class="siimple--display-block">
                                <div class="siimple-radio">
                                    <input type="radio" id="core" name="core" value="c" [(ngModel)]="exercise.section"
                                        #core="ngModel">
                                    <label for="core"></label>
                                </div>
                                <label class="siimple-label clickable" for="core">Core</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
