<div class="siimple-menu siimple--mb-0" *ngIf="authService.isLoggedIn()">
    <a class="siimple-menu-item main-menu-item siimple--display-md-none siimple--display-sm-none" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'home']">Home</a>
    <a class="siimple-menu-item main-menu-item" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'profile']">Profile</a>
    <a class="siimple-menu-item main-menu-item" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'messages']">Messages</a>
    <a class="siimple-menu-item main-menu-item" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'workouts']">Workouts</a>
    <a class="siimple-menu-item main-menu-item" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'exercises']">Exercises</a>
    <a class="siimple-menu-item main-menu-item" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'plans']">Plans</a>
</div>