@media only screen and (max-width: 768px) {
    .main-menu-item {
        padding-left: 13px;
        font-size: 21px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-weight: 500;
        border-radius: 0px !important;
        display: flex;
    }

    .menu-icon-image-container {
        width: 27px;
        display: flex;
        justify-content: center;
        padding-right: 10px;
    }

}

.main-menu-item {
    display: flex;
}

@media only screen and (min-width: 960px) {
    .menu-icon-image-container {
        width: 27px;
        display: flex;
        justify-content: center;
    }

    .main-menu-item {
        display: flex;
    }
}

@media only screen and (min-width: 769px) and (max-width: 960px) {
    .menu-icon-image-container {
        display: none;
    }
}

.scrollable-menu {
    overflow-y: auto;
    max-height: calc(100% - 74px);
}

.menu-tag-item {
    height: 18px;
    width: 6px;
    align-self: center;
    border-radius: 50%;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    background-color: #4e91e4 !important;
    color: #fff !important;
	display: flex;
    justify-content: center;
    margin-left: 4px;
}

.menu-item-label {
    flex-grow: 1;
}

.menu-rule {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}