<div class="siimple-menu siimple--mb-0 navigation-menu scrollable-menu" *ngIf="authService.isLoggedIn()">
    <a class="siimple-menu-item main-menu-item siimple--display-md-none siimple--display-sm-none" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'home']">
        <div class="menu-icon-image-container">
            <fa-icon [icon]="iconHome" class="menu-icon-image"></fa-icon>
        </div>
        Home
    </a>
    <a class="siimple-menu-item main-menu-item" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'profile']">
        <div class="menu-icon-image-container">
        <fa-icon [icon]="iconProfile" class="menu-icon-image"></fa-icon>
        </div>
        Profile
    </a>
    <a class="siimple-menu-item main-menu-item" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'messages']">
        <div class="menu-icon-image-container">
        <fa-icon [icon]="iconMessages" class="menu-icon-image"></fa-icon>
        </div>
        <span class="menu-item-label">Messages</span>

        <div class="menu-tag-item "
            *ngIf="unread_messages_count > 0">
            <span *ngIf="unread_messages_count < 10">{{unread_messages_count}}</span>
            <span *ngIf="unread_messages_count >= 10">9+</span>
        </div>
    </a>
    <a class="siimple-menu-item main-menu-item" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'workouts']">
        <div class="menu-icon-image-container">
        <fa-icon [icon]="iconWorkouts" class="menu-icon-image"></fa-icon>
        </div>
        Workouts
    </a>
    <a class="siimple-menu-item main-menu-item" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'exercises']">
        <div class="menu-icon-image-container">
        <fa-icon [icon]="iconExercises" class="menu-icon-image"></fa-icon>
        </div>
        Exercises
    </a>
    <a class="siimple-menu-item main-menu-item" 
    [class.siimple-menu-item--selected]="isRouterLinkPlans"
        [routerLink]="['/users', authService.getUsername(), 'plans']">
        <div class="menu-icon-image-container">
        <fa-icon [icon]="iconPlans" class="menu-icon-image"></fa-icon>
        </div>
        Plans
    </a>
    <a class="siimple-menu-item main-menu-item" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'measurements']">
        <div class="menu-icon-image-container">
        <fa-icon [icon]="iconMeasurements" class="menu-icon-image"></fa-icon>
        </div>
        Body
    </a>
    <a class="siimple-menu-item main-menu-item" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'search-users']">
        <div class="menu-icon-image-container">
        <fa-icon [icon]="iconUsers" class="menu-icon-image"></fa-icon>
        </div>
        Users
    </a>
    <a class="siimple-menu-item main-menu-item" routerLinkActive="siimple-menu-item--selected"
        [routerLink]="['/users', authService.getUsername(), 'features']">
        <div class="menu-icon-image-container">
        <fa-icon [icon]="iconDevelopment" class="menu-icon-image"></fa-icon>
        </div>
        Features
    </a>
</div>