<div class="search-box">
    <input type="text" class="siimple-input search-box-input" id="search-input" (keydown.enter)="search()" applyFocus
        placeholder="Search..." [(ngModel)]=searchFilter #searchInput="ngModel">
    <div class="search-buttons">
        <button type="button" class="siimple-btn siimple-btn--error siimple--ml-1" (click)="clearFilters()">
            <fa-icon [icon]="faBackspace" class=""></fa-icon>
        </button>
    </div>
</div>

<div class="" >
  <ul class="">
    <li *ngFor="let feature of features">
      <app-feature-detail-card [detailView]=true [feature]=feature 
        (deleted)="deleteFeature(feature)"
        (selected)="selectFeature(feature)"
        [canNavigate]=featureClickNavigates>
      </app-feature-detail-card>
    </li>
  </ul>

  <app-pagination [paginatedRecords]="paginatedFeatures" [currentPage]="currentPage"
    (navigateToPage)="navigateToPage($event)"
    [link]=link [queryParams]=queryParams>
  </app-pagination>
</div>
