<ng-container [ngSwitch]=object.object_type>
    <ng-template [ngSwitchCase]="'user'">
        <app-user-link [username]=object.display_name></app-user-link>
    </ng-template>

    <ng-template [ngSwitchCase]="'post'">
        <a class="siimple-link"
            [routerLink]="['/users', username, 'post', object_id]">
            post
        </a>
    </ng-template>

    <ng-template [ngSwitchCase]="'workout'">
        <a class="siimple-link"
            [routerLink]="['/users', username, 'workout', object_id]">
            workout
        </a>
    </ng-template>

    <ng-template [ngSwitchCase]="'plan'">
        <a class="siimple-link"
            [routerLink]="['/users', username, 'plan', object_id]">
            plan
        </a>
    </ng-template>

    <ng-template ngSwitchDefault>
        {{object.display_name}}
    </ng-template>
</ng-container>