<ng-container [ngSwitch]=object_type>
    <ng-template [ngSwitchCase]="'user'">
        <app-user-link [username]=display_name></app-user-link>
    </ng-template>

    <ng-template [ngSwitchCase]="'userbiodata'">
        <a class="siimple-link"
            [routerLink]="['/users', username, 'measurement', object_id]">
            measurement
        </a>
    </ng-template>

    <ng-template [ngSwitchCase]="'post'">
        <a class="siimple-link"
            [routerLink]="['/users', username, 'post', object_id]">
            post
        </a>
    </ng-template>

    <ng-template [ngSwitchCase]="'workout'">
        <a class="siimple-link"
            [routerLink]="['/users', username, 'workout', object_id]">
            workout
        </a>
    </ng-template>

    <ng-template [ngSwitchCase]="'plan'">
        <a class="siimple-link"
            [routerLink]="['/users', username, 'plan', object_id]">
            plan
        </a>
    </ng-template>

    <ng-template [ngSwitchCase]="'exercise'">
        <a class="siimple-link"
            [routerLink]="['/users', username, 'exercise', object_id]">
            exercise
        </a>
    </ng-template>

    <ng-template [ngSwitchCase]="'feature'">
        <a class="siimple-link"
            [routerLink]="['/users', username, 'feature', object_id]">
            feature
        </a>
    </ng-template>

    <ng-template [ngSwitchCase]="'release'">
        <a class="siimple-link"
            [routerLink]="['/users', username, 'release', object_id]">
            release
        </a>
    </ng-template>

    <ng-template ngSwitchDefault>
        {{display_name}}
    </ng-template>
</ng-container>