.ellipsis {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.ellipsis:hover {
  opacity: 1;
}

.ellipsis::before, .ellipsis::after {
  background-color: #546778;
  position: absolute;
}

.dropdown {
  position: relative;
  display: flex;
  font-weight: 400;
}

.dropdown-content {
  font-family: "Ubuntu", "Roboto", sans-serif; 
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 100%;
  margin-right: 10px;
  margin-top: 10px;
}

.dropdown-content-item {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor:pointer;
}

.dropdown-content-item:hover {background-color: #ddd;}

.trash-icon {
  padding-left: 2px;
  padding-right: 2px;
}