<div class=" stats" *ngIf="showStats">
    <div class="stats-body">
        <div class="siimple-grid">
            <div class="siimple-grid-row stats-item clickable"  *ngIf="ellapsedTime"
                (click)="timeClick()"
            >
                <div class="siimple-grid-col siimple-grid-col--4">Time</div>
                <div class="siimple-grid-col siimple-grid-col--8" align="right">{{ellapsedTime}}</div>
            </div>
            <div class="siimple-grid-row stats-item" *ngIf="distance">
                <div class="siimple-grid-col siimple-grid-col--6">Distance</div>
                <div class="siimple-grid-col siimple-grid-col--6" align="right"
                    *ngIf="(distanceUnit.abbreviation == 'km' || distanceUnit.abbreviation == 'mi') && distance < 1">
                    {{distanceInSmallerUnit}}{{distanceSmallerUnit.abbreviation}}
                </div>
                <div class="siimple-grid-col siimple-grid-col--6" align="right"
                    *ngIf="(distanceUnit.abbreviation == 'km' || distanceUnit.abbreviation == 'mi') && distance >= 1">
                    {{distance}}{{distanceUnit.abbreviation}}
                </div>
            </div>
            <div class="siimple-grid-row stats-item" *ngIf="speed">
                <div class="siimple-grid-col siimple-grid-col--5">Speed</div>
                <div class="siimple-grid-col siimple-grid-col--7" align="right" *ngIf="speedUnit">
                    {{speed}}{{speedUnit.abbreviation}}
                </div>
            </div>
            <div class="siimple-grid-row stats-item " *ngIf="calories">
                <div class="siimple-grid-col siimple-grid-col--5">Energy</div>
                <div class="siimple-grid-col siimple-grid-col--7" align="right" *ngIf="energyUnit">
                    {{calories}}{{energyUnit.abbreviation}}
                </div>
            </div>
        </div>
    </div>
</div>