.stats {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stats-item {
  font-size: 28px;
  font-weight: 600;
}

.stats-body {
  flex-grow:1;
  padding: 12px;
}

.stats-header {
  padding: 16px;
  text-align: center;
  background-color: #eef2f7;
  font-size: 32px;
  font-weight: 600;
}