<div class="siimple-content siimple-content--extra-small ">
    <div class="siimple--px-4 siimple--pt-5">
        <div class="siimple-h2 siimple--text-bold siimple--mb-4" align="center">
            <app-main-logo></app-main-logo>
        </div>
        <div>
            <app-alert></app-alert>
        </div>
        <form class="siimple-card" #loginForm="ngForm" (submit)="login()">
            <div class="siimple-card-body">
                <div class="siimple-field">
                    <label class="siimple-field-label" for="username" translate>Username</label>
                    <input name="username" id="username" [(ngModel)]="user.username" #username="ngModel" type="text"
                        applyFocus
                        required class="siimple-input siimple-input--fluid" >

                    <div *ngIf="username.invalid && (username.dirty || triedToLogin)">
                        <div class="siimple-field-helper siimple--color-error" translate>This field can't be empty</div>
                    </div>
                </div>
                <div class="siimple-field">
                    <label class="siimple-field-label" for="password" ><span translate>Password</span>
                      <a class="siimple-link
                        siimple--float-right" routerLink='/reset-password-request/' translate>Forgot password?</a></label>
                    <input name="password" id="password" [(ngModel)]="user.password" type="password" #password="ngModel"
                        required class="siimple-input siimple-input--fluid">

                    <div *ngIf="password.invalid && (password.dirty || triedToLogin)">
                        <div class="siimple-field-helper siimple--color-error" translate>This field can't be empty</div>
                    </div>
                </div>

                <button name="login" type="submit" [disabled]="loggingIn" [class.siimple-btn--disabled]="loggingIn"
                    class="siimple-btn siimple-btn--success siimple-btn--fluid siimple--text-bold">
                    <fa-icon [icon]="faCircleNotch" [spin]=true class="  siimple--mr-1" *ngIf="loggingIn"></fa-icon>
                    <span *ngIf="!loggingIn" translate>Sign in</span>
                    <span *ngIf="loggingIn" translate>Signing in...</span>
                </button>
            </div>
        </form>

        <div class="siimple-card siimple--mb-0" align="center">
            <div class="siimple-card-body">
                {{"Don't have an account?" | translate }}
                <a class="siimple-link" routerLink="/signup/" translate>Create an account</a>.
            </div>
        </div>
    </div>

    <div class="siimple--mt-4 siimple--px-4 siimple--display-flex" style="margin-left: 12px; margin-right: 12px;">
        <app-language-selector></app-language-selector>
        <a routerLink="/terms-and-conditions/" 
            class="siimple-footer-link siimple-footer-link--inline " 
            style="margin-left:auto;"
            translate>
            <fa-icon [icon]="faBalanceScale" class="siimple--mr-1" ></fa-icon>
            Terms</a>
    </div>
</div>