<app-image-upload [visible]=false (uploaded)="setImageUrl($event)" (uploaded)="stoppedUploading()"
    (cancelledCrop)="stoppedUploading()" (uploadingInProgress)="uploadingInProgress()"
    (errorUploading)="stoppedUploading()">
</app-image-upload>

<div class="component-container">
    <button class="siimple-btn " (click)="uploadImage()">
        <fa-icon [icon]="faImage" class="" *ngIf="!imageUploading"></fa-icon>
        <fa-icon [icon]="faCircleNotch" [spin]=true *ngIf="imageUploading"></fa-icon>
    </button>

    <div class="post-images-container" *ngIf="postImages">
        <div class="post-image-container" *ngFor="let url of postImages">
            <img class="post-image" [src]="getImageUrl(url)" (click)="showImageModal(url)">
        </div>
    </div>
</div>

<div class="siimple-modal modal-window siimple-modal--large" id="modal" *ngIf="imageModalVisible">
    <div class="siimple-modal-content">
        <div class="siimple-modal-header">
            <div class="siimple-modal-header-title">Posted image</div>
            <div class="siimple-modal-header-close" id="modal-close" (click)="hideImageModal()"></div>
        </div>
        <div class="siimple-modal-body modal-window-body" align="center">
           <img class="modal-post-image" [src]="currentImageModalUrl">
        </div>
        <div class="siimple-modal-footer">
            <button class="siimple-btn siimple-btn--success" type="button" (click)="hideImageModal()">
                <fa-icon [icon]="faCheck" class="siimple--mr-1"></fa-icon>
                OK
            </button>
            <button class="siimple-btn siimple-btn--error siimple--ml-2" type="button" (click)="deleteImageModal()">
                <fa-icon [icon]="faTrash" class="siimple--mr-1"></fa-icon>
                Delete
            </button>
        </div>
    </div>
</div>