<div class="toolbar">
    <div class="toolbar-title">Exercises</div>

    <div class="toolbar-buttons" *ngIf="isLoggedIn()">
        <button class="siimple-btn siimple-btn--primary toolbar-button" 
          [routerLink]="['/users', username, 'exercise']">
            <fa-icon [icon]="faDumbbell" class="siimple--mr-1"></fa-icon>
            New
        </button>
    </div>
</div>

<app-exercises-list 
    (selected)="navigate($event)" [page]=page [link]="['/users', username, 'exercises']" 
    [searchFilter]=search
    [ordering]=ordering
    [queryParams]=queryParams>
</app-exercises-list>