<div class="site-body ">
    <app-navbar-index></app-navbar-index>

    <main class="site-content siimple-content siimple-content--extra-large content-body with-inter-font ">
        <div class="siimple-content siimple-content--large siimple--pb-0">
            <h1 class="feature-h1 " translate>
                Tracking
            </h1>
            <div class="siimple-h1 feature-description" translate>
                Keep tabs on your progress.
            </div>
        </div>

        <div class="siimple-rule"></div>

        <div class="siimple-content siimple-content--large siimple--bg-light">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-description-container">
                        <h2 class="siimple-h2 hero-header  siimple--mt-0" translate>
                            Get stronger
                        </h2>
                        <p class="siimple-p hero-subtitle " translate>
                            Never skip a set with our workout tracker. With 400+ exercises to choose from you can get moving in no time, no matter your sport.
                        </p>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-image-container ">
                        <picture>
                            <source type="image/webp" class=" limit-to-max with-box-shadow" srcset="../../assets/images/track-strength-training.webp" >
                            <img width="374" height="408" class=" limit-to-max with-box-shadow" src="../../assets/images/track-strength-training.png" alt="Strength workout log">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <div class="siimple-content siimple-content--large ">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-image-container siimple--display-sm-none"
                    >
                        <picture [style.display]="selectedImageIndex == 0 ? 'initial' : 'none'" >
                            <source type="image/webp" class=" limit-to-max with-box-shadow" srcset="../../assets/images/track-cardio-training.webp" >
                            <img width="400" height="575" class=" limit-to-max with-box-shadow" src="../../assets/images/track-cardio-training.png" alt="Map with route traced">
                        </picture>
                        <picture [style.display]="selectedImageIndex == 1 ? 'initial' : 'none'" >
                            <source type="image/webp" class=" limit-to-max with-box-shadow" srcset="../../assets/images/track-cardio-training-stats.webp" >
                            <img width="400" height="575" class=" limit-to-max with-box-shadow" src="../../assets/images/track-cardio-training-stats.png"  alt="Workout stats">
                        </picture>

                        <div class="dot-container" >
                            <span class="dot" [class.active]="selectedImageIndex == 0" 
                                (click)="selectImage(0)"></span>
                            <span class="dot" [class.active]="selectedImageIndex == 1" 
                                (click)="selectImage(1)"></span>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-description-container">
                        <h2 class="siimple-h2 hero-header  siimple--mt-0" translate>
                            Map it out
                        </h2>
                        <p class="siimple-p hero-subtitle " translate>
                            Bring our mobile app with you on your next run. We'll record your route and give you statistics on your distance, speed and calories burned.
                        </p>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-image-container phones-only"
                    >
                        <picture [style.display]="selectedImageIndex == 0 ? 'initial' : 'none'" >
                            <source type="image/webp" class=" limit-to-max with-box-shadow" srcset="../../assets/images/track-cardio-training.webp" >
                            <img width="400" height="575" class=" limit-to-max with-box-shadow" src="../../assets/images/track-cardio-training.png" alt="Map with route traced">
                        </picture>
                        <picture [style.display]="selectedImageIndex == 1 ? 'initial' : 'none'" >
                            <source type="image/webp" class=" limit-to-max with-box-shadow" srcset="../../assets/images/track-cardio-training-stats.webp" >
                            <img width="400" height="575" class=" limit-to-max with-box-shadow" src="../../assets/images/track-cardio-training-stats.png"  alt="Workout stats">
                        </picture>

                        <div class="dot-container" >
                            <span class="dot" [class.active]="selectedImageIndex == 0" 
                                (click)="selectImage(0)"></span>
                            <span class="dot" [class.active]="selectedImageIndex == 1" 
                                (click)="selectImage(1)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="siimple-content siimple-content--large siimple--bg-light">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-description-container">
                        <h2 class="siimple-h2 hero-header  siimple--mt-0" translate>
                            Analyze
                        </h2>
                        <p class="siimple-p hero-subtitle " translate>
                            Step back and check your progress: We have charts for distance, weight moved, body composition and more.
                        </p>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 hero-image-container ">
                        <picture>
                            <source type="image/webp" class="with-box-shadow limit-to-max with-border-radius" srcset="assets/images/track-charts.webp">
                            <img width="370" height="379" class="with-box-shadow limit-to-max with-border-radius" src="assets/images/track-charts.png" alt="Distance chart">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <app-demo-navigation previousUrl="/plan"  nextUrl="/share" 
            [previousText]="'Plan it' | translate" 
            [nextText]="'Share it' | translate"></app-demo-navigation>
    </main>

    <app-footer></app-footer>
</div>

<app-alert></app-alert>


