<div class="site-body">
    <app-jumbotron></app-jumbotron>

    <main class="site-content siimple-content siimple-content--large content-body">
        <div class="demo-title-container" align="">
            <span class="demo-title">Track</span>
        </div>

        <div class="demo-card">
            <div class="demo-card-body">
                <div class=" demo-card-container">
                    <div class="demo-text">
                        <div class="demo-text-header">Get stronger</div>
                        <div class="demo-p">
                            Never skip a set with our workout tracker. With 400+ exercises to choose from you can get moving in no time, no matter your sport.
                        </div>
                    </div>
                    <img class="demo-image demo-image-right " src="assets/images/track-strength-training.png" />
                </div>
            </div>
        </div>

        <div class="demo-card demo-card-stripped">
            <div class="demo-card-body">
                <div class="demo-card-container">
                    <img class="demo-image demo-image-left  siimple--display-sm-none " src="assets/images/track-cardio-training.png" />
                    <div class="demo-text">
                        <div class="demo-text-header">Map it out</div>
                        <div class="demo-p">
                            Bring our mobile app with you on your next run! We'll record your route and give you statistics on your distance, speed and calories burned.
                        </div>
                    </div>
                    <img class="demo-image demo-image-left phones-only " src="assets/images/track-cardio-training.png" />
                </div>
            </div>
        </div>

        <div class="demo-card">
            <div class="demo-card-body">
                <div class=" demo-card-container">
                    <div class="demo-text">
                        <div class="demo-text-header">Analyze</div>
                        <div class="demo-p">
                            Step back and check your progress on your profile. We have charts for distance, weight moved, body composition and more.
                        </div>
                    </div>
                    <img class="demo-image demo-image-right " src="assets/images/track-charts.png" />
                </div>
            </div>
        </div>
    </main>

    <app-footer></app-footer>
</div>

<app-alert></app-alert>

