<div class="siimple-grid-col siimple-grid-col--5 siimple-grid-col-sm--12">
    <exercises-input
        [(ngModel)]="workingWeight.exercise" 
        #exercise="ngModel"
        name="exercise"
        id="exercise"
        required
    >
    </exercises-input>
    <div *ngIf="exercise.invalid && (exercise.dirty || triedToHide)">
        <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
    </div>
</div>
<div class="siimple-grid-col siimple-grid-col--2 siimple-grid-col-sm--6">
    <input type="number" class="siimple-input siimple-input--fluid" name="weight" id="weight"
        [(ngModel)]="workingWeight.weight" #weight="ngModel" placeholder="Weight">

    <div *ngIf="weight.invalid && (weight.dirty || triedToHide)">
        <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
    </div>
</div>
<div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col-sm--6">
    <select class="siimple-select siimple-select--fluid" name="unit" id="unit" [(ngModel)]="workingWeight.unit"
        #unit="ngModel">
        <option *ngFor="let unitModel of units" value={{unitModel.id}}>
            {{unitModel.name}}
        </option>
    </select>

    <div *ngIf="unit.invalid && (unit.dirty || triedToHide)">
        <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
    </div>
</div>