<div class="siimple-navbar siimple-navbar--primary siimple-navbar--extra-large navbar">
    <div class="logo-container">
        <div class="logo clickable" routerLink="/"></div>
        <a class="siimple-navbar-title navbar-small-phone-not-logged" routerLink="/">
            sukuwatto
        </a>

        <div class="siimple--ml-auto">
            <div class="siimple-btn-group">
                <button routerLink="/signup/" class="siimple-btn siimple-btn--success " type="button" aria-label="Sign up">
                    <fa-icon [icon]="faUserPlus" class="" aria-hidden="true"></fa-icon>
                    <span class="siimple--ml-1 " translate>Sign up</span>
                </button>
                <button routerLink="/login/" class="siimple-btn " type="button" aria-label="Sign in">
                    <fa-icon [icon]="faSignInAlt" class="" aria-hidden="true"></fa-icon>
                    <span class="siimple--ml-1 siimple--display-sm-none" translate>Sign in</span>
                </button>
            </div>
        </div>
    </div>
</div>