.feature-header {
  display: flex;
  flex-grow: 1;
  align-self: center;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.user-profile {
  flex-grow: 1;
  align-self: center;
}

.time {
  margin: 10px;
}

.edited-time {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.feature-form {
    margin-bottom: 10px !important;
}

.feature-images-container {
  /* margin-top: 15px !important; */
  margin-bottom: 10px !important;
  position:relative;
}

.feature-image-container {
  text-align: center;
}

/* 
@media only screen and (min-width: 801px) {
.feature-image-cursors {
  display: none;
}
} */

.feature-image {
  max-width: 100%;
  height: auto;
}

.feature-image-cursor-overlay:hover {
  opacity: 0.4;
}

.feature-image-cursor-overlay {
  background-color: darkgray;
  opacity: 0;
  transition: 0.6s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 30px;
}

.feature-image-cursor-overlay-next {
  right: 0;
}

.feature-image-previous, .feature-image-next {
  position: absolute;
  top: 0;
  bottom: 0;
  color: white;
  transition: 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: none;
}

.feature-image-previous {
  padding-left: 10px;
}

.feature-image-next {
  padding-right: 10px;
  right: 0;
}

.dot-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.feature-buttons-container {
    display: flex;
}

.feature-buttons-container {
    margin-left: auto;
}

.edit-delete-dropdown {
  margin-left: 10px;
} 

.feature-title-input {
  background-color: white;
}

.feature-remove {
  margin-top: 10px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.feature-remove:hover {
  opacity: 1;
}

.feature-remove::before, .feature-remove::after {
  background-color: #546778;
  position: absolute;
}

.state-tag {
  margin: 10px;
}