<div class="site-body ">
    <app-navbar-index></app-navbar-index>

    <main class="site-content siimple-content siimple-content--medium content-body with-inter-font">
        <div class="qr-code-container" *ngIf="!onAndroid">
            <picture>
                <source type="image/webp" class="" srcset="../../assets/images/sukuwatto-android-qr-code.webp">
                <img class="" src="../../assets/images/sukuwatto-android-qr-code.jpeg" [alt]="'QR code for the android download URL' | translate">
            </picture>

            <h4 class="siimple-h4 siimple--mt-0">
                <span translate>To get started, go to</span> 
                <span>&nbsp;</span>
                <a class="siimple-link" href="https://www.sukuwatto.com/android-download">sukuwatto.com/android-download</a> 
                <span>&nbsp;</span>
                <span translate>on your android device or scan the image above.</span>
            </h4>
        </div>

        <div *ngIf="onAndroid">
            <h1 class="siimple-h1 thank-you-header" translate>
                Thank you!
            </h1>

            <h2 class="siimple-h2" translate>
                Instructions
            </h2>

            <div class="siimple-rule"></div>

            <div class="steps-container">
                <div class="step-container">
                    <div class="step-bubble">
                        1
                    </div>
                    <div>
                        <h3 class="siimple-h3 step-title" translate>
                            Download file
                        </h3>
                        <p class="siimple-p" translate>
                            The download popup will appear shortly. Don't forget to press download.
                        </p>
                    </div>
                </div>

                <div class="step-container">
                    <div class="step-bubble">
                        2
                    </div>
                    <div>
                        <h3 class="siimple-h3 step-title" translate>
                            Open file
                        </h3>
                        <p class="siimple-p" translate>
                            Locate the downloaded file on your device and open it to start the installation.
                        </p>
                    </div>
                </div>

                <div class="step-container">
                    <div class="step-bubble">
                        3
                    </div>
                    <div>
                        <h3 class="siimple-h3 step-title" translate>
                            Update settings
                        </h3>
                        <p class="siimple-p" translate>
                            Update the browser settings to allow installs from this source.
                        </p>
                    </div>
                </div>

                <div class="step-container">
                    <div class="step-bubble">
                        4
                    </div>
                    <div>
                        <h3 class="siimple-h3 step-title" translate>
                            Install app
                        </h3>
                        <p class="siimple-p" translate>
                            Press the install button on the bottom to start the installation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <app-footer></app-footer>
</div>

<app-alert></app-alert>