.logo {
  display: inline-block;
  width:40px;
  height:32px;
  background-color: white;
  -webkit-mask: url(../../assets/images/logo.svg) no-repeat;
  mask: url(../../assets/images/logo.svg) no-repeat;
  /* -webkit-mask: url(../../../assets/images/logo.svg) no-repeat center;
  mask: url(../../../assets/images/logo.svg) no-repeat center; */
  mask-size: 32px;
}

.logo-container {
  display: flex;
}

.step-bubble {
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: #4e91e4;
  color: white;
  border-radius: 50%;
  font-weight: 600;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.step-container {
  margin-bottom: 10px;
  display: flex;
}

.step-title {
  margin-top: 10px;
}

.thank-you-header {
  text-align: center;
}

.qr-code-container {
  text-align: center;
}