<div class="siimple-list siimple-list--hover">
    <a class="siimple-list-item list-item" routerLink="/terms-and-conditions" routerLinkActive="siimple-list-item--selected">
        <div class="siimple-list-title">
            <fa-icon [icon]="faBalanceScale" class="siimple--mr-1" [fixedWidth]=true></fa-icon>

            Terms and conditions
        </div>
    </a>

    <a class="siimple-list-item list-item" routerLink="/privacy-policy" routerLinkActive="siimple-list-item--selected">
        <div class="siimple-list-title">
            <fa-icon [icon]="faShieldAlt" class="siimple--mr-1" [fixedWidth]=true></fa-icon>

            Privacy policy
        </div>
    </a>

    <a class="siimple-list-item list-item" routerLink="/cookie-policy" routerLinkActive="siimple-list-item--selected">
        <div class="siimple-list-title">
            <fa-icon [icon]="faCookie" class="siimple--mr-1" [fixedWidth]=true></fa-icon>

            Cookies usage
        </div>
    </a>

    <a class="siimple-list-item list-item" routerLink="/contact-us" routerLinkActive="siimple-list-item--selected">
        <div class="siimple-list-title">
            <fa-icon [icon]="faEnvelope" class="siimple--mr-1" [fixedWidth]=true></fa-icon>

            Contact us
        </div>
    </a>
</div>