<div class="siimple-list siimple-list--hover">
    <a class="siimple-list-item " routerLink="/terms-and-conditions" routerLinkActive="siimple-list-item--selected">
        <div class="siimple-list-title">
            Terms and conditions
        </div>
    </a>

    <a class="siimple-list-item" routerLink="/privacy-policy" routerLinkActive="siimple-list-item--selected">
        <div class="siimple-list-title">
            Privacy policy
        </div>
    </a>

    <a class="siimple-list-item" routerLink="/cookie-policy" routerLinkActive="siimple-list-item--selected">
        <div class="siimple-list-title">
            Cookies usage
        </div>
    </a>

    <a class="siimple-list-item" routerLink="/contact-us" routerLinkActive="siimple-list-item--selected">
        <div class="siimple-list-title">
            Contact us
        </div>
    </a>
</div>