<div class="toolbar">
  <div class="toolbar-title" translate>Workouts</div>

  <div class="toolbar-buttons" *ngIf="isLoggedIn()">
    <button class="siimple-btn siimple-btn--primary toolbar-button" [routerLink]="['/users', username, 'workout']">
      <fa-icon [icon]="faTasks" class="siimple--mr-1" [fixedWidth]=true></fa-icon>
      <span translate>
        New
      </span>
    </button>
  </div>
</div>

<div class="workouts-chart-container" *ngIf="chartsVisible">
    <app-user-progress-charts [username]=username [visibleChartData]="chartDataVisibility" *ngIf="chartDataVisibility">
    </app-user-progress-charts>
</div>

<div class="search-box">
  <div class="siimple-grid">
    <div class="siimple-grid-row">
      <div class="siimple-grid-col siimple-grid-col--6 filter-date-col  siimple--pt-0 siimple--pb-3">
        <input type="text" class="siimple-input siimple-input--fluid date-placeholder" [placeholder]="'From...' | translate"
        *ngIf="!fromDate">
        <input type="date" class="search-date siimple-input-date siimple-input--fluid" required name="fromDateInput"
          id="fromDateInput" [ngModel]="fromDate | date:'yyyy-MM-dd'" #fromDateInput="ngModel"
          (ngModelChange)="setFilterFromDate($event)">
      </div>
      <div class="siimple-grid-col siimple-grid-col--6 filter-date-col siimple--pt-0 siimple--pb-3">
        <input type="text" class="siimple-input siimple-input--fluid date-placeholder" [placeholder]="'To...' | translate" 
        *ngIf="!toDate">
        <input type="date" class="search-date siimple-input-date siimple-input--fluid" required name="toDateInput"
          id="toDateInput" [ngModel]="toDate | date:'yyyy-MM-dd'" #toDateInput="ngModel"
          (ngModelChange)="setFilterToDate($event)">
      </div>
    </div>
    <div class="siimple-grid-row">
      <div class="siimple-grid-col siimple-grid-col--12 siimple--pb-0 siimple--display-flex siimple--pt-0">
        <input type="text" class="siimple-input search-box-input" id="search-input" (keydown.enter)="search()"
          applyFocus [placeholder]="'Search...' | translate" [(ngModel)]=searchFilter #searchInput="ngModel">
        <div class="search-buttons">
          <button type="button" class="siimple-btn siimple-btn--error siimple--ml-1" (click)="clearFilters()">
            <fa-icon [icon]="faBackspace" class=""></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="" *ngIf="workouts && workouts.length > 0">
  <ul class="">
    <li *ngFor="let workout of workouts">
      <app-workout-overview-card [detailView]=false [workout]=workout [showSaveDeleteButtons]="isOwner(workout)"
        (deleted)="deleteWorkout(workout)">
      </app-workout-overview-card>
    </li>
  </ul>

  <app-pagination [paginatedRecords]="paginatedWorkouts" [currentPage]="currentPage"
    [link]="['/users', username, 'workouts']" [queryParams]=queryParams>
  </app-pagination>
</div>