<div class="toolbar">
    <div class="toolbar-title">Workouts</div>

    <div class="toolbar-buttons">
        <button class="siimple-btn siimple-btn--primary toolbar-button" 
          [routerLink]="['/users', username, 'workout']">
            <fa-icon [icon]="faDumbbell" class="siimple--mr-1"></fa-icon>
            New workout
        </button>
    </div>
</div>

<ul class="">
  <li *ngFor="let workout of workouts">
    <app-workout-overview-card [workout]=workout [showSaveDeleteButtons]=true (deleted)="deleteWorkout(workout)"></app-workout-overview-card>
  </li>
</ul>

<app-pagination [paginatedRecords]="paginatedWorkouts" [currentPage]="currentPage" [link]="['/users', username, 'workouts']">
</app-pagination>
