.search-date {
    background-color: #ffffff !important;
}

.date-placeholder {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    background-color: #ffffff !important;
    width: calc(100% - 2 * 12px);
}

.filter-date-col {
    position: relative;
}

.workouts-chart-container {
    margin-top: 15px;
}