.navigation-previous {
    float: left;
    text-align: left;
}

.navigation-next {
    float: right;
    text-align: right;
}

.current-page {
    padding: 10px;
}

.more-pages-label {
    border: 2px solid #cbd8e6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.navigation-box {
    display: block;
    vertical-align: top;
    width: calc(100% - 20px);
    background-color: #dde5ee;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}