.image-container {
  width: 192px;
}

.image-container img {
    max-width: 192px;
    max-height: 196px;
    width: auto;
    height: auto;
}

.profile-field {
    margin-bottom: 10px;
}

.name-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.action-button-group {
    margin-bottom: 30px;
}

.user-level-field {
    margin: 0px;
    color:#879aab;
}

.btn-operation-profile {
    margin-right: 10px;
    margin-top: 10px;
}