<div *ngIf="user">
    <div class="siimple-grid">
        <div class="siimple-grid-row">
            <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-12" align="center">
                <div class="image-container">
                    <img *ngIf="user.profile_filename && !imageHidden" [src]=profileImageURL (error)="hideImage()" />
                    <fa-icon *ngIf="!user.profile_filename || imageHidden" [icon]="faUserCircle" class="siimple--color-primary"
                        size="10x"></fa-icon>
                </div>
            </div>
            <div class="siimple-grid-col siimple-grid-col--8 siimple-grid-col--sm-12">
                <div *ngIf="user.first_name || user.last_name" class="siimple-h5 name-field">
                    {{user.first_name}} {{user.last_name}}
                </div>
                <div class="action-button-group">
                    <button class="siimple-btn siimple--mr-2" *ngIf="canFollow && !isFollowed" (click)="follow()"
                        [disabled]="operating" [class.siimple-btn--disabled]="operating">
                        <fa-icon [icon]="faUserPlus" *ngIf="!operating"></fa-icon>
                        <fa-icon [icon]="faCircleNotch" [spin]=true *ngIf="operating"></fa-icon>
                        <span class="siimple--ml-2">Follow</span>
                    </button>
                    <button class="siimple-btn siimple--mr-2" *ngIf="canFollow && isFollowed" (click)="unfollow()"
                        [disabled]="operating" [class.siimple-btn--disabled]="operating">
                        <fa-icon [icon]="faUserMinus" *ngIf="!operating"></fa-icon>
                        <fa-icon [icon]="faCircleNotch" [spin]=true *ngIf="operating"></fa-icon>
                        <span class="siimple--ml-2">Unfollow</span>
                    </button>
                    <button class="siimple-btn" *ngIf="canMessage" 
                        [routerLink]="['/users', authService.getUsername(), 'message', username]" >
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                        <span class="siimple--ml-2">Message</span>
                    </button>
                </div>

                <div class="profile-field">
                    <fa-icon [icon]="faAt" style="width: 14px;display: inline-block;"></fa-icon>
                    <span class="siimple--pl-1">{{user.username}}</span>
                </div>
                <div class="profile-field" *ngIf="user.location">
                    <fa-icon [icon]="faMapMarkerAlt" style="width: 14px;display: inline-block;"></fa-icon>
                    <span class="siimple--pl-1">{{user.location}}</span>
                </div>
                <div class="profile-field" *ngIf="birthDate">
                    <fa-icon [icon]="faBirthdayCake"></fa-icon>
                    <span class="siimple--pl-1">{{birthDate | date:'MMMM, y'}}</span>
                </div>
                <div class="profile-field">
                    {{user.biography}}
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="siimple-tabs">
            <div class="siimple-tabs-item"
                [class.siimple-tabs-item--selected]="selectedTab==profileTab.Overview"
                (click)="selectTab(profileTab.Overview)">
                Overview
            </div>
            <div class="siimple-tabs-item"
                [class.siimple-tabs-item--selected]="selectedTab==profileTab.Followers"
                (click)="selectTab(profileTab.Followers)">
                Followers
            </div>
            <div class="siimple-tabs-item"
                [class.siimple-tabs-item--selected]="selectedTab==profileTab.Following"
                (click)="selectTab(profileTab.Following)">
                Following
            </div>
        </div>

        <div>
            <div class="tab-content" [class.tab-content-selected]="selectedTab==profileTab.Overview">
              <div class="siimple--mb-4 siimple-card"> 
                <div class="siimple-card-body">
                    <app-user-progress-charts [username]=username>
                    </app-user-progress-charts>
                </div>
              </div>

                <app-feed [actions]=actions [paginated]=paginated
                    [loadingOlderActions]=loadingOlderActions>
                </app-feed>
            </div>
            <div class="tab-content" [class.tab-content-selected]="selectedTab==profileTab.Followers">
                <app-users-follow-list
                    [users]=followers 
                    [showActionButton]=false>
                </app-users-follow-list>
            </div>
            <div class="tab-content" [class.tab-content-selected]="selectedTab==profileTab.Following">
                <app-users-follow-list
                    [users]=following 
                    [showActionButton]=showUnfollowButtonOnFollowingList 
                    [actionIcon]=faUserMinus
                    actionText="Unfollow"
                    (actionPressed)="unfollowUser($event)">
                </app-users-follow-list>
            </div>
        </div>
    </div>
</div>
