<div *ngIf="notFound">
    <app-page-not-found>
    </app-page-not-found>
</div>

<div *ngIf="user">
    <app-report-modal [visible]="reportModalVisible" (closed)="reportModalVisible = false;"
        [target_user]="user.id"
    ></app-report-modal>

    <div class="siimple-grid">
        <div class="siimple-grid-row">
            <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-12" align="center">
                <div class="image-container">
                    <img *ngIf="user.profile_filename && !imageHidden" [src]=profileImageURL (error)="hideImage()" alt="User profile picture"/>
                    <fa-icon *ngIf="!user.profile_filename || imageHidden" [icon]="faUserCircle"
                        class="siimple--color-primary" size="10x"></fa-icon>
                </div>
            </div>
            <div class="siimple-grid-col siimple-grid-col--8 siimple-grid-col--sm-12">
                <div class="name-container">
                    <div *ngIf="user.first_name || user.last_name" class="siimple-h5 name-field">
                        {{user.first_name}} {{user.last_name}}
                    </div>
                    <div *ngIf="!(user.first_name || user.last_name)" class="siimple-h5 name-field">
                        @{{user.username}}
                    </div>
                    <div class="clickable siimple-h6 user-level-field" [routerLink]="['/users', username, 'skills']" *ngIf="!user.hidden">
                        <span translate>Level</span> {{user.level}} - {{user.primary_class | translate}} <span *ngIf="user.secondary_class">/ {{user.secondary_class |translate}}</span>
                    </div>
                </div>
                <div class="action-button-group" *ngIf="loadedIsFollowed">
                    <button class="siimple-btn  btn-operation-profile" *ngIf="canFollow && !isFollowed && !hasFollowRequest" (click)="follow()"
                        type="button" >
                        <fa-icon [icon]="faUserPlus" *ngIf="!operating"></fa-icon>
                        <fa-icon [icon]="faCircleNotch" [spin]=true *ngIf="operating"></fa-icon>
                        <span class="siimple--ml-1" translate>Follow</span>
                    </button>
                    <button class="siimple-btn  btn-operation-profile" *ngIf="canFollow && hasFollowRequest" (click)="unfollow()"
                        type="button"
                        >
                        <fa-icon [icon]="faClock" *ngIf="!operating"></fa-icon>
                        <fa-icon [icon]="faCircleNotch" [spin]=true *ngIf="operating"></fa-icon>
                        <span class="siimple--ml-1" translate>Requested</span>
                    </button>
                    <button class="siimple-btn  btn-operation-profile" *ngIf="canFollow && isFollowed" (click)="unfollow()"
                        type="button"
                        >
                        <fa-icon [icon]="faUserMinus" *ngIf="!operating"></fa-icon>
                        <fa-icon [icon]="faCircleNotch" [spin]=true *ngIf="operating"></fa-icon>
                        <span class="siimple--ml-1" translate>Unfollow</span>
                    </button>
                    <button class="siimple-btn  btn-operation-profile" *ngIf="canMessage" type="button"
                        [routerLink]="['/users', authService.getUsername(), 'message', username]">
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                        <span class="siimple--ml-1 " translate>Message</span>
                    </button>
                    <button class="siimple-btn   btn-operation-profile" *ngIf="userCanBlock && userIsBlocked == false" type="button"
                        (click)="block()">
                        <fa-icon [icon]="faBan"></fa-icon>
                        <span class="siimple--ml-1 " translate>Block</span>
                    </button>
                    <button class="siimple-btn siimple--mr-2 btn-operation-profile " *ngIf="userCanBlock && userIsBlocked == true" type="button"
                        (click)="unblock()">
                        <fa-icon [icon]="faRedoAlt"></fa-icon>
                        <span class="siimple--ml-1 " translate>Unblock</span>
                    </button>
                    <button class="siimple-btn siimple-btn--error btn-operation-profile" *ngIf="userCanChangeState && user.is_active" type="button"
                        (click)="banUser()">
                        <fa-icon [icon]="faBan"></fa-icon>
                        <span class="siimple--ml-1 " translate>Ban</span>
                    </button>
                    <button class="siimple-btn siimple-btn--success btn-operation-profile" *ngIf="userCanChangeState && !user.is_active" type="button"
                        (click)="reinstateUser()">
                        <fa-icon [icon]="faRedoAlt"></fa-icon>
                        <span class="siimple--ml-1 " translate>Reinstate</span>
                    </button>
                </div>

                <div class="profile-field" *ngIf="user.first_name || user.last_name">
                    <fa-icon [icon]="faAt" [fixedWidth]=true ></fa-icon>
                    <span class="siimple--pl-1">{{user.username}}</span>
                </div>
                <div class="profile-field" *ngIf="user.location">
                    <fa-icon [icon]="faMapMarkerAlt" [fixedWidth]=true></fa-icon>
                    <span class="siimple--pl-1">{{user.location}}</span>
                </div>
                <div class="profile-field" *ngIf="birthDate">
                    <fa-icon [icon]="faBirthdayCake" [fixedWidth]=true></fa-icon>
                    <span class="siimple--pl-1">{{birthDate | date:'MMMM, y'}}</span>
                </div>
                <div class="profile-field" *ngIf="!user.hidden">
                    <span class="clickable" [routerLink]="['/users', username, 'followers']"><span
                            class="siimple--text-bold">{{user.followers_number | locale}}</span>&nbsp;<span translate>followers</span></span>
                    <span class="clickable siimple--ml-2" [routerLink]="['/users', username, 'following']"><span
                            class="siimple--text-bold">{{user.followings_number | locale}}</span>&nbsp;<span translate>following</span></span>
                    <span class="clickable siimple--ml-2" *ngIf="requests_number > 0"
                        [routerLink]="['/users', username, 'requests']"><span
                            class="siimple--text-bold">{{requests_number | locale}}</span>&nbsp;<span translate>requests</span></span>

                    <span class="siimple--float-right report-button button-link no-select" 
                        (click)="report()" *ngIf="canReport" [title]="'Report' | translate">
                        <fa-icon [icon]="faFlag"></fa-icon>
                    </span>
                </div>
                <div class="profile-field" *ngIf="user.hidden">
                    <span ><span
                            class="siimple--text-bold">{{user.followers_number | locale}}</span>&nbsp;<span translate>followers</span></span>
                    <span class="siimple--ml-2" ><span
                            class="siimple--text-bold">{{user.followings_number | locale}}</span>&nbsp;<span translate>following</span></span>

                    <span class="siimple--float-right report-button button-link no-select" 
                        (click)="report()" *ngIf="canReport" [title]="'Report' | translate">
                        <fa-icon [icon]="faFlag"></fa-icon>
                    </span>
                </div>
                <div class="profile-field keep-original-formatting">
                    {{user.biography}}
                </div>
            </div>
        </div>
    </div>

    <div class="" *ngIf="!user.hidden">
        <div class="siimple-rule">
        </div>

        <div>
            <div class="siimple--mt-4" *ngIf="loading">
                <app-loading-spinner></app-loading-spinner>
            </div>
        
            <div *ngIf="!loading">
                <app-feed [actions]=actions [paginated]=paginated [loadingOlderActions]=loadingOlderActions>
                </app-feed>
            </div>
        </div>
    </div>
</div>
