<app-delete-modal 
    [(visible)]="deleteModalVisible"
    title='Delete exercise?'
    body='This will delete your exercise and associated data. Are you sure you want to proceed?'
    (deleted)="delete()"
    (canceled)="hideDeleteModal()"
    >
</app-delete-modal>

<app-exercise-detail-skeleton
    [exercise]=exercise
    [triedToSave]=triedToSave
    >
</app-exercise-detail-skeleton>

<button 
    *ngIf="showSaveButton()"
    class="siimple-btn siimple-btn--success" (click)="save()">
    Save
</button>
<button 
    *ngIf="showDeleteButton()"
    class="siimple-btn siimple-btn--error siimple--mt-2 siimple--ml-2" (click)="showDeleteModal()">
    Delete
</button>