<article class="siimple-card" *ngIf="exercise">
    <header class="siimple-card-header">
        <a class="siimple-link" [routerLink]="routerLink">
            {{exercise.name | translate}}
        </a>
    </header>
    <div class="siimple-card-body">
        <div class="siimple-grid">
            <div class="siimple-grid-row">
                <div *ngIf="exerciseHasClassificationFields()">
                    <div class="siimple-grid-col siimple-grid-col--8 siimple-grid-col--lg-7 siimple-grid-col--sm-12"
                        *ngIf="exerciseHasDescriptionFields()">
                        <app-exercise-card-description [exercise]=exercise></app-exercise-card-description>
                    </div>

                    <div class="siimple-grid-col siimple-grid-col--sm-12" 
                        [class.siimple-grid-col--4]="exerciseHasDescriptionFields()"
                        [class.siimple-grid-col--lg-5]="exerciseHasDescriptionFields()"
                        [class.siimple-grid-col--12]="!exerciseHasDescriptionFields()"
                        >
                        <table class="siimple-table siimple-table--striped siimple-table--border">
                            <thead class="siimple-table-header">
                                <tr class="siimple-table-row">
                                    <th colspan="2"
                                        class="siimple-table-cell" translate>Classification</th>
                                </tr>
                            </thead>
                            <tbody class="siimple-table-body">
                                <tr class="siimple-table-row " *ngIf="exercise.exercise_type">
                                    <td class="siimple-table-cell cell">
                                        <span class="siimple--text-bold" translate>
                                        Type
                                        </span>
                                    </td>
                                    <td class="siimple-table-cell cell">
                                        {{ExerciseTypeLabel.get(exercise.exercise_type)}}
                                    </td>
                                </tr>
                                <tr class="siimple-table-row " *ngIf="exercise.section">
                                    <td class="siimple-table-cell cell">
                                        <span class="siimple--text-bold" translate>
                                        Section
                                        </span>
                                    </td>
                                    <td class="siimple-table-cell cell">
                                        {{SectionLabel.get(exercise.section)}}
                                    </td>
                                </tr>
                                <tr class="siimple-table-row " *ngIf="exercise.force">
                                    <td class="siimple-table-cell cell">
                                        <span class="siimple--text-bold" translate>
                                        Force
                                        </span>
                                    </td>
                                    <td class="siimple-table-cell cell">
                                        {{ForceLabel.get(exercise.force)}}
                                    </td>
                                </tr>
                                <tr class="siimple-table-row " *ngIf="exercise.mechanics">
                                    <td class="siimple-table-cell cell">
                                        <span class="siimple--text-bold" translate>
                                            Mechanics
                                        </span>
                                    </td>
                                    <td class="siimple-table-cell cell">
                                        {{MechanicsLabel.get(exercise.mechanics)}}
                                    </td>
                                </tr>
                                <tr class="siimple-table-row " *ngIf="exercise.modality">
                                    <td class="siimple-table-cell cell">
                                        <span class="siimple--text-bold" translate>
                                        Modality
                                        </span>
                                    </td>
                                    <td class="siimple-table-cell cell">
                                        {{ModalityLabel.get(exercise.modality)}}
                                    </td>
                                </tr>
                                <tr class="siimple-table-row " *ngIf="exercise.level">
                                    <td class="siimple-table-cell cell">
                                        <span class="siimple--text-bold" translate>
                                        Level
                                        </span>
                                    </td>
                                    <td class="siimple-table-cell cell">
                                        {{LevelLabel.get(exercise.level)}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div *ngIf="!exerciseHasClassificationFields()" class="siimple-grid-col siimple-grid-col--12">
                    <app-exercise-card-description [exercise]=exercise></app-exercise-card-description>
                </div>
            </div>
        </div>

        <div *ngIf="exercise.user && detailView">
            <div class="siimple-rule siimple--mt-3"></div>
        
            <div class="owner-user-container">
                <app-user-tag [username]=exercise.user.username [profile_filename]=exercise.user.profile_filename>
                </app-user-tag>
        
                <small class="siimple-small siimple--ml-2">{{exercise.creation.toString() | timeAgo}}</small>
            </div>
        </div>
    </div>
    <footer class="siimple-card-footer">
        <app-card-social-interaction 
            content_type_model='exercise' 
            [id]=exercise.id 
            [target_exercise]=exercise.id
            [shareTitle]="shareTitle"
            [shareLink]="shareLink"
            [likeNumber]=exercise.likes
            [commentNumber]=exercise.comment_number
            [commentsSectionOpen]=commentsSectionOpen></app-card-social-interaction>
    </footer>
</article>
