.like-button {
    padding-left: 5px !important;
}

.share-button {
    float: right;
}

.liked {
    color: #4e91e4;
}

.social-interaction-buttons {
    display: block;
}

.comment-form {
    margin-bottom: 10px !important;
}

.comment-textarea {
    background-color: white !important;
}
