<div class="siimple-modal modal-window siimple-modal--medium" id="modal" *ngIf="usersLikesModalVisible"
(click)="toggleUserLikesModal()">
    <div class="siimple-modal-content"
    (click)="$event.preventDefault();$event.stopPropagation();"
    >
        <div class="siimple-modal-header">
            <div class="siimple-modal-header-title" translate>Likes</div>
            <div class="siimple-modal-header-close" id="modal-close" (click)="toggleUserLikesModal()"></div>
        </div>
        <div class="siimple-modal-body modal-window-body">
            <div *ngIf="!usersThatLiked || usersThatLiked.length == 0">
                <span class="siimple-p" translate>No one liked this yet. Be the first!</span>
            </div>

            <app-users-follow-list [users]=usersThatLiked [loading]=loading [showActionButton]=false></app-users-follow-list>
        </div>
        <div class="siimple-modal-footer">
        </div>
    </div>
</div>

<app-support-tip-modal tier='i' [visible]="modalSupportVisible" (closed)="modalSupportVisible = false;"></app-support-tip-modal>
<app-report-modal [visible]="reportModalVisible" (closed)="reportModalVisible = false;"
    [target_plan]="target_plan"
    [target_post]="target_post"
    [target_exercise]="target_exercise"
    [target_workout]="target_workout"
    [target_feature]="target_feature"
></app-report-modal>

<div class="social-interaction-buttons">
    <span class="like-button button-link no-select" [class.liked]="liked" 
    >
        <fa-icon [icon]="useArrowUp ? faArrowUp : faThumbsUp" class="siimple--mr-1" (click)="toggleLike()" aria-hidden="true"></fa-icon>

        <span class="likes" (click)="toggleUserLikesModal()">
            {{likeNumber}}
        </span>
    </span>

    <span class="like-button button-link siimple--ml-2 no-select" (click)="toggleCommentView()" >
        <fa-icon [icon]="faComments" class="siimple--mr-1" aria-hidden="true"></fa-icon>

        <span class="comments-number">
            {{commentNumber}}
        </span>
    </span>

    <span role="button" class="report-button button-link no-select" (click)="toggleReportModal()" 
        [title]="'Report' | translate" *ngIf="!target_user_bio_data && !target_release">
        <fa-icon [icon]="faFlag" class="" aria-hidden="true"></fa-icon>
    </span>

    <span class="share-button button-link no-select" (click)="share()" *ngIf="canShare">
        <fa-icon [icon]="faShareAlt" class="siimple--mr-1" aria-hidden="true"></fa-icon>
        <span translate>Share</span>
    </span>
</div>

<div class="siimple-card siimple-form comment-form" *ngIf="commentsSectionOpen">
    <app-comment-card *ngFor="let comment of commentActions" [comment]=comment (deleted)="deleteComment(comment)">
    </app-comment-card>

    <div class="siimple-form-field siimple--pt-2" *ngIf="createCommentSectionVisible">
        <textarea type="text" class="siimple-textarea siimple-textarea--fluid comment-textarea" rows="2" name="newComment" id="newComment"
            required
            [(ngModel)]="newCommentText" #newComment="ngModel" [placeholder]="'Write your comment here' | translate">
            </textarea>

        <div *ngIf="newComment.invalid && triedToComment">
            <div class="siimple-field-helper siimple--color-error" translate>This field can't be empty</div>
        </div>
    </div>
    <div class="siimple--clearfix">
        <button class="siimple-btn siimple-btn--primary siimple--float-right" (click)="comment()"
        >
            <fa-icon [icon]="faComment" class="siimple--mr-1" aria-hidden="true"></fa-icon>
            <span translate>Comment</span>
        </button>
    </div>
</div>