.map {
  position: relative;
  height: 400px;
  padding: 0;
  z-index: 10;
}

.leaflet-container {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Ubuntu", sans-serif;
}

.stats {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.stats-item {
  font-size: 28px;
  font-weight: 600;
}

.stats-body {
  flex-grow:1;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.stats-distance {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.stats-distance-text {
  font-size: 72px;
  color: black;
}

.stats-speed-calories-container {
  display: flex;
  text-transform: uppercase;
}

.stats-time-text {
}

.stats-speed-calories-item {
  width: 50%;
  text-align: center;
}

.maximized {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 600;
}

.stats-header {
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  background-color: #eef2f7;
}

.stats-footer {
  background-color: #f6f5f5;
  display: flex;
  padding: 20px;
  align-items: center;
}

.bottom-bar-button {
  height: 34px;
}

.action-button {
  z-index: 401;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  text-align: center;
  margin: auto;
}



.start-button {
  position: absolute;
  bottom: 20px;
  left:4px;
  right:0;
  margin: auto;
  z-index: 401;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  text-align: center;
}

.stop-button {
  margin: auto;
  z-index: 401;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  text-align: center;
}

.finish-button {
  margin: auto;
  z-index: 401;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  text-align: center;
}

.stats-pause-finish-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.stop-finish-bar {
  position: absolute;
  left: 68px;
  bottom: 18px;
  width: calc(100% - 132px);
  justify-content: center;
  height: 60px;
  display: flex;
}

.size-button {
  position: absolute;
  right: 20px;
  bottom: 31px;
  z-index: 401;
}

.stop-tracking-button {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 401;
}

.stats-button {
  position: absolute;
  bottom: 31px;
  left: 20px;
  right: 0;
  z-index: 401;
  width: 48px;
}

.recenter-button {
  position: absolute;
  bottom: 80px;
  left: 20px;
  right: 0;
  z-index: 401;
  width: 48px;
}

.stats-calories-detailed-container  {
  flex: 1;
  padding: 20px;
}