<div class="map tab-content" leaflet [class.maximized]="workoutActivity.maximized"
    [class.tab-content-selected]="workoutActivity.currentView == geoView.Map" (leafletMapMove)="mapMove($event)"
    (leafletMapZoom)="mapZoom($event)" [(leafletCenter)]="workoutActivity.center" [leafletOptions]="options"
    [leafletFitBounds]="fitBounds" (leafletMapReady)="onMapReady($event)">
    <div *ngIf="route" [leafletLayer]="route"></div>

    <button class="stats-button siimple-btn siimple-btn--dark" type="button" (click)="showStats()"
        *ngIf="allowEdit" aria-label="Show stats">
        <fa-icon [icon]="faChartBar" aria-hidden="true"></fa-icon>
    </button>

    <div *ngIf="allowEdit">
        <button type="button" class="siimple-btn 
            siimple-btn--dark size-button" (click)="toggleMaximize()"
            aria-label="Toggle map size"
            *ngIf="allowToggleSize">
            <fa-icon [icon]="faCompress" *ngIf="workoutActivity.maximized" aria-hidden="true"></fa-icon>
            <fa-icon [icon]="faExpand" *ngIf="!workoutActivity.maximized" aria-hidden="true"></fa-icon>
        </button>

        <button type="button" class="siimple-btn 
            siimple-btn--small
            siimple-btn--dark stop-tracking-button" (click)="disableTracking()"
            aria-label="Stop tracking">
            <fa-icon [icon]="faTimes" aria-hidden="true"></fa-icon>
        </button>

        <button class="start-button siimple-btn siimple-btn--primary" (click)="startTracking()" type="button"
            *ngIf="!workoutActivity.collectingPositions" aria-label="Start">
            <fa-icon [icon]="faPlay" class="siimple--mr-1" aria-hidden="true" style="margin-left: 6px;"></fa-icon>
        </button>

        <button class="recenter-button siimple-btn siimple-btn--dark" type="button" (click)="recenter()"
            *ngIf="workoutActivity.collectingPositions && workoutActivity.userOperatingMap" aria-label="Recenter map">
            <fa-icon [icon]="faDotCircle" aria-hidden="true"></fa-icon>
        </button>

        <div class="stop-finish-bar">
            <button class="stop-button siimple-btn siimple-btn--primary" (click)="stopTracking()" type="button"
                *ngIf="workoutActivity.collectingPositions" aria-label="Pause">
                <fa-icon [icon]="faPause" class="siimple--mr-1" aria-hidden="true" style="margin-left:4px;"></fa-icon>
            </button>

            <button class=" finish-button siimple-btn siimple-btn--success" (click)="finishActivity()"
                type="button" *ngIf="workoutActivity.collectingPositions" aria-label="Finish">
                <fa-icon [icon]="faCheck" class="siimple--mr-1" aria-hidden="true" style="margin-left:4px;"></fa-icon>
            </button>
        </div>
    </div>
</div>

<div class="  tab-content" [class.tab-content-selected]="workoutActivity.currentView == geoView.Stats" [class.maximized]="workoutActivity.maximized">
    <div class=" stats" [class.maximized]="workoutActivity.maximized">
        <div class="stats-header siimple-h1" [class.siimple-link]="allowEdit" *ngIf="workoutActivity.maximized"
        (click)="changeExercise()">
            {{workoutActivity.exercise.name}}
        </div>
        
        <div class=" stats-calories-detailed-container" *ngIf="workoutActivity.caloriesDetailed && allowEdit">
            <div class="siimple-card ">
                <div class="siimple-h2">
                    Calories - Activity
                </div>
                <div class="siimple-card-body">
                    <div class="siimple-form-field">
                        <label class="siimple-field-label" for="username">MET</label>
                        <select class="siimple-select siimple-select--fluid" name="met" id="met" required
                            [(ngModel)]="workoutActivity.met" #met="ngModel" (change)="setMETbyUser()">
                            <option *ngFor="let metModel of mets" value={{metModel.id}}>
                                {{metModel.description}}
                            </option>
                        </select>
                    </div>
                    <div class="siimple-form-field siimple--mb-0">
                        <label class="siimple-label">Manual selection</label>
                        <div class="siimple-switch">
                            <input type="checkbox" name="met_set_by_user" id="met_set_by_user"
                                [(ngModel)]="workoutActivity.met_set_by_user"
                                #met_set_by_user="ngModel">
                            <label for="met_set_by_user"></label>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="siimple-btn siimple-btn--dark"
                (click)="toggleCaloriesDetail()" aria-label="Go back">
                Back
            </button>
        </div>

        <div class="stats-body" *ngIf="!workoutActivity.caloriesDetailed ">
            <div class="">
                <div class=" centered-text">
                    <div class="siimple-h2 stats-time-text">
                        {{workoutActivity.ellapsedTime}}
                    </div>
                    <div class="">
                        TIME
                    </div>
                </div>
            </div>
        
            <div class="stats-distance">
                <div class="centered-text">
                    <div class="siimple-h1 stats-distance-text">
                        <div class=""
                            *ngIf="(distanceUnit.abbreviation == 'km' || distanceUnit.abbreviation == 'mi') && workoutActivity.distance < 1">
                            {{distanceInSmallerUnit |locale}}
                        </div>
                        <div class=""
                            *ngIf="(distanceUnit.abbreviation == 'km' || distanceUnit.abbreviation == 'mi') && workoutActivity.distance >= 1">
                            {{workoutActivity.distance|locale}}
                        </div>
                    </div>
                    <div class="">
                        <div class=""
                            *ngIf="(distanceUnit.abbreviation == 'km' || distanceUnit.abbreviation == 'mi') && workoutActivity.distance < 1">
                            {{distanceSmallerUnit.name}}
                        </div>
                        <div class=""
                            *ngIf="(distanceUnit.abbreviation == 'km' || distanceUnit.abbreviation == 'mi') && workoutActivity.distance >= 1">
                            {{distanceUnit.name}}
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="stats-speed-calories-container">
                <div class="stats-speed-calories-item">
                    <div class="stats-speed-calories-text siimple-h3">
                        {{workoutActivity.speed|locale}}
                    </div>
                    <div>
                        {{speedUnit.abbreviation}}
                    </div>
                </div>
                <div class=" stats-speed-calories-item"
                    [class.clickable]="allowEdit"
                    (click)="toggleCaloriesDetail()"
                >
                    <div class="stats-speed-calories-text siimple-h3">
                        {{workoutActivity.calories|locale}}
                    </div>
                    <div>
                        {{energyUnit.abbreviation}}
                    </div>
                </div>
            </div>
        </div>

        <div class=" stats-footer">
            <button type="button" class="siimple-btn siimple-btn--operation bottom-bar-button" (click)="showMap()"
                aria-label="Show map">
                <fa-icon [icon]="faMapMarkedAlt" class="" aria-hidden="true"></fa-icon>
            </button>

            <div class="stats-pause-finish-container">
                <button class="action-button  siimple-btn siimple-btn--primary" (click)="startTracking()" type="button"
                    *ngIf="!workoutActivity.collectingPositions && allowEdit" aria-label="Start">
                    <fa-icon [icon]="faPlay" class="siimple--mr-1" aria-hidden="true" style="margin-left: 6px;"></fa-icon>
                </button>

                <button class="action-button  siimple-btn siimple-btn--primary" (click)="stopTracking()" type="button"
                    *ngIf="workoutActivity.collectingPositions" aria-label="Pause">
                    <fa-icon [icon]="faPause" class="siimple--mr-1" aria-hidden="true" style="margin-left: 4px;"></fa-icon>
                </button>

                <button class="action-button  siimple-btn siimple-btn--success" (click)="finishActivity()" type="button"
                    *ngIf="workoutActivity.collectingPositions" aria-label="Stop">
                    <fa-icon [icon]="faCheck" class="siimple--mr-1" aria-hidden="true" style="margin-left: 4px;"></fa-icon>
                </button>
            </div>

            <button type="button" class="siimple-btn bottom-bar-button
                                            siimple-btn--operation " (click)="toggleMaximize()" 
                aria-label="Toggle size"
                                            [style.visibility]="allowToggleSize ? 'visible' : 'hidden'">
                <fa-icon [icon]="faCompress" *ngIf="workoutActivity.maximized" aria-hidden="true"></fa-icon>
                <fa-icon [icon]="faExpand" *ngIf="!workoutActivity.maximized" aria-hidden="true"></fa-icon>
            </button>
        </div>
    </div>
</div>

<app-delete-modal [(visible)]="deleteModalVisible" title='Stop tracking'
    body='This will stop tracking and remove existing positions. Are you sure you want to proceed?'
    (deleted)="disableTrackingAndClearPositions()" (canceled)="toggleDeleteModal()">
</app-delete-modal>


<app-exercises-modal
    *ngIf="allowEdit"
    [exerciseType]="modalExerciseType"
    [visible]=exerciseModalVisible
    (selected)="selectedExercise($event)"
    (closed)="exerciseModalClosed()"
></app-exercises-modal>