.menu-icon {
    transition: background-color .3s;
    cursor: pointer;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: -5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.menu-dropdown {
  overflow: hidden;
  position: relative;
  padding-top: 64px;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
  top: 0;
}

.content-body {
  padding-top: 80px;
}

.content-body-with-dropdown-expanded {
  padding-top: 16px !important;
}