.logo {
  display: inline-block;
  width:40px;
  height:32px;
  background-color: white;
  -webkit-mask: url(../../../assets/images/logo.svg) no-repeat;
  mask: url(../../../assets/images/logo.svg) no-repeat;
  /* -webkit-mask: url(../../../assets/images/logo.svg) no-repeat center;
  mask: url(../../../assets/images/logo.svg) no-repeat center; */
  mask-size: 32px;
}

@media only screen and (max-width: 320px) {
.navbar-small-phone-not-logged {
  display: none;
}
}

.logo-container {
  display: flex;
}

.user-info {
  margin-left: auto;
}

.menu-icon {
    transition: background-color .3s;
    cursor: pointer;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: -5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.menu-close-icon {
  padding-left: 1px;
  padding-right: 2px;
}

@media only screen and (max-width: 769px) {
  .title-not-logged-in {
    padding-left: 29px;
  }
}

.menu-overlay-opacity {
  position: fixed;
  left: 0;
  top: 0;
  width: 120vw;
  height: 120vh;
  background: black;
  opacity: 0%;
  z-index: 490;
  will-change: opacity;
}

.menu-dropdown {
  position: fixed;
  top: 64px;
  height: 100%;
  background-color: white;
  z-index: 500; 
  box-shadow: 2px 0px 4px 0px rgba(138,154,173,0.5);;
  overflow: hidden !important;
  transition: 300ms;
  will-change: width, transform;
}

.button-container {
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

.menu-buttons-container {
  position: relative;
  z-index: 500;
  top: calc(100vh - 320px);
  padding-left: 5px;
  padding-right: 5px;
  display:flex;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 500;
  top: 0;
}

.content-body {
  padding-top: 80px;
}

.navigation-drawer-invisible-slider {
  position: fixed;
  left: 0;
  top: 0;
  width: 15px;
  height: 100%;
  z-index: 490;
}

.notification-menu-icon {
  border-radius: 50%;
  width: 8px;
  height: 8px;

  -webkit-box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.55);
  -moz-box-box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.55);
  box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.55);
  position: absolute;
  top: 22px;
  left: 30px;

  /* background-color: #ee675d !important; */

  background-color: orange !important;
}

.notification-menu-icon-loading {
  visibility: visible;
  animation: 0s linear 0.2s forwards delayedHide; 
}

 @keyframes delayedHide {
   to { visibility: hidden; }
 }