<app-refresh-icon></app-refresh-icon>

<div class="site-body"
    (touchstart)="touchBodyStart($event)" (touchend)="touchBodyEnd($event)" (touchmove)="touchBodyMove($event)"
>
    <div class="siimple-navbar siimple-navbar--primary siimple-navbar--extra-large navbar">
        <app-loading-spinner *ngIf="loading"></app-loading-spinner>

        <div *ngIf="authService.isLoggedIn(); then loggedTitle else notLoggedTitle"></div>
        <ng-template #loggedTitle>
            <div class="siimple--float-left menu-icon siimple--mr-1">
                <span class="menu-icon md-and-lower-only" (click)="toggleMenuVisibility()">
                    <fa-icon [icon]="faBars" *ngIf="!menuDropDownVisible"></fa-icon>
                    <fa-icon [icon]="faTimes" class="menu-close-icon" *ngIf="menuDropDownVisible"></fa-icon>
                    <div class="notification-menu-icon" [class.notification-menu-icon-loading]="loading" *ngIf="!menuDropDownVisible &&  unread_messages_count > 0"></div>
                </span>
            </div>
        
            <div class="logo-container">
                <div class="logo clickable" [routerLink]="['/users', authService.getUsername(), 'home']"></div>
                <a class="siimple-navbar-title navbar-title-logged" [routerLink]="['/users', authService.getUsername(), 'home']">
                    sukuwatto
                </a>

                <div class="user-info">
                    <app-user-info></app-user-info>
                </div>
            </div>
        </ng-template>
        <ng-template #notLoggedTitle>
            <div class="logo-container">
                <div class="logo clickable" routerLink="/"></div>
                <a class="siimple-navbar-title navbar-small-phone-not-logged" routerLink="/">
                    sukuwatto
                </a>

                <div class="user-info">
                    <app-user-info></app-user-info>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="menu-dropdown"
    [hidden]=dropDownHidden
        [style.transform]="menuTranslateX"
        [style.width.%]="menuWidth" 
        [style.transition.ms]="transitionMenuMs"
        (touchstart)="touchStart($event)" (touchend)="touchEnd($event)" (touchmove)="touchMove($event)"
        >
        <app-menu [unread_messages_count]=unread_messages_count></app-menu>
    </div>

    <div>
        <app-alert></app-alert>
    </div>

    <main class="site-content siimple-content siimple-content--extra-large content-body" *ngIf="authService.isLoggedIn()">
        <div class="siimple-grid-row">
            <div class="siimple-grid-col siimple-grid-col--2 siimple--display-sm-none siimple--display-md-none">
                <app-menu [unread_messages_count]=unread_messages_count></app-menu>
            </div>
            <div class="siimple-grid-col siimple-grid-col-sm--12 siimple-grid-col-md--12 siimple-grid-col-xl--10"
                [class.siimple-grid-col--10]="!rightSideBarVisible"
                [class.siimple-grid-col--7]="rightSideBarVisible">
                <router-outlet></router-outlet>
            </div>
            <div class="siimple-grid-col siimple-grid-col--3" *ngIf="rightSideBarVisible">
                <app-user-profile-level [username]=username></app-user-profile-level>
                <div *ngIf="isRouterLinkBody || isRouterLinkWorkouts">
                    <app-user-progress-charts [username]=username [visibleChartData]="chartDataVisibility" *ngIf="chartDataVisibility">
                    </app-user-progress-charts>
                </div>
                <div *ngIf="!isRouterLinkWorkouts && !isRouterLinkBody">
                    <app-leaderboard [username]=username></app-leaderboard>
                </div>
            </div>
        </div>
    </main>

    <main class="site-content siimple-content siimple-content--large content-body" *ngIf="!authService.isLoggedIn()">
        <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>
</div>

<div class="menu-overlay-opacity" (click)="overlayClick()"
    [style.opacity.%]="overlayOpacity"
    [style.pointer-events]="overlayPointerEvents"
        [style.transition.ms]="transitionOverlayMs"
        (touchstart)="touchStart($event)" (touchend)="touchEnd($event)" (touchmove)="touchMove($event)"
></div>

<div class="navigation-drawer-invisible-slider"
        (touchstart)="touchStartInvisibleDrawer($event)" 
        (touchend)="touchEndInvisibleDrawer($event)" 
        (touchmove)="touchMoveInvisibleDrawer($event)"
    *ngIf="authService.isLoggedIn()"
></div>

<app-snackbar 
    [visible]="updateSnackbarVisible"
    [messageText]="'New version available' | translate"
    [actionText]="'UPDATE' | translate"
    (actionInvoked)="updateApplication()"
    (actionDismissed)="dismissUpdateNotification()"
>
</app-snackbar>