<ul class="siimple-list siimple-list--hover">
    <li class="siimple-list-item" *ngFor="let user of users">
        <div class="profile-container">
            <app-user-tag [username]=user.username [profile_filename]=user.profile_filename>
            </app-user-tag>

            <span *ngIf="showActionButton" 
                class="siimple-btn siimple-btn--primary profile-action-button"
                (click)="action(user)">
                <fa-icon *ngIf="actionIcon" [icon]=actionIcon></fa-icon>
                <span class="siimple--ml-1">
                    {{actionText}}
                </span>
            </span>
        </div>
    </li>
</ul>