<ul class="siimple-list siimple-list--hover">
    <li class="siimple-list-item" *ngFor="let user of users">
        <div class="profile-container">
            <img *ngIf="user.profile_filename" [src]="getProfileImageURL(user)" class="round-image profile-image" />
            <fa-icon *ngIf="!user.profile_filename" [icon]="faUserCircle" 
                class="siimple--color-primary" size="2x">
            </fa-icon>

            <span class="profile-user-info">
                <a [routerLink]="['/users', user.username, 'profile']" class="siimple-link">
                    {{user.first_name}} {{user.last_name}} (@{{user.username}})
                </a>
            </span>
            <span *ngIf="showActionButton" 
                class="siimple-btn siimple-btn--dark profile-action-button"
                (click)="action(user)">
                <span class="siimple--mr-1" *ngIf="actionIcon">
                    <fa-icon [icon]=actionIcon></fa-icon>
                </span>
                <span>
                    {{actionText}}
                </span>
            </span>
        </div>
    </li>
</ul>