.profile-action-buttons-container {
  position: absolute;            
  right: 10px;                    
  top: 50%;                      
  transform: translateY(-50%);   
}

.profile-image {
  width: 32px;
  height: 32px;
}

.profile-container {
  position: relative;
}

.profile-container img, .profile-icon {
  float: left;
  margin-right: 10px;
  vertical-align: middle;
}

.profile-user-info {
  height: 32px;            
  display: table-cell;
  vertical-align: middle;
}