<article class="siimple-card" *ngIf="release">
    <header class="siimple-card-header release-header" >
        <span class="user-profile" >
            <span >
                <a class="siimple-link" [routerLink]=routerLink >
                    <span *ngIf="release.version">
                        {{release.version}}
                    </span>
                </a>
            </span>

        </span>

        <span class="siimple-tag state-tag" 
            *ngIf="release.state != 'd'"
            [class.siimple-tag--success]="release.state=='d'" 
            [class.siimple-tag--warning]="release.state=='p'">
            {{stateLabel.get(release.state)}}
        </span>
        <span *ngIf="release.state == 'd'" class="deploy-tag siimple-small">
            {{release.deploy_date |localeDate}}
        </span>
    </header>
    <div class="siimple-card-body">
        <div class="">
            <div class="keep-original-formatting">
                {{release.description}}
            </div>

            <div *ngIf="release.features && release.features.length > 0" class="siimple--mt-3">
                <div class="siimple-rule "></div>
            
                <div class="">
                    <ul class="siimple-list siimple-list--hover">
                        <li *ngFor="let feature of release.features" class="siimple-list-item list-item clickable" [routerLink]="['/users', username, 'feature', feature.id]">
                            <span>
                                <span class="siimple--mr-1 siimple--text-bold">#{{feature.id}}</span>  
                                <span class=" siimple-link">{{feature.title}}</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div *ngIf="detailView" class="siimple--mt-3">
                <div class="siimple-rule "></div>
            
                <div class="owner-user-container">
                    <app-user-tag [username]=release.user.username [profile_filename]=release.user.profile_filename>
                    </app-user-tag>
            
                    <small class="siimple-small siimple--ml-2" *ngIf="release.date">{{release.date.toString() | timeAgo}}</small>
                </div>
            </div>
        </div>
    </div>
    <footer class="siimple-card-footer release-footer">
        <app-card-social-interaction [shareTitle]="shareTitle" [shareLink]="shareLink" [likeNumber]=release.likes
            [target_release]=release.id
            [commentNumber]=release.comment_number content_type_model='release' [id]=release.id
            [commentsSectionOpen]=commentsSectionOpen>
        </app-card-social-interaction>
    </footer>
</article>