<app-delete-modal [(visible)]="deleteModalVisible" title='Delete measurement?'
    body='This will delete your measurement and associated data. Are you sure you want to proceed?' (deleted)="delete()"
    (canceled)="hideDeleteModal()">
</app-delete-modal>

<div *ngIf="!loading">
    <div *ngIf="!userIsOwner">
        <div *ngIf="notFound">
            <app-page-not-found>
            </app-page-not-found>
        </div>
        <div *ngIf="userBioData">
            <app-measurement-card [userBioData]="userBioData" [commentsSectionOpen]=true [detailView]=true></app-measurement-card>
        </div>
    </div>

    <div *ngIf="userIsOwner">
        <form class="siimple-card siimple-form siimple--mb-0" #exerciseForm="ngForm">
            <div class="siimple-form-title form-title">Measurement detail</div>

            <app-user-bio-data-skeleton [userBioData]="userBioData" [triedToSave]="triedToSave">
            </app-user-bio-data-skeleton>

            <div class="detail-operations-separator"></div>

            <button *ngIf="showSaveButton()" class="siimple-btn siimple-btn--success siimple--mt-2" (click)="save()"
                [class.siimple-btn--disabled]="saving" [disabled]="saving">
                <fa-icon [icon]="faSave" class="  siimple--mr-1" *ngIf="!saving"></fa-icon>
                <fa-icon [icon]="faCircleNotch" [spin]=true class="  siimple--mr-1" *ngIf="saving"></fa-icon>
                Save
            </button>
            <button *ngIf="showDeleteButton()" class="siimple-btn siimple-btn--error siimple--mt-2 siimple--ml-2"
                [class.siimple-btn--disabled]="deleting" [disabled]="deleting" (click)="showDeleteModal()">
                <fa-icon [icon]="faTrash" class="  siimple--mr-1" *ngIf="!deleting"></fa-icon>
                <fa-icon [icon]="faCircleNotch" [spin]=true class="  siimple--mr-1" *ngIf="deleting"></fa-icon>
                Delete
            </button>
        </form>
    </div>
</div>