@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

a {
  text-decoration: inherit;
  color: inherit;
  font-family: inherit;
}

input, select, textarea, button {
  font-family: "Ubuntu", "Roboto", sans-serif; 
}

.form-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}

/* Hide up down on input for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide up down on input for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input,
textarea,
button,
select,
a,
div,
span {
  -webkit-tap-highlight-color: transparent;
}

.detail-operations-separator {
  display: block;
  height: 2px;
  background-color: #dde5ee;
  padding: 0;
  margin-top: 15px;
  /* margin-bottom: 15px; */
  border: 0;
}

.input-aux-label {
  font-family: "Ubuntu", "Roboto", sans-serif;
  position: absolute; 
  top: 0;
  right: 10px;
  color: #a1b0cf;
  line-height: 34px;
  font-size: 14px;
  font-weight: 400;
  pointer-events: none;
}

.input-container {
  position: relative; 
}

.siimple-input-date {
    height: 34px;
    background-color: #eef2f7;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 400;
    color: #546778;
    outline: 0;
}

.siimple-input-time {
    height: 34px;
    background-color: #eef2f7;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 400;
    color: #546778;
    outline: 0;
}

.site-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
/* You can add global styles to this file, and also import other style files */
:-moz-ui-invalid:not(output) {
box-shadow: none;
}

.close-top-right {
	display: block;
	position: relative;
	top: 24px;
	left: calc(100% - 24px);
	width: 16px;
	height: 16px;
	cursor: pointer;
	opacity: .6;
	transition: opacity .3s;
}

.tab-content-selected {
    display: block !important;
}

.tab-content {
    display: none;
}

.round-image {
	border-radius: 50%;
}

.round-box-container {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #eef2f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
}

ul {
  padding: 0px;
  list-style-type: none;
}

.toolbar {
  display: flex;
  align-items: center;
}

.toolbar-title {
  font-size: 40px;
  font-weight: 600;
  color: #546778;
}

.toolbar-buttons {
  margin-left: auto;
}

.toolbar-button {
  margin-left: 5px !important;
}

.card-social-interaction-container {
}

.modal-header-corner {
  display: block;
  float: right;
  position: relative;
  width: 16px;
  height: 24px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.modal-header-corner:hover {
  opacity: 1;
}

.modal-header-corner::before, .modal-header-corner::after {
  width: 16px;
  height: 3px;
  background-color: #546778;
  position: absolute;
  border-radius: 1px;
  top: 10px;
}

.self-centered {
  align-self: center;
}

.keep-original-formatting {
  white-space: pre-wrap;
}

.actions-retriever-container {
  clear: both;
  padding: 8px;
  position: relative;
  z-index: -1;
  align-items: center;
  text-align: center;
}

.clickable {
	cursor: pointer;
}

.round-right {
  border-radius: 0px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.no-round-right {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

@media only screen and (min-width: 600px) {
    .phones-only {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .md-and-lower-only {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    .lg-and-higher-only {
        display: none;
    }
}

.loading-delete-icon {
    display: block;
    float: right;
    position: relative;
}

.owner-user-container {
    display: flex;
    align-items: baseline;
}

.demo-title-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.demo-title-container {
    background: #ededf0;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 51px;
    color: #546778;
}

.demo-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.demo-image {
    /* flex-shrink: 0;
    max-width: 400px;
    min-height: auto;
    */
    max-width: 100%;
    height: auto;
}

.demo-image-left {
    margin-right: 20px;
}

.demo-image-right {
    margin-left: 20px;
}

.demo-text-header {
    display: block;
    font-size: 28px;
    font-weight: 600;
    line-height: 29px;
    color: #546778;
    padding: 0;
    margin-bottom: 15px;
}

.demo-text {
    font-size:18px;
    flex: 1;
}

.demo-card-stripped {
    background: #ededf0;
}

.demo-card {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    color: #546778;
    font-size: 16px;

}

.demo-card-body {
    padding: 12px;
}

.demo-p {
    line-height: 24px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 801px) {
  .demo-only-small-screens {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  .demo-text {
    flex: 0 0 100%;
  }

  .demo-only-large-screens {
    display: none !important;
  }

    .demo-image {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .demo-image-left {
        margin-top: 10px !important;
    }

    .demo-image-right {
        margin-top: 10px !important;
    }
}