.site-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
/* You can add global styles to this file, and also import other style files */
:-moz-ui-invalid:not(output) {
box-shadow: none;
}

.close-top-right {
	display: block;
	position: relative;
	top: 24px;
	left: calc(100% - 24px);
	width: 16px;
	height: 16px;
	cursor: pointer;
	opacity: .6;
	transition: opacity .3s;
}

.tab-content-selected {
    display: block !important;
}

.tab-content {
    display: none;
}

.round-image {
	border-radius: 50%;
}

.round-box-container {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #eef2f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
}

ul {
  padding: 0px;
  list-style-type: none;
}

input[type=date] {
	font-family: Roboto,sans-serif;
	font-size: 14px;
	font-weight: 400;
}

input[type=time] {
	font-family: Roboto,sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.toolbar {
  display: flex;
  align-items: center;
}

.toolbar-title {
  font-size: 40px;
  font-weight: 600;
  color: #546778;
}

.toolbar-buttons {
  margin-left: auto;
}

.toolbar-button {
  margin-left: 5px !important;
}

.card-social-interaction-container {
}

.modal-header-corner {
  display: block;
  float: right;
  position: relative;
  width: 16px;
  height: 24px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.modal-header-corner:hover {
  opacity: 1;
}

.modal-header-corner::before, .modal-header-corner::after {
  width: 16px;
  height: 3px;
  background-color: #546778;
  position: absolute;
  border-radius: 1px;
  top: 10px;
}

.self-centered {
  align-self: center;
}

.keep-original-formatting {
  white-space: pre-wrap;
}

.actions-retriever-container {
  clear: both;
  padding: 8px;
  position: relative;
  z-index: -1;
  align-items: center;
  text-align: center;
}

.clickable {
	cursor: pointer;
}

.round-right {
  border-radius: 0px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.no-round-right {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

@media only screen and (min-width: 600px) {
    .phones-only {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .md-and-lower-only {
        display: none;
    }
}

.loading-delete-icon {
    display: block;
    float: right;
    position: relative;
}

.loading-spinner-container {
  margin-top: calc(15vh);
}

.loading-spinner {
  position: absolute;
  left: 19px;
  top: 23px;
  z-index: 51;
  color: white;
  background-color: #4e91e4;
  pointer-events: none;
}