<div class="siimple-modal modal-window siimple-modal--small" id="password-modal" *ngIf="visible">
    <div class="siimple-modal-content">
        <div class="siimple-modal-header">
            <div class="siimple-modal-header-title">Change password</div>
            <div class="siimple-modal-header-close" id="modal-close" (click)="hide()"></div>
        </div>
        <div class="siimple-modal-body modal-window-body">
            <div class="siimple-field">
                <input type="old_password" class="siimple-input siimple-input--fluid" required name="old_password"
                    id="old_password" [(ngModel)]="model_old_password" type="password" #old_password="ngModel"
                    placeholder="Old password">

                <div *ngIf="old_password.invalid && (old_password.dirty || triedToSave)">
                    <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                </div>
                <div *ngIf="old_password_error">
                    <div class="siimple-field-helper siimple--color-error">{{old_password_error}}</div>
                </div>
            </div>

            <div class="siimple-field">
                <input type="password" class="siimple-input siimple-input--fluid" required name="password" id="password"
                    [(ngModel)]="model_new_password" type="password" #password="ngModel" placeholder="New password">

                <div *ngIf="password.invalid && (password.dirty || triedToSave)">
                    <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                </div>
                <div *ngIf="new_password_error">
                    <div class="siimple-field-helper siimple--color-error">{{new_password_error}}</div>
                </div>
            </div>

            <div class="siimple-field siimple--mb-0">
                <input type="confirm_password" class="siimple-input siimple-input--fluid" required
                    name="confirm_password" id="confirm_password" [(ngModel)]="model_confirm_password" type="password"
                    #confirm_password="ngModel" placeholder="Confirm password">

                <div *ngIf="confirm_password.invalid && (confirm_password.dirty || triedToSave)">
                    <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                </div>
                <div *ngIf="confirm_password_error">
                    <div class="siimple-field-helper siimple--color-error">{{confirm_password_error}}</div>
                </div>
            </div>
        </div>
        <div class="siimple-modal-footer">
            <button class="siimple-btn siimple-btn--success" type="button" (click)="change()">
                <fa-icon [icon]="faKey" class="  siimple--mr-1" *ngIf="!changing"></fa-icon>
                <fa-icon [icon]="faCircleNotch" [spin]=true class="  siimple--mr-1" *ngIf="changing"></fa-icon>
                Change
            </button>
            <button class="siimple-btn siimple-btn--error siimple--ml-2" type="button" (click)="hide()">
                <fa-icon [icon]="faTimes" class="siimple--mr-1"></fa-icon>
                Cancel
            </button>
        </div>
    </div>
</div>