<form>
    <div class="siimple-card-body" *ngIf="progression">
        <div class="siimple-grid">
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--12 siimple--pt-0">
                    <div class="siimple--display-inline-block">
                        <div class="siimple-radio">
                            <input type="radio" id="{{idExercise}}" value="e" name="{{idGroup}}"
                                [(ngModel)]="progression.progression_type" #by_exercise="ngModel"
                                (change)="clearUnusedParameters()">
                            <label for="{{idExercise}}"></label>
                        </div>
                        <label class="siimple-label clickable" for="{{idExercise}}" translate>By Exercise</label>
                    </div>

                    <div class="siimple--display-inline-block">
                        <div class="siimple-radio">
                            <input type="radio" id="{{idCharacteristics}}" value="c" name="{{idGroup}}"
                                [(ngModel)]="progression.progression_type" #by_characteristics="ngModel"
                                (change)="clearUnusedParameters()">
                            <label for="{{idCharacteristics}}"></label>
                        </div>
                        <label class="siimple-label clickable" for="{{idCharacteristics}}" translate>By Exercise Type</label>
                    </div>

                    <div *ngIf="progression.validations && progression.validations['progression_type'] && triedToSave">
                        <div class="siimple-field-helper siimple--color-error">
                            {{progression.validations['progression_type']}}</div>
                    </div>
                </div>
            </div>
            <div class="siimple-grid-row" *ngIf="progression.progression_type">
                <div class="tab-content" [class.tab-content-selected]="progression.progression_type=='e'">
                    <div class="siimple-grid-col siimple-grid-col--12 siimple-grid-col--sm-12 siimple--py-0">
                        <div class="siimple-form-field">
                            <div class="siimple-form-field-label" translate>Exercise</div>
                            <exercises-input
                                [(ngModel)]="progression.exercise" 
                                #exercise="ngModel"
                                name="exercise"
                                id="exercise"
                            >
                            </exercises-input>

                            <div *ngIf="progression.validations && progression.validations['exercise'] && triedToSave">
                                <div class="siimple-field-helper siimple--color-error">
                                    {{progression.validations['exercise']}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" [class.tab-content-selected]="progression.progression_type=='c'">
                    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12 siimple--py-0">
                        <div class="siimple-form-field">
                            <div class="siimple-form-field-label" translate>Mechanics</div>
                            <select class="siimple-select siimple-select--fluid" name="mechanics" id="mechanics"
                                [(ngModel)]="progression.mechanics" #mechanics="ngModel">
                                <option [ngValue]="null"></option>
                                <option *ngFor="let mechanicsModel of mechanicsLabel | keyvalue"
                                    value={{mechanicsModel.key}}>
                                    {{mechanicsModel.value}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12 siimple--py-0">
                        <div class="siimple-form-field">
                            <div class="siimple-form-field-label" translate>Modality</div>
                            <select class="siimple-select siimple-select--fluid" name="modality" id="modality"
                                [(ngModel)]="progression.modality" #modality="ngModel">
                                <option [ngValue]="null"></option>
                                <option *ngFor="let modalityModel of modalityLabel | keyvalue"
                                    value={{modalityModel.key}}>
                                    {{modalityModel.value}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12 siimple--py-0">
                        <div class="siimple-form-field">
                            <div class="siimple-form-field-label" translate>Force</div>
                            <select class="siimple-select siimple-select--fluid" name="force" id="force"
                                [(ngModel)]="progression.force" #force="ngModel">
                                <option [ngValue]="null"></option>
                                <option *ngFor="let forceModel of forceLabel | keyvalue" value={{forceModel.key}}>
                                    {{forceModel.value}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12 siimple--py-0">
                        <div class="siimple-form-field">
                            <div class="siimple-form-field-label" translate>Section</div>
                            <select class="siimple-select siimple-select--fluid" name="section" id="section"
                                [(ngModel)]="progression.section" #section="ngModel">
                                <option [ngValue]="null"></option>
                                <option *ngFor="let sectionModel of sectionLabel | keyvalue" value={{sectionModel.key}}>
                                    {{sectionModel.value}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div *ngIf="progression.validations && progression.validations['parameters'] && triedToSave">
                    <div class="siimple--ml-2 siimple-field-helper siimple--color-error">
                        {{progression.validations['parameters']}}</div>
                </div>
            </div>

            <div class="siimple-grid-row" *ngIf="progression.progression_type && !progression.collapsed">
                <div class="siimple-grid-col siimple-grid-col--12 siimple-grid-col--sm-12 siimple--py-0">
                    <div class="siimple-form-field">
                        <div class="siimple-form-field-label" translate>Parameter</div>
                        <select class="siimple-select siimple-select--fluid" name="parameter_type" id="parameter_type"
                            [(ngModel)]="progression.parameter_type" #parameter_type="ngModel"
                            (change)="filterUnits()"
                            >
                            <option [ngValue]="null"></option>
                            <option *ngFor="let parameter_typeModel of parameterTypeLabel | keyvalue" value={{parameter_typeModel.key}}>
                                {{parameter_typeModel.value}}
                            </option>
                        </select>
                        <div *ngIf="progression.validations && progression.validations['parameter_type'] && triedToSave">
                            <div class="siimple-field-helper siimple--color-error">
                                {{progression.validations['parameter_type']}}</div>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12 siimple--py-0">
                    <div class="siimple-form-field">
                        <div class="siimple-form-field-label" translate>Percentage increase</div>
                        <input type="number" class="siimple-input siimple-input--fluid" name="percentage_increase"
                            id="percentage_increase" [(ngModel)]="progression.percentage_increase"
                            #percentage_increase="ngModel" [placeholder]="'% increase' | translate">
                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12 siimple--py-0">
                    <div class="siimple-form-field">
                        <div class="siimple-form-field-label" translate>Initial value</div>
                        <input type="number" class="siimple-input siimple-input--fluid" name="initial_value"
                            id="initial_value" [(ngModel)]="progression.initial_value" #initial_value="ngModel"
                            [placeholder]="'Initial value' | translate">
                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12 siimple--py-0">
                    <div class="siimple-form-field">
                        <div class="siimple-form-field-label" translate>Nominal increase</div>
                        <input type="number" class="siimple-input siimple-input--fluid" name="parameter_increase"
                            id="parameter_increase" [(ngModel)]="progression.parameter_increase" #parameter_increase="ngModel"
                            [placeholder]="'Nominal increase' | translate">
                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12 siimple--py-0">
                    <div class="siimple-form-field">
                        <div class="siimple-form-field-label" translate>Unit</div>
                        <select class="siimple-select siimple-select--fluid" name="unit" id="unit"
                            [(ngModel)]="progression.unit" #unit="ngModel">
                            <option [ngValue]="null"></option>
                            <option *ngFor="let unitModel of unitsFiltered" value={{unitModel.id}}>
                                {{unitModel.name}}
                            </option>
                        </select>

                        <div *ngIf="progression.validations && progression.validations['unit'] && triedToSave">
                            <div class="siimple-field-helper siimple--color-error">{{progression.validations['unit']}}
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="progression.validations && progression.validations['method'] && triedToSave">
                    <div class="siimple--ml-2 siimple-field-helper siimple--color-error">
                        {{progression.validations['method']}}</div>
                </div>
            </div>
        </div>
    </div>
</form>