.image-container {
  width: 192px;
}

.image-container img {
    max-width: 192px;
    max-height: 196px;
    width: auto;
    height: auto;
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
 
.crop-spinner {
  margin-top: 6px;
  margin-right: 20px;
}