<div class="toolbar">
    <div class="toolbar-title" translate>Features</div>

    <div class="toolbar-buttons" *ngIf="isLoggedIn()">
        <button class="siimple-btn siimple-btn--primary toolbar-button" 
          [routerLink]="['/users', username, 'feature']">
            <fa-icon [icon]="faCode" class="siimple--mr-1" [fixedWidth]=true></fa-icon>
            <span translate>
                New
            </span>
        </button>
    </div>
</div>

<app-features-list 
    [page]=page 
    [link]="['/users', username, 'features']" 
    [searchFilter]=searchFilter
    [username]="username"
    [featureClickNavigates]=true
    [queryParams]=queryParams>
</app-features-list>
