<div class="siimple-card" >
    <div class="siimple-card-header" align="center" translate>
        Leaderboard
    </div>

    <div class="siimple-card-body" *ngIf="positions == null || positions.length == 0">
        <div class="siimple--mt-2 siimple--mb-2 siimple-spinner siimple-spinner--primary siimple-spinner--large" *ngIf="loading"></div>
        <div *ngIf="!loading">
            <div class="no-ranks-for-time-period" translate>No ranks for this time period.</div> 
            <div class="be-the-first" translate>Be the first!</div>
        </div>
    </div>

    <div class="siimple-card-body"  *ngFor="let position of positions">
        <app-leaderboard-item [position]=position></app-leaderboard-item>
    </div>

    <div class="siimple-card-footer">
        <div class="leaderboard-timespan">
            <span [class.siimple--text-bold]="selectedLeaderboardTimespan == leaderboardTimespan.Week"  [class.siimple-link]="selectedLeaderboardTimespan != leaderboardTimespan.Week" (click)="changeTimespan(leaderboardTimespan.Week)"   translate >Week</span>
            <span [class.siimple--text-bold]="selectedLeaderboardTimespan == leaderboardTimespan.Month" [class.siimple-link]="selectedLeaderboardTimespan != leaderboardTimespan.Month" (click)="changeTimespan(leaderboardTimespan.Month)" translate >Month</span>
            <span [class.siimple--text-bold]="selectedLeaderboardTimespan == leaderboardTimespan.Year"  [class.siimple-link]="selectedLeaderboardTimespan != leaderboardTimespan.Year" (click)="changeTimespan(leaderboardTimespan.Year)"   translate >Year</span>
        </div>
    </div>
</div>
