<div class="siimple-content siimple-content--extra-large">
    <div class="siimple-h2 siimple--text-bold siimple--mb-1" align="center">
        <app-main-logo></app-main-logo>
    </div>
    <div>
        <app-alert></app-alert>
    </div>
    <div class="siimple-grid">
        <div class="siimple-grid-row">
            <div class="siimple-grid-col siimple-grid-col siimple-grid-col--3 siimple-grid-col-sm--12">
                <app-menu-legal></app-menu-legal>
            </div>
            <div class="siimple-grid-col siimple-grid-col--9 siimple-grid-col-sm--12 sd-column">

                <div class="siimple-card">
                    <h2 class="siimple-h2">Terms and conditions</h2>

                    <h3 class="siimple-h3">
                        1. Introduction
                    </h3>

                    <p class="siimple-p">
                        These Terms And Conditions (these “Terms” or these “Terms And Conditions”)
                        contained herein on this webpage, shall govern your use of this website and or associated mobile applications, including all pages
                        within this website and or associated mobile applications (collectively referred to herein below as this “Website”). These Terms apply in full
                        force and effect to your use of this Website and by using this Website, you expressly accept all terms and
                        conditions contained herein in full. If you have any objection to any of these Terms And Conditions, you must not use this Website.
                    </p>

                    <p class="siimple-p">
                        Exercise and physical activity are potentially dangerous and might result in serious injury.
                        We recommend you to talk to a doctor or qualified medical professional before starting any changes in your physical activity or diet.
                        Information present in this Website is not intended as a personal prescription, and the creators or associates of the Website will not take responsibility for any and all injuries related to information present or referenced within this Website.
                    </p>

                    <p class="siimple-p">
                        This Website is not for use by any minors (defined as those who are not at least 18 years of age), and you must not use this Website if you a minor.
                    </p>

                    <h3 class="siimple-h3">
                        2. Intellectual Property Rights
                    </h3>

                    <p class="siimple-p">
                        Other than content you own, which you may have opted to include on this Website, under these
                        Terms,
                        Sukuwatto and/or its licensors own all rights to the intellectual property and material
                        contained in
                        this Website, and all such rights are reserved. You are granted a limited license only, subject
                        to the
                        restrictions provided in these Terms, for purposes of viewing the material contained on this
                        Website.
                    </p>

                    <h3 class="siimple-h3">
                        3. Restrictions
                    </h3>

                    <p class="siimple-p">
                        You are expressly and emphatically restricted from all of the following:
                    </p>

                    <ul class="terms-list">
                        <li>publishing any Website material in any media;</li>
                        <li>selling, sub-licensing and/or otherwise commercializing any Website material;</li>
                        <li>publicly performing and/or showing any Website material;</li>
                        <li>using this Website in any way that is, or may be, damaging to this Website;</li>
                        <li>using this Website in any way that impacts user access to this Website;</li>
                        <li>using this Website contrary to applicable laws and regulations, or in a way that causes, or
                            may
                            cause, harm to the Website, or to any person or business entity;</li>
                        <li>engaging in any data mining, data harvesting, data extracting or any other similar activity
                            in
                            relation to this Website, or while using this Website;</li>
                        <li>using this Website to engage in any advertising or marketing;</li>
                    </ul>

                    <p class="siimple-p">
                        Certain areas of this Website are restricted from access by you and Sukuwatto may further
                        restrict
                        access by you to any areas of this Website, at any time, in its sole and absolute discretion.
                        Any user ID
                        and password you may have for this Website are confidential and you must maintain
                        confidentiality of such
                        information.
                    </p>

                    <h3 class="siimple-h3">
                        4. Your Content
                    </h3>

                    <p class="siimple-p">
                        In these Terms And Conditions, “Your Content” shall mean any audio, video, text, images or
                        other material you choose to display on this Website. With respect to Your Content, by
                        displaying it, you
                        grant Sukuwatto a non-exclusive, worldwide, irrevocable, royalty-free, sub-licensable license to
                        use,
                        reproduce, adapt, publish, translate and distribute it in any and all media.
                    </p>

                    <p class="siimple-p">
                        Your Content must be your own and must not be infringing on any third party’s rights. Sukuwatto
                        reserves the right to remove any of Your Content from this Website at any time, and for any
                        reason, without
                        notice.
                    </p>

                    <h3 class="siimple-h3">
                        5. Objectionable Content
                    </h3>

                    <p class="siimple-p">
                        To ensure that the environment within our platform remains safe and respectful we've defined and prohibited content harmful or inappropriate for our users.
                    </p>

                    <h4 class="siimple-h4">
                        5.1. Sexual Content and Profanity
                    </h4>

                    <p class="siimple-p">
                        We don't allow content that contains or promotes sexual activities or profanity, including pornography or any content intended to be sexually gratifying.
                    </p>

                    <h4 class="siimple-h4">
                        5.2. Hate Speech
                    </h4>

                    <p class="siimple-p">
                        We don't allow content that promotes violence, or incites hatred against individuals or groups based on race or ethnic origin, religion, disability, age, nationality, sexual orientation, gender, gender identity or any other characteristic that is associated with systemic discrimination or marginalization.
                    </p>

                    <h4 class="siimple-h4">
                        5.3. Violence
                    </h4>

                    <p class="siimple-p">
                        We don't allow content that depicts or facilitates gratuitous violence or other dangerous activities.
                    </p>

                    <h4 class="siimple-h4">
                        5.4. Terrorist Content
                    </h4>

                    <p class="siimple-p">
                        We do not allow content related to terrorism, be it content that promotes terrorist acts, incites violence or celebrates terrorist attacks.
                    </p>

                    <h4 class="siimple-h4">
                        5.5. Sensitive Events
                    </h4>

                    <p class="siimple-p">
                        We don't allow content that lacks reasonable sensitivity towards or capitalizes on natural disasters, atrocities, health crisis, conflicts, death, or other tragic events.
                    </p>

                    <h4 class="siimple-h4">
                        5.6. Bullying and Harassment
                    </h4>

                    <p class="siimple-p">
                        We don't allow any form of threats, harassment or bullying.
                    </p>

                    <h4 class="siimple-h4">
                        5.7. Child Endangerment
                    </h4>

                    <p class="siimple-p">
                        We don't allow any content that sexualizes minors or promotes pedophilia/inappropriate interactions targeted at minors.
                    </p>

                    <h4 class="siimple-h4">
                        5.8. Unapproved Substances
                    </h4>

                    <p class="siimple-p">
                        We don't allow content that promotes or is related to the selling of unapproved substances, irrespective of any claims of legality.
                    </p>

                    <h3 class="siimple-h3">
                        6. No Warranties
                    </h3>

                    <p class="siimple-p">
                        This Website is provided “as is,” with all faults, and Sukuwatto makes no express or implied
                        representations or warranties, of any kind related to this Website or the materials contained on
                        this
                        Website. Additionally, nothing contained on this Website shall be construed as providing consult
                        or advice
                        to you.
                    </p>

                    <h3 class="siimple-h3">
                        7. Limitation of Liability
                    </h3>

                    <p class="siimple-p">
                        In no event shall Sukuwatto , nor any of its officers, directors and employees, be liable to you
                        for
                        anything arising out of or in any way connected with your use of this Website, whether such
                        liability is
                        under contract, tort or otherwise, and Sukuwatto , including its officers, directors and
                        employees
                        shall not be liable for any indirect, consequential or special liability arising out of or in
                        any way
                        related to your use of this Website.
                    </p>

                    <h3 class="siimple-h3">
                        8. Indemnification
                    </h3>

                    <p class="siimple-p">
                        You hereby indemnify to the fullest extent Sukuwatto from and against any and all liabilities,
                        costs,
                        demands, causes of action, damages and expenses (including reasonable attorney’s fees) arising
                        out of or in
                        any way related to your breach of any of the provisions of these Terms.
                    </p>

                    <h3 class="siimple-h3">
                        9. Severability
                    </h3>

                    <p class="siimple-p">
                        If any provision of these Terms is found to be unenforceable or invalid under any applicable
                        law, such
                        unenforceability or invalidity shall not render these Terms unenforceable or invalid as a whole,
                        and such
                        provisions shall be deleted without affecting the remaining provisions herein.
                    </p>

                    <h3 class="siimple-h3">
                        10. Variation of Terms
                    </h3>

                    <p class="siimple-p">
                        Sukuwatto is permitted to revise these Terms at any time as it sees fit, and by using this
                        Website
                        you are expected to review such Terms on a regular basis to ensure you understand all terms and
                        conditions
                        governing use of this Website.
                    </p>

                    <h3 class="siimple-h3">
                        11. Assignment
                    </h3>

                    <p class="siimple-p">
                        Sukuwatto shall be permitted to assign, transfer, and subcontract its rights and/or obligations
                        under
                        these Terms without any notification or consent required. However, .you shall not be permitted
                        to assign,
                        transfer, or subcontract any of your rights and/or obligations under these Terms.
                    </p>

                    <h3 class="siimple-h3">
                        12. Entire Agreement
                    </h3>

                    <p class="siimple-p">
                        These Terms, including any legal notices and disclaimers contained on this Website, constitute
                        the entire
                        agreement between Sukuwatto and you in relation to your use of this Website, and supersede all
                        prior
                        agreements and understandings with respect to the same.
                    </p>

                    <h3 class="siimple-h3">
                        13. Governing Law & Jurisdiction
                    </h3>

                    <p class="siimple-p">
                        These Terms will be governed by and construed in accordance with the laws of the State of
                        Portugal, and you
                        submit to the non-exclusive jurisdiction of the state courts located in Portugal for
                        the
                        resolution of any disputes.
                    </p>

                    <span class="siimple-small">Last updated: <strong>May 1, 2021</strong>.</span>
                </div>
            </div>
        </div>
    </div>
</div>