<div class="siimple-modal siimple-modal--medium" id="modal" *ngIf="visible">
    <div class="siimple-modal-content">
        <div class="siimple-modal-header">
            <div class="siimple-modal-header-title">
                New exercise
            </div>
            <div class="siimple-modal-header-close" id="modal-close" (click)="close()"></div>
        </div>
        <div class="siimple-modal-body">
            <app-exercise-detail-skeleton
                [(exercise)]=exercise
                [(triedToSave)]=triedToSave
                [showTitle]=false
            >
            </app-exercise-detail-skeleton>
        </div>
        <div class="siimple-modal-footer">
            <button class="siimple-btn siimple-btn--success" type="button" (click)="save()">
                Save
            </button>
            <button class="siimple-btn siimple-btn--error siimple--ml-2" type="button" (click)="close()">
                Cancel
            </button>
        </div>
    </div>
</div>


