.adopt-plan-button {
    margin-left: auto;
}

.session-card {
    width: unset;
    min-width: 250px;
    max-width: 250px;
}

.session-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}