<div class="loading-spinner-container" *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="workout && !loading">
    <app-workout-finish-workout-modal 
        [visible]="finishWorkoutVisible"
        [workout]=workout
        (closed)="hideFinishWorkout()"
        (finished)="finishWorkout()"
        [triedToSave]="triedToSave"
    >
    </app-workout-finish-workout-modal>

    <form class="siimple-card siimple-form" #workoutForm="ngForm">

        <app-working-parameters [workingParameters]=workout.working_parameters 
        [visible]=workingParametersVisible  
            [triedToSave]=triedToSave
            (closed)="onWorkingParametersClosed()">
        </app-working-parameters>

        <app-user-bio-data-detail [username]=username [start]=workout.start 
            [visible]=userBioDataVisible 
            (closed)="onUserBioDataClosed()"
            (okayed)="onUserBioDataOkayed($event)">
        </app-user-bio-data-detail>

        <div class="siimple-form-title form-title">Workout detail</div>
        <div class="siimple-grid">
            <div class="siimple-grid-row" *ngIf="adoptedPlans && adoptedPlans.length > 0" >
                <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-sm--12 siimple--py-0">
                    <div class="siimple-form-field">
                        <select class="siimple-select siimple-select--fluid" name="plan"
                            id="plan" [(ngModel)]="workout.plan" #plan="ngModel" (change)="planChanged()">
                        <option [ngValue]="null">Spontaneous</option> 

                        <option *ngFor="let planModel of adoptedPlans" value={{planModel.id}}>
                            {{planModel.name}}
                        </option>
                    </select>
                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-sm--12 siimple--py-0"
                    *ngIf="workout.plan">
                    <div class="siimple-form-field">
                        <select class="siimple-select siimple-select--fluid" name="planSession"
                            id="planSession" [(ngModel)]="workout.plan_session" #planSession="ngModel" (change)="sessionChanged()">
                        <option [ngValue]="null">Select a session...</option> 

                        <option *ngFor="let planSessionModel of planSessions" value={{planSessionModel.id}}>
                            {{planSessionModel.name}}
                        </option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--4 siimple-grid-col-sm--6 siimple--py-0">
                    <div class="siimple-form-field">
                        <input type="date" class="siimple-input-date siimple-input--fluid" required name="start" id="start"
                            [ngModel]="workout.start | date:'yyyy-MM-dd'" 
                            (ngModelChange)="setWorkoutStartDate($event)"
                            #start="ngModel">

                        <div *ngIf="start.invalid && (start.dirty || triedToSave)">
                            <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-md--4 siimple-grid-col-sm--6 siimple--py-0">
                    <div class="siimple-form-field">
                        <input type="time" class="siimple-input-time siimple-input--fluid" required name="start_time" id="start_time"
                            [ngModel]="workout.start | date:'HH:mm'" 
                            (ngModelChange)="setWorkoutStartTime($event)"
                            #start_time="ngModel">

                        <div *ngIf="start_time.invalid && (start_time.dirty || triedToSave)">
                            <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-12 siimple--py-0">
                    <div class="siimple-form-field">
                        <input type="text" class="siimple-input siimple-input--fluid"  name="name" id="name"
                            placeholder="Session's name"
                            [(ngModel)]="workout.name" #name="ngModel">

                        <div *ngIf="name.invalid && (name.dirty || triedToSave)">
                            <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-sm--6 siimple--py-0">
                    <div class="siimple-form-field">
                        <button class="siimple-btn siimple-btn--primary siimple-btn--fluid" type="button" (click)="showWorkingParameters()">
                            <fa-icon [icon]="faWeightHanging" class="siimple--mr-1"></fa-icon>
                            Parameters
                        </button>
                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-sm--6 siimple--py-0">
                    <div class="siimple-form-field">
                        <button class="siimple-btn siimple-btn--primary siimple-btn--fluid" type="button" (click)="showUserBioData()">
                            <fa-icon [icon]="faWeight" class="siimple--mr-1"></fa-icon>
                            Measurements
                        </button>
                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-sm--12 siimple--py-0">
                    <div class="siimple-form-field">
                        <button class="siimple-btn siimple-btn--primary siimple-btn--fluid" type="button" (click)="toggleNotesVisibility()">
                            <fa-icon [icon]="faBook" class="siimple--mr-1" *ngIf="!notesVisibility"></fa-icon>
                            <fa-icon [icon]="faBookOpen" class="siimple--mr-1" *ngIf="notesVisibility"></fa-icon>
                            Notes
                        </button>
                    </div>
                </div>
            </div>
            <div class="siimple-grid-row" *ngIf="notesVisibility">
                <div class="siimple-grid-col siimple-grid-col--12 siimple--py-0">
                    <div class="siimple-form-field">
                        <textarea type="text" class="siimple-textarea siimple-textarea--fluid" rows="3" 
                            name="notes" id="notes" [(ngModel)]="workout.notes" #notes="ngModel" placeholder="Write your notes here"></textarea>

                        <div *ngIf="notes.invalid && (notes.dirty || triedToSave)">
                            <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="siimple-grid-row" *ngFor="let group of workout.groups">
                <div class="siimple-grid-col siimple-grid-col--12 siimple--pt-0 siimple--pb-0">
                    <app-workout-group [workoutActivityStatusChanged]="activityStatusChangedSubject.asObservable()"
                        (activityStatusChanged)="activityStatusChanged()" [workout]=workout [group]=group [triedToSave]=triedToSave
                        [hasAlternativeGroups]="hasAlternativeGroups(group)" (alternateGroupRequested)="alternateGroup(group)">
                    </app-workout-group>
                </div>
            </div>
            <button class="siimple-btn siimple-btn--primary" type="button" (click)="newGroup()">
                <fa-icon [icon]="faLayerGroup" class="siimple--mr-1"></fa-icon>
                New group
            </button>
        </div>
        <button class="siimple-btn siimple-btn--primary siimple--mt-2" (click)="save()" 
            type="button"
            [disabled]="saving"
            [class.siimple-btn--disabled]="saving">
            <fa-icon [icon]="faSave" class="  siimple--mr-1" *ngIf="!saving"></fa-icon>
            <fa-icon [icon]="faCircleNotch" class=" siimple--mr-1" [spin]=true *ngIf="saving"></fa-icon>
            Save
        </button>
        <button class="siimple-btn siimple-btn--success siimple--mt-2 siimple--ml-2" (click)="showFinishWorkoutModal()"
            type="button"
            [disabled]="finishing"
            [class.siimple-btn--disabled]="finishing">
            <fa-icon [icon]="faCheckSquare" class="  siimple--mr-1" *ngIf="!finishing"></fa-icon>
            <fa-icon [icon]="faCircleNotch" class="  siimple--mr-1" [spin]=true *ngIf="finishing"></fa-icon>
            Finish
        </button>
        <button *ngIf="workout.id && workout.id > 0" class="siimple-btn siimple-btn--error siimple--mt-2 siimple--ml-2" (click)="toggleDeleteModal()"
            type="button"
            [disabled]="deleting"
            [class.siimple-btn--disabled]="deleting">
            <fa-icon [icon]="faTrash" class="  siimple--mr-1" *ngIf="!deleting"></fa-icon>
            <fa-icon [icon]="faCircleNotch" class=" siimple--mr-1" [spin]=true *ngIf="deleting"></fa-icon>
            Delete
        </button>
    </form>

    <app-workout-timer  [workoutActivityStatusChanged]="activityStatusChangedSubject.asObservable()" [workout]=workout >

    </app-workout-timer>
</div>

<app-delete-modal 
    [(visible)]="deleteModalVisible"
    title='Delete workout?'
    body='This will delete your workout and associated data. Are you sure you want to proceed?'
    (deleted)="delete()"
    (canceled)="toggleDeleteModal()"
    >
</app-delete-modal>