<footer class="siimple-footer siimple-footer--extra-large siimple-footer--light">
    <div class="siimple-footer-rule"></div>

    <div class="siimple-grid-row siimple-small">
        <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-6" align="left">
            © 2020 <strong>sukuwatto</strong>
        </div>
        <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-6" align="right">
            <a routerLink="/terms-and-conditions/" class="siimple-footer-link siimple-footer-link--inline phones-only">Terms and conditions</a>
            <a routerLink="/privacy-policy" class="siimple-footer-link siimple-footer-link--inline siimple--display-md-none">Privacy Policy</a>
            <a routerLink="/cookie-policy" class="siimple-footer-link siimple-footer-link--inline siimple--display-md-none">Cookies</a>
        </div>
    </div>
</footer>