<div class="exercises-input-control">
    <input class="exercise-name-box siimple-input clickable no-round-right" 
        [value]="getExerciseName() | translate"
        [placeholder]="'Select an exercise' | translate" 
        readonly (click)="search()">

    <button 
    type="button"
    class="siimple-btn siimple-btn--error round-right erase-button" (click)="clear()">
        <fa-icon [icon]="faEraser"></fa-icon>
    </button>
</div>

<app-exercises-modal
    [exerciseType]="exerciseType"
    [visible]=modalVisible
    (selected)="select($event)"
    (closed)="modalClosed()"
></app-exercises-modal>