<div class="siimple-content siimple-content--extra-small">
    <div class="siimple--px-5 siimple--py-5">
        <div class="siimple-h2 siimple--text-bold siimple--mb-1" align="center">
            <app-main-logo></app-main-logo>
        </div>
        <div class="siimple-paragraph siimple-paragraph--lead" align="center" translate>
            Reset password
        </div>
        <div>
            <app-alert></app-alert>
        </div>
        <form class="siimple-card" #loginForm="ngForm" (submit)="reset()">
            <div class="siimple-card-body">
                <div class="siimple-field">
                    <div class="siimple-field-label" translate>Password</div>
                    <input type="password" class="siimple-input siimple-input--fluid" required name="password"
                        [disabled]="tokenExpired"
                        id="password" [(ngModel)]="newPassword" #password="ngModel"
                        [placeholder]="'Your password' | translate">

                    <div *ngIf="password.invalid && (password.dirty || triedToReset)">
                        <div class="siimple-field-helper siimple--color-error" translate>This field can't be empty</div>
                    </div>

                    <div *ngIf="passwordValidations">
                        <div class="siimple-field-helper siimple--color-error siimple--mb-0"
                            *ngFor="let validation of passwordValidations">
                            {{validation | translate}}
                        </div>
                    </div>
                </div>
                <div class="siimple-field">
                    <div class="siimple-field-label" translate>Confirm password</div>
                    <input type="password" class="siimple-input siimple-input--fluid" required name="confirm_password"
                        [disabled]="tokenExpired"
                        id="confirm_password" [(ngModel)]="confirmPassword" #confirm_password="ngModel"
                        [placeholder]="'Confirm your password' | translate">

                    <div *ngIf="confirm_password.invalid && (confirm_password.dirty || triedToReset)">
                        <div class="siimple-field-helper siimple--color-error" translate>This field can't be empty</div>
                    </div>

                    <div *ngIf="newPassword && newPassword.length > 0 && confirmPassword && confirmPassword.length > 0 && 
                        newPassword != confirmPassword && triedToReset">
                        <div class="siimple-field-helper siimple--color-error" translate>Password and confirmation don't match</div>
                    </div>
                </div>

                <button name="reset" type="submit" 
                    [disabled]="resetting || tokenExpired || newPassword.length == 0 || confirmPassword.length == 0 || (passwordValidations && passwordValidations.length > 0)" 
                    [class.siimple-btn--disabled]="resetting || tokenExpired || newPassword.length == 0 || confirmPassword.length == 0 || (passwordValidations && passwordValidations.length > 0)"
                    class="siimple-btn siimple-btn--success siimple-btn--fluid siimple--text-bold" translate>
                    Reset password
                </button>
            </div>
        </form>
    </div>
</div>