.google-play-badge {
    height: 62px;
}

.download-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.direct-download-button {
    height: 42px;
    width: 140px;
    margin-bottom: 4px;
}

.download-phone-image {
    height: 300px;
    width: auto;
    background-color: #262626;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    border-style: solid; 
    border-color: #666666;
    border-width: 2px;
}