<div class="site-body ">
    <app-navbar-index></app-navbar-index>

    <main class="site-content centered-text siimple-content siimple-content--medium content-body with-inter-font">
        <div class="">
            <img width="720" height="1440" class="download-phone-image hero-image" 
                src="../../assets/images/sukuwatto-mobile-screenshot.jpg" alt="Sukuwatto android app">

            <h2 class="siimple-h2" translate>Sukuwatto for Android</h2>

            <p class="siimple-p" translate>
                You can download Sukuwatto for Android here or on the Google Play Store.
            </p>

            <div class="download-buttons-container">
                <a href='https://play.google.com/store/apps/details?id=com.sukuwatto.app'>
                    <img class="google-play-badge" alt='Get it on Google Play' src='../../assets/images/google-play-badge.png' *ngIf="language=='en'" />
                    <img class="google-play-badge" alt='Disponível no Google Play' src='../../assets/images/google-play-badge-pt.png' *ngIf="language=='pt'" />
                </a> 
                <button type="button" class="siimple-btn siimple-btn--primary with-inter-font direct-download-button"
                    routerLink="/android-download/" aria-label="Direct Android app download">
                    <fa-icon [icon]="faDownload" class="siimple--mr-1" aria-hidden="true"></fa-icon>
                    <span translate>Download</span> 
                </button>
            </div>
        </div>

        <small class=" siimple-small " translate>
            Google Play and the Google Play logo are trademarks of Google LLC.
        </small>
    </main>

    <app-footer></app-footer>
</div>

<app-alert></app-alert>
