<div class="siimple-modal siimple-modal--small" id="workout-set-edit-modal" *ngIf="visible">
    <div class="siimple-modal-content">
        <div class="siimple-modal-header">
            <div class="siimple-modal-header-title">Workout Activity</div>
            <div class="siimple-modal-header-close" id="modal-close" (click)="hide()"></div>
        </div>
        <div class="siimple-modal-body">
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--12">
                        <div class="siimple-form-field">
                            <div class="siimple-form-field-label">Exercise</div>
                            <exercises-input
                                    [(ngModel)]="exercise_id" 
                                    #exercise="ngModel"
                                    name="exercise"
                                    id="exercise"
                                    required
                                >
                            </exercises-input>
                            <div *ngIf="exercise.invalid && (exercise.dirty || triedToHide)">
                                <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--6">
                        <div class="siimple-form-field">
                            <div class="siimple-form-field-label">Weight</div>
                            <input type="number" class="siimple-input siimple-input--fluid" name="weight" id="weight"
                                required
                                [(ngModel)]="workoutActivity.weight" #weight="ngModel" placeholder="Weight">
                            <div *ngIf="weight.invalid && (weight.dirty || triedToHide)">
                                <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                            </div>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6">
                        <div class="siimple-form-field">
                            <div class="siimple-form-field-label">Unit</div>
                            <select class="siimple-select siimple-select--fluid" name="unit" id="unit"
                                required
                                [(ngModel)]="workoutActivity.unit" #unit="ngModel">
                                <option *ngFor="let unitModel of units" value={{unitModel.id}}>
                                    {{unitModel.name}}
                                </option>
                            </select>
                            <div *ngIf="unit.invalid && (unit.dirty || triedToHide)">
                                <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--12">
                        <div class="siimple-form-field">
                            <div class="siimple-form-field-label">Repetition Type</div>
                            <select class="siimple-select siimple-select--fluid" name="repetition_type" id="repetition_type"
                                required
                                [(ngModel)]="workoutActivity.repetition_type" #repetition_type="ngModel"
                                (change)="repetitionTypeChange()">
                                <option *ngFor="let repetition_typeModel of repetitionTypeLabel | keyvalue"
                                    value={{repetition_typeModel.key}}>
                                    {{repetition_typeModel.value}}
                                </option>
                            </select>
                            <div *ngIf="repetition_type.invalid && (repetition_type.dirty || triedToHide)">
                                <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="siimple-grid-row" 
                    *ngIf="workoutActivity.repetition_type == repetitionType.Standard || workoutActivity.repetition_type == repetitionType.Range">
                    <div class="siimple-grid-col"
                        [class.siimple-grid-col--12]="workoutActivity.repetition_type == repetitionType.Standard"
                        [class.siimple-grid-col--6]="workoutActivity.repetition_type == repetitionType.Range">
                        <div class="siimple-form-field">
                            <div class="siimple-form-field-label">Repetition number</div>
                            <input
                                type="number" class="siimple-input siimple-input--fluid" name="expected_number_of_repetitions"
                                required
                                id="expected_number_of_repetitions" [(ngModel)]="workoutActivity.expected_number_of_repetitions"
                                #expected_number_of_repetitions="ngModel" placeholder="Repetition number">
                            <div *ngIf="expected_number_of_repetitions.invalid && (expected_number_of_repetitions.dirty || triedToHide)">
                                <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                            </div>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6"
                        *ngIf="workoutActivity.repetition_type == repetitionType.Range" > 
                        <div class="siimple-form-field">
                            <div class="siimple-form-field-label">Repetition up to</div>
                            <input type="number" 
                                required
                                class="siimple-input siimple-input--fluid" name="number_of_repetitions_up_to"
                                id="number_of_repetitions_up_to" [(ngModel)]="workoutActivity.expected_number_of_repetitions_up_to"
                                #number_of_repetitions_up_to="ngModel" placeholder="Up to">
                            <div *ngIf="number_of_repetitions_up_to.invalid && (number_of_repetitions_up_to.dirty || triedToHide)">
                                <div class="siimple-field-helper siimple--color-error">This field can't be empty</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="siimple-modal-footer">
            <button class="siimple-btn siimple-btn--success  siimple--mr-2" type="button" (click)="hide()">
                OK
            </button>
            <button class="siimple-btn siimple-btn--error" type="button" (click)="remove()">
                Delete
            </button>
        </div>
    </div>
</div>