<div align="center" class="svg-chart">
  <svg>
  </svg>
</div>

<div class="chart-legend-container" *ngIf="showLegend">
  <div class="chart-legend  " *ngIf="progressData">
    <div class="clickable chart-legend-item" [class.hidden-chart-legend-label]="isHidden(series)" (click)="toggle(series)"
      *ngFor="let series of progressData.series">
      <div class="chart-legend-swatch" [style.background-color]="colors[series.name]"></div>
      <small class="chart-legend-label siimple-small">
        {{series.name}}
      </small>
    </div>
  </div>
</div>
