.chart-legend-container {
    margin: 10px;
}

.chart-legend {
}

.chart-legend-item {
    break-inside: avoid;
    display: flex;
    align-items: center;
    padding-bottom: 1px;
    /* margin-right: 10px; */
}

.chart-legend-swatch {
    width: 15px;
    height: 15px;
    margin: 0 0.5em 0 0;
}

.chart-legend-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 15px - 0.5em);
    color: #546778;
}

.hidden-chart-legend-label {
    opacity: 0.5;
}

.chart-tooltip {	
    position: absolute;			
    text-align: center;			
    padding: 8px;				
    font: 12px sans-serif;		
    font-weight: 700;
    background: #dde5ee;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
    white-space: nowrap;
    transform: translateX(-50%);
}
